<div class="main-container" >
  <div class="topbottomLine pt-2 pb-2 mb-4" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 pt-1 pb-1 flexImage" >
          <img src="../../../../../assets/image/section-icons/IEEENews_sin_fondo.png" alt="News" class="IEEENoticiasImage">
        </div>
        <div class="col-md-7 col-sm-12 pt-1 pb-1 flexText" >
          <h1 class="page-title">{{ 'NAVBAR.NEWS' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showLoadingSpinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div *ngIf="!showLoadingSpinner">
    <app-pagination (next)="nextPage(false)" (previous)="prevPage(false)" [hasNext]="hasNextPage()" [hasPrevious]="hasPrevPage()" [currentPage]="currentPage" [pageCount]="pageCount"></app-pagination>
  </div>

  <div class="row news-grid">
    <div *ngFor="let noticia of newsData">
      <div class="col-sm margin-top">
        <app-news-card [noticia]="noticia"></app-news-card>
      </div>
    </div>
  </div>

  <div *ngIf="!showLoadingSpinner">
    <app-pagination (next)="nextPage(true)" (previous)="prevPage(true)" [hasNext]="hasNextPage()" [hasPrevious]="hasPrevPage()" [currentPage]="currentPage" [pageCount]="pageCount"></app-pagination>
  </div>
</div>
