
<div class="global-container" fxLayoutAlign="center center" fxLayout="column">

    <div class="row text-center">
        <div class="myCardIeeextreme" fxLayoutAlign="center center" fxLayout="row">
            <div [fxFlex.gt-sm]="50" class="card-ieeextreme">
                <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">IEEExtreme</h1>
                <p class="text">
                    La IEEExtreme es una competencia internacional de programación prescencial en equipos que tiene la particularidad de durar 24 hs. Somos la sede más importante del pais del toreno. 
                    
                    <!--Sostenemos que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, mediante actividades, fomentamos mecanismos para fortificar ambos tipos de conocimientos.-->
                </p>
                
                <a href="ieeextreme"> Ver más </a>
            </div>
            <div [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img  class="imageContent" src="../assets/image/ieee-extreme.jpg">
            </div>
        </div>
    </div>
</div>
<div class="global-container-b" fxLayoutAlign="center center" fxLayout="column">
    <div class="row text-center">
        <div class="myCardIeeextreme" fxLayoutAlign="center center" fxLayout="row">
            <div [fxHide.lt-md]="true" [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img class="imageContent" src="../assets/image/python-curso-b.jpg">
            </div>
            <div [fxFlex.gt-sm]="50" class="myCardPythonCurso">
                <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">Clases de Python</h1>
                <p class="text">
                    La programación es una habilidad que no es exclusiva de una profesión. Nuestro curso introductorio de Python esta orientado a estudiantes y profesionales de distintos campos que no son afines a la computación pero que indirectamente la necesitan.
                    <!--Sostenemos que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, mediante actividades, fomentamos mecanismos para fortificar ambos tipos de conocimientos.-->
                </p>
            </div>
            <div [fxHide.gt-sm]="true" [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img class="imageContent" src="../assets/image/python-curso-b.jpg">
            </div>
        </div>
    </div>
</div>
