html {
    min-height: 100%;
    height: auto;
}

body {
    padding: 10%;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    /*OLDBACKGROUND*/
    /* background: linear-gradient(75deg, rgba(50,39,88,1) 0%, rgba(201,83,107,1) 39%, rgba(227,157,64,1) 100%) no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.whiteRoundedBlock{
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 5vmin;
}

.topbottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: whitesmoke 2px solid;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.bottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

#mainTxt{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
}

.col-sm {
    text-align: center;
}

#firstDiv {
    position: absolute;
    top: 20%;
}

mdb-card {
    border-radius: 5vmin;
    margin: 1.5vmin;
}

mdb-card-text {
    text-align: left;
}


/* Flex */

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }

}
