
<!-- Loading -->
<div class="card" *ngIf="!newsData?.title">
    <div class="card-body">
        <table>
            <!-- Tags -->
            <tr>
                <ul class="tags">
                    <li class="loading">tag1</li>
                    <li class="loading">tag2</li>
                    <li class="loading">tag2</li>
                </ul>
            </tr>
            <!-- Title -->
            <tr>
                <h1 class="loading">Place holder title this shouldnt be visible</h1>
            </tr>
            <!-- Short description -->
            <tr>
                <p class="loading">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nemo numquam asperiores accusamus nostrum consequuntur beatae quam quasi, hic cupiditate excepturi! At voluptatem sed facere aperiam est quod, vel cumque!
                </p>
            </tr>
            <!-- Date -->
            <tr>
                <h4 class="loading">date</h4>
                <h4 class="loading">Por author</h4>
            </tr>
        </table>
    </div>

    <div class="card-img">
        <div class="loading" style="height: 200px; width: auto; margin: 2px;"></div>
    </div>
</div>

<!-- Loaded -->
<div class="card" id="mainArticle" *ngIf="newsData?.title">
    <div class="card-body">
        <table>
            <!-- Tags -->
            <tr>
                <ul class="tags">
                    <li *ngFor="let tag of newsData.tags">{{tag}}</li>
                </ul>
            </tr>
            <!-- Title -->
            <tr>
                <h1>{{newsData.title}}</h1>
            </tr>
            <!-- Short description -->
            <tr>
                <p>
                    {{newsData.shortIntro}}
                </p>
            </tr>
            <!-- Date -->
            <tr>
                <h4>{{newsData.date.getDay()+'-'+newsData.date.getMonth()+'-'+newsData.date.getFullYear()}}</h4>
                <h4>Por {{newsData.author}}</h4>
            </tr>
        </table>
    </div>

    <div class="card-img">
        <img src="{{newsData.imageUrl}}" alt="{{newsData.imageText}}" id="articlePhoto">
    </div>
</div>