<mat-grid-list cols="2">

    <!-- Main part -->
    <mat-grid-tile>

        <table>
            <!-- Tags -->
            <tr>
                <ul>
                    <li>tag1</li>
                    <li>tag2</li>
                    <li>tag3</li>
                </ul>
            </tr>
            <!-- Title -->
            <tr>
                <h1>Article Text</h1>
            </tr>
            <!-- Short description -->
            <tr>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius nostrum odio inventore nobis? Quia iure voluptas necessitatibus ab? Veritatis quasi repellat nesciunt nemo distinctio pariatur ut inventore impedit veniam.
                </p>
            </tr>
            <!-- Date -->
            <tr>
                <h4>Date</h4>
            </tr>
        </table>

    </mat-grid-tile>

    <!-- Photos -->
    <mat-grid-tile>
        <img src="https://i.kym-cdn.com/entries/icons/facebook/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg" alt="stonk" id="articlePhoto">
    </mat-grid-tile>
</mat-grid-list>