<div class="main-container">
  <div class="topbottomLine pt-2 pb-2 mb-4" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 pt-1 pb-1 flexImage" >
          <img src="../../../../../assets/image/section-icons/IEEESponsors-small.png" alt="Sponsors" class="IEEESponsorsImage">
        </div>
        <div class="col-md-7 col-sm-12 pt-1 pb-1 flexText" >
          <h1 class="page-title">{{ 'NAVBAR.SPONSORS' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group class="mt-3" mat-align-tabs="center">
    <mat-tab label="{{ 'GENERAL.ACTUAL' | translate }}">
      <div class="bottomLine">
        <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'GENERAL.PREVIOUS' | translate }}">
      <div class="bottomLine">
        <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getPreviousSponsors()"></app-sponsor-component>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
