<footer>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img class="imgFooter" src="./../../assets/image/ieee_mb_white.png" alt="Logo IEEE" width="190vmin">
          </div>
          <div class="imgFooter" class="col-sm">
            <img src="./../../assets/image/Logo circular/IEEE-Logo-Darkest.png" width="100vmin">
          </div>
          <div class="imgFooter" class="col-sm">
            <img src="./../../assets/image/Marca-ITBA-Color-Blanco-ALTA.png" alt="Logo ITBA" width="170vmin">
          </div>
        </div>
      </div>
</footer>