.middle {
    justify-content: center;
}
.spacenav{
    height:2.5em;
}
.img-container {
    display: block;
}
.full-width{
    width:100%;

}
.full-width-white{
    background: #4dd0e1;
    color: #000000;
    padding:10px;
}
.whitebackground-fullwidth{
    width:100%;
    background: #4dd0e1;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
}
.white-text{
    color:#ffffff;
}
.text-itba-ieee{
    color: #ffffff;
}
