<!--<div class="navbar" fxLayoutAlign="center center" fxLayout="row">
    <div>IEEExtreme</div> 
    <div>Acerca de</div>
    <div>Participa</div>
    <div>Sponsors</div>
</div>-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-3 justify-content-between fixed-top" [containerInside]="false">
    <!-- Collapsible content -->
        
        <!-- Links -->
        
        
        <!--<img src="../../assets/img/ieee-logo.png" class="img-container" alt="mdb logo">-->
        <!--<a class="navbar-brand" href=""><b>IEEE ITBA &nbsp;&nbsp;</b></a>-->
    
    <div class="full-width" fxLayoutAlign="center center" fxLayout="column">
        <div class="spacenav">
        
        </div>
        <div class="full-width" fxLayoutAlign="center center" fxLayout="row" >
            <div>
                <links class="collapse navbar-collapse "> 
                    
                <ul class="flex-fill navbar-nav">
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#about-ieeextreme')" class="nav-link waves-light" mdbWavesEffect><b>IEEExtreme</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#participa')" class="nav-link waves-light" mdbWavesEffect>Participa<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#sponsors')" class="nav-link waves-light" mdbWavesEffect>Sponsors<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                </links>  
            </div>
        </div>
        <!-- Links -->

        <!-- Collapsible content -->
        
    </div>
    
</mdb-navbar>
<mdb-navbar SideClass="navbar navbar-dark blue lighten-1 justify-content-between fixed-top" [containerInside]="false">
    <div class="text-itba-ieee" fxLayoutAlign="center center" fxLayout="row">
        <a class="text-itba-ieee" href=""><b>IEEE-ITBA Student Branch</b></a>&nbsp;>&nbsp;<b>IEEExtreme</b>
    </div>
</mdb-navbar>