<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>

<header>
  
  </header>
<body>
    <div class="topbottomLine pt-2 pb-2 mb-4 text-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm pt-1 pb-1" >
                    <h1 class="page-title">Log In</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mainFrame">

        <div class="row d-flex justify-content-center">
            <form id="account">
                <div>
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label for="email">Email</mat-label>
                        <input type="email" id="email" placeholder="ieee@itba.edu.ar" required matInput>
                    </mat-form-field>
                </div>
                <div>                
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label for="pass">Password</mat-label>
                        <input type="email" id="pass" placeholder="*****" required matInput>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center"><button id="login">Log In</button></div>
                
                <h4 id="passerr" [hidden]="isHidden"></h4>
            </form>
        </div>

        <div class="row d-flex justify-content-center mt-5">
            <h4>Don't have an account yet?</h4>
            <a class="ml-2" href="/register">Sign Up</a>
        </div>
      
    </div>
</body>
</html>