html {
    min-height: 100%;
    height: auto;
}

body {
    font-size: 3vmin;
    padding: 10%;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

h1{
    font-size: 30pt;
}

h3{
    font-size: 15pt;
    text-align: center;
}

hr {
    border-color: whitesmoke;
}

a{
    color: whitesmoke;
    font-weight: 100;
}

a:any-link{
    color: whitesmoke;
}

a:hover{
    color: rgb(138, 169, 255);
}

#mainFrame {
    padding: 5vmin;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 5vmin;
}

input{
    width: 100%;
    height: 30pt;
    margin-bottom: 2vmin;
    border: solid whitesmoke 1px;
    border-radius: 30px;
    padding: 2vmin;
    font-size: 15pt;
    background-color: rgba(245, 245, 245, 0.1);
    color: whitesmoke;
}

input::placeholder{
    color: rgba(245, 245, 245, 0.5);
}

button{
    font-size: 15pt;
    height: 30pt;
    border: solid whitesmoke 1px;
    color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.1);
    border-radius: 30px;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
    transition: all ease 0.5s;
}

button:hover {
    background-color: whitesmoke;
    color: black;
}

#passerr{
    font-size: 13pt;
    font-weight: 100;
    text-align: right;
}