<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="mainFrame">
        <h1>Hola!<br>Logueate.</h1><hr>
        <form id="account">
            <input type="email" id="email" placeholder="ieee@itba.edu.ar"><br>
            <input type="password" id="pass" placeholder="*****"><br>
            <button id="login">Log In</button>
            <h4 id="passerr" [hidden]="isHidden"></h4>
        </form>
        <br><br>
        <h3>
            Forgot Password?
            <br>
            <a href="">Click here.</a>
        </h3>
    </div>
</body>
</html>