
<div class="global-container" fxLayoutAlign="center center" fxLayout="column">

    <div class="row text-center">
        <div class="myCardContacto" fxLayoutAlign="center center" fxLayout="row">
            <div [fxFlex.gt-sm]="50" class="card-body" fxLayout="column">
                <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">Contacto</h1>
                <p class="text">
                    Para consultas generales enviar un mail a <b>ieee@itba.edu.ar.</b> <br>
                Para consultas sobre sponsorship en nuestros eventos contactar a cualquier miembro de nuestro equipo de fundraising (detalles aquí).
                </p>
            </div>

            <div [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img  class="imageContent" src="../assets/image/contacts.png">
            </div>
        </div>
    </div>
</div>