.global-container{
    padding:50px;
    width:100%;
    background:#e8f5e9 ;
}
.imageContent{
    max-width: 250px;
    width: auto;
    padding: 30px;
}
.myCardContacto{
    max-width: 1000px;
    color: #000000;
    flex-wrap: wrap;
    justify-content: center;
}