<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WritersForm</title>
</head>

<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine" id="home" style="margin-bottom:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext">Redactar Noticia</h1>
                </div>
            </div>
        </div>
    </div>

    <div>
        <mat-card>

            <mat-grid-list cols="4" rowHeight="4:1">
                <!-- Title -->
                <mat-grid-tile colspan="2">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Título</mat-label>
                        <input id="title" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Short Intro -->
                <mat-grid-tile colspan="2">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Copete</mat-label>
                        <input id="shortIntro" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Author -->
                <mat-grid-tile colspan="2">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Autor</mat-label>
                        <input id="author" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Image -->
                <mat-grid-tile colspan="2">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Imagen de Portada</mat-label>
                        <input id="imageUrl" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Body -->
                <mat-grid-tile colspan="4" rowspan="9">
                    <form [formGroup]="editorForm">
                        <div class="form-group">
                            <label for="editor">Cuerpo</label>
                            <quill-editor formControlName="editor"></quill-editor>
                        </div>
                    </form>
                </mat-grid-tile>



                <!-- Submit Buttons -->
                <mat-grid-tile colspan="4">
                    <!-- Listed -->
                    <div class="custom-control custom-checkbox" style="margin-right: 20px">
                        <input type="checkbox" class="custom-control-input" id="listed">
                        <label class="custom-control-label" for="listed">Listed</label>
                    </div><br><br>
                    <button mat-raised-button color="primary" id="submitNews" (click)="submitNews()"
                        style="margin-right: 20px">SUBIR NOTICIA</button>

                    <button mat-stroked-button color="primary">VISTA PREVIA</button>
                </mat-grid-tile>
            </mat-grid-list>


        </mat-card>

    </div>

    <div class="container">

    </div>


</body>

<app-footer></app-footer>

</html>