html {
    min-height: 100%;
    height: auto;
}

body {
    padding: 10%;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    /*OLDBACKGROUND*/
    /* background: linear-gradient(75deg, rgba(50,39,88,1) 0%, rgba(201,83,107,1) 39%, rgba(227,157,64,1) 100%) no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.whiteRoundedBlock{
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 5vmin;
}

.topbottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: whitesmoke 2px solid;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.bottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.topLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.noLine{
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    vertical-align: middle;
    align-content: center;
}

#home {
    text-align: center;
}

.col-sm {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    text-align: center;
}

.transparent {
    background-color: rgba(245, 245, 245, 0.3);
    padding: 3vmin;
    border-radius: 5vmin;
    color: whitesmoke;
    text-align: justify;
}

#facts {
    margin-top: 8vmin;
}

mdb-card {
    border-radius: 5vmin;
    margin: 1.5vmin;
}

mdb-card-text {
    text-align: left;
}

h1 {
    color: whitesmoke;
    font-size: 5vmin;
    font-weight: lighter;
}

.right {
    text-align: right;
}

#mailus {
    color: whitesmoke;
    font-size: 15vmin;
}

.whitebckg {
    background-color: transparent;
    color: black;
    background-color: whitesmoke;
    padding: 3vmin;
    border-radius: 5vmin;
}

.facts {
    color: whitesmoke;
    text-align: center;
    font-weight: lighter;
}

.dottedlineright {
    border-right: whitesmoke dashed 1px;
}

h2 {
    color: whitesmoke;
}

.sponsorContact {
    color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.3);
    text-align: center;
    font-weight: lighter;
    padding: 3vmin;
    border-radius: 5vmin;
}

.whiteLink {
    color: whitesmoke;
}

/* Flex */

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }

}