<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WritersForm</title>
</head>

<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine" id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext">Redactar Noticia</h1>
                </div>
            </div>
        </div>

    </div>

    <div>

        <mat-card>

            <mat-grid-list cols="4" rowHeight="4:1">
                <!-- Title -->
                <mat-grid-tile colspan="4">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Titulo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Copete -->
                <mat-grid-tile colspan="4">
                    <mat-form-field class="example-full-width" style="width:50vw">
                        <mat-label>Copete</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Body -->
                <mat-grid-tile colspan="4" rowspan="6">
                    <form [formGroup]="editorForm">
                        <div class="form-group">
                            <label for="editor">Cuerpo</label>
                            <quill-editor formControlName="editor"></quill-editor>
                        </div>
                    </form>
                </mat-grid-tile>

                <!-- Submit Buttons -->
                <mat-grid-tile colspan="4">
                    <button mat-raised-button color="primary">SUBIR NOTICIA</button>

                    <button mat-stroked-button color="primary">VISTA PREVIA</button>
                </mat-grid-tile>
            </mat-grid-list>


        </mat-card>

    </div>

    <div class="container">

    </div>


</body>

<app-footer></app-footer>

</html>