
<div class="global-container" fxLayoutAlign="center center" fxLayout="column">

    <div class="row text-center">
        <div class="myCardWie" fxLayoutAlign="center center" fxLayout="row">
            <div [fxFlex.gt-sm]="50" >
                <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">Women in Engineering</h1>
                <p class="text">
                    Nuestro objetivo es promover la diversidad en la tecnología mediante la educacion y representación.
                    <!--Sostenemos que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, mediante actividades, fomentamos mecanismos para fortificar ambos tipos de conocimientos.-->
                </p>
            </div>
            <div [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img  class="imageContent" src="../assets/image/WIE.PNG">
            </div>
        </div>
    </div>
</div>

<div class="global-container-b" fxLayoutAlign="center center" fxLayout="column">

    <div class="row text-center">
        <div class="myCardClubProgramadores"  fxLayoutAlign="center center" fxLayout="row">
            <div [fxHide.lt-md]="true" [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img  class="imageContent" src="../assets/image/web.svg">
            </div>
            <div [fxFlex.gt-sm]="50" class="card-body" fxLayout="column">
                <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">Club de programadores</h1>
                <p class="text">
                    Estamos construyendo un equipo de personas que tengan interés en incrementar pasión por la programación y mejorar su trabajo en equipo. La programación es una habilidad que siempre se puede mejorar y la experiencia de competir programando marca una antes y un después.
                    <!--Sostenemos que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, mediante actividades, fomentamos mecanismos para fortificar ambos tipos de conocimientos.-->
                </p>
            </div>
            <div [fxHide.gt-sm]="true" [fxFlex.gt-sm]="50"  fxLayoutAlign="center center" fxLayout="row">
                <img class="imageContent" src="../assets/image/web.svg">
            </div>
        </div>
    </div>
</div>
