.card {
    padding: 0 1rem;
}

.card-title {
    margin-bottom: .25rem;
    font-weight: bold;
}

.confirm-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
