.title-container {
    text-align: center;
}
  
.page-title {
    color: var(--bs-ieee-bright-blue);
    font-size: 2.5em;
    margin: 0.25em;
}

.grid {
    display: grid;
}

aside {
    grid-area: sidebar;
    padding: 1rem;
}

.content {
    grid-area: content;
    padding: 1rem;
    margin-left: 1rem;
    border-left: 1px solid #DEDEDE;
}

.wrapper {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar content";
}

.tab-icon {
    margin-right: .2rem;
}

a.selected {
    background-color: #DEDEDE;
}