<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" id="nav" mdbStickyHeader>

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="./../../assets/image/Logo circular/IEEE-Logo-Darkest.png" height="60vmin" alt="Icon IEEE-ITBA"></a></mdb-navbar-brand>
  
    <!-- All Items -->
    <links>
    
      <!-- Menu -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button [routerLink]="['/home']" class="buttonNavbar" type="button"><i class="fas fa-angle-left"></i>&nbsp;{{ 'NAVBAR.HOME' | translate }}</button>
        </li>
        <li class="nav-item">
          <button (click)="scrollTo('#home')" class="buttonNavbar" type="button">{{ 'IEEEXTREME.NAVBAR.TOP' | translate }}</button>
        </li>
        <li class="nav-item">
          <button (click)="scrollTo('#takepart')" class="buttonNavbar" type="button">{{ 'IEEEXTREME.NAVBAR.TAKEPART' | translate }}</button>
        </li>
        <li class="nav-item">
          <button (click)="scrollTo('#sponsorship')" class="buttonNavbar" type="button">{{ 'IEEEXTREME.NAVBAR.SPONSOR' | translate }}</button>
        </li>
      </ul>
      
      <!-- Icons on right -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.linkedin.com/company/ieee-itba" class="nav-link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/ieee.itba/" class="nav-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="useLanguage('es')" class="nav-link">
            es
          </a>
        </li>
        <li class="nav-item">
          <a (click)="useLanguage('en')" class="nav-link">
            en
          </a>
        </li>
      </ul>
  
    </links>
  
  </mdb-navbar>