<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'IEEEMEETUP.TITLE' | translate }}</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>

<body>
    <div class="body" fxLayoutAlign="center center" fxLayout="column">
        
        <div class="topbottomLine pt-2 pb-2 mb-4 text-center" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm pt-1 pb-1" >
                        <h1 class="page-title">{{ 'NAVBAR.NEWS' | translate }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacenav"></div>
        <div class="spacenav"></div>
        <div *ngIf="showLoadingSpinner">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!showLoadingSpinner" id="home" fxLayoutAlign="center center" fxLayout="column">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 id="eventos" class="white-title">
                            <img height="300px" src="assets/image/IEEENews2.png">
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacenav">
        </div>

        <div class="row width1000" fxLayoutAlign="center center">
            <div *ngFor="let noticia of newsData">
                <div class="col-sm margin-top">
                    <a href="noticias/{{noticia.reference}}">
                        <mat-card class="example-card shadow">
                            <mat-card-header class="height500" fxLayoutAlign="center center">
                                <mat-card-title>{{noticia.title}}</mat-card-title>
                                <mat-card-subtitle>{{noticia.author}}</mat-card-subtitle>
                            </mat-card-header>
                            <img height="200px" mat-card-image src="{{noticia.imageUrl}}" alt="Foto de Noticia">
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>
        <div class="addMargin">

        </div>
        <app-footer></app-footer>
    </div>
</body>

</html>