<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div id="mainFrame">
        <br>
        <div id="title">
            <h1>New User?</h1>
            <h2>Register now.</h2>
        </div>
        <br>
        <form id="singup-form">
            <div class="inputField">
              <label for="fname">First Name:</label>
              <input type="text" id="fname" required><br>
            </div>
            <div class="inputField">
              <label for="lname">Last Name:</label>
              <input type="text" id="lname" required><br>
            </div>
            <div class="inputField">
              <label for="email">Email:</label>
              <input type="text" id="email" required><br>
            </div>
            <div class="inputField">
              <label for="pass">Password:</label>
              <input type="password" id="pass" required><br>
            </div>
            <div class="inputField">
                <label for="passConf">Password Confirmation:</label>
                <input type="password" id="passConf" required><br>
            </div>
            <br>
            <div id="flex">
                <button type="submit" style="float: left;">Sign Up</button>
                <h3 id="passerr">Passwords dont match</h3>
            </div>
        </form>
        <br><br><br><br>
    </div>
</body>
</html>