<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
  <div class="row">
    <div class="col-sm">
      <div class="mainFrame">
        <br>
        <div id="title">
            <h1>New User?</h1>
            <h2>Register now.</h2>
        </div>
        <br>
        <form id="singup-form">
            <div class="inputField">
              <label for="fname">First Name:</label>
              <input type="text" id="fname" required><br>
            </div>
            <div class="inputField">
              <label for="lname">Last Name:</label>
              <input type="text" id="lname" required><br>
            </div>
            <div class="inputField">
              <label for="email">Email:</label>
              <input type="email" id="email" required><br>
            </div>
            <div class="inputField">
              <label for="pass">Password:</label>
              <input type="password" id="pass" required><br>
            </div>
            <div class="inputField">
                <label for="passConf">Password Confirmation:</label>
                <input type="password" id="passConf" required><br>
            </div>

            <div class="inputField">
              <div class="row">
                <div class="col-sm">
                  <button type="submit" style="float: left;">Sign Up</button>
                </div>
                <div class="col-sm">
                  <h4 id="passerr" [hidden]="isHidden3">placeholder</h4>
                </div>
              </div>
            </div>
                
        </form>
        <br>
      </div>
    </div>
    <div class="col-sm">
      <div class="mainFrame" style="padding: 10%;">
        Registrate para recibir nuestro newsletter, acceder a la seccion de comentarios, ver noticias y mucho mas!
        <hr>
        <h3>Forgot Password?</h3>
        <button class="smallbutton" (click)="chgpass()">Change Password</button>
        <form id="changepass">
          <input type="email" [hidden]="isHidden" placeholder="e-mail" id="emailchange">
        </form>
        <h4 id="passChgConf" [hidden]="isHidden2">placeholder</h4>
        <hr>
        <h3>Already Singed Up?</h3>
        <button class="smallbutton" [routerLink]="['/login']">Log In</button>
      </div>
    </div>
  </div>  
</body>
</html>