html {
    min-height: 100%;
    height: auto;
}

body {
    font-size: 3vmin;
    padding: 10%;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 5vmin;
    padding-right: 5vmin;
    font-size: 13vmin;
    margin-bottom: 5vmin;
    text-align: center;
}

h2 {
    padding-left: 5vmin;
    padding-right: 5vmin;
    font-size: 10vmin;
    padding-bottom: 1vmin;
}

h3 {
    font-size: 5vmin;
    padding-bottom: 1vmin;
    padding-left: 1.5vmin;
    margin-bottom: 0;
}

h4 {
    font-size: 4vmin;
    padding-bottom: 1vmin;
    padding-left: 1.5vmin;
    margin-bottom: 0;
    text-align: right;
    color: #4F4F4F;
}

input{
    width: 100%;
    height: 6vmin;
    margin-bottom: 2vmin;
    border: solid #4F4F4F 1px;
    color: #4F4F4F;
    border-radius: 6vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-family: Roboto;
    font-size: 4vmin;
}

label{
    font-family: Roboto;
    font-size: 5vmin;
    color: #4F4F4F;
}

button{
    font-family: Roboto;
    font-size: 5vmin;
    border: solid #4F4F4F 3px;
    color: #4F4F4F;
    border-radius: 6vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    text-align: center;
    margin: 1vmin;
    transition: all ease 0.5s;
}

button:hover {
    background-color: #4F4F4F;
    color: whitesmoke;
    border-color: whitesmoke;
}

.inputField{
    width: auto;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.mainFrame {
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 6vmin;
    padding: 3vmin;
    margin-top: 3vmin;
}

.smallbutton {
    font-family: Roboto;
    font-size: 3vmin;
    border: solid #4F4F4F 3px;
    color: #4F4F4F;
    border-radius: 6vmin;
    padding-left: 3vmin;
    padding-right: 3vmin;
    text-align: center;
    margin: 1vmin;
    transition: all ease 0.5s;
}

#title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #4F4F4F;
    padding-top: 2vmin;
}

#passerr{
    margin-left: auto;
    text-align: right;
    max-width: 45%;
}

#flex{
    display: flex;
    align-items: center;
    padding-top: 2vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

#emailchange{
    margin: 1vmin;
}