<div class="main-container">
  <div class="topbottomLine" id="home" style="margin-bottom:2%">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 id="logotext" class="course-title">{{ 'DATAANALYSIS.TITLE' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="enrollAvailable()">
    <div class="d-flex flex-row-reverse">
      <!-- Button is inside <a> tag because it allows a greater hitmark -->
      <a href="{{ courseData.enrollLink }}" target="_blank" class="button-text">
        <button class="goback-button">
          {{ 'DATAANALYSIS.ENROLLBUTTON' | translate }}
        </button>
      </a>
    </div>
  </div>

  <div>
    <div class="d-flex flex-row-reverse">
      <div *ngIf="hasTestsAvailable() && !isContentClosed()">
        <a href="{{ getCurrentTest() }}" target="_blank" class="button-text">
          <button class="goback-button">
            {{ 'DATAANALYSIS.TESTBUTTON' | translate }}
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-- Introductory text -->
  <br>
  <div>
    <h2 class="course-subtitle">{{ 'DATAANALYSIS.DESC_TITLE' | translate }}</h2>
    <p>{{ 'DATAANALYSIS.DESC' | translate }}</p>
    <h2 class="course-subtitle">{{ 'DATAANALYSIS.FORMAT_SUBTITLE' | translate }}</h2>
    <p>{{ 'DATAANALYSIS.FORMAT' | translate }}</p>
  </div>

  <!-- Cards Temario -->

  <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <ng-container *ngFor="let courseClass of courseData.courseClasses, let i=index">
    <mat-card class="example-card" [ngClass]="{'not-available-background-color':!isOldDate(courseClass.openDate)}"
              fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <b>{{'DATAANALYSIS.CLASSES.TITLE' | translate }} {{i+1}}</b>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-grow-1 overflow-auto mb-1">
        <span class="card-content">
          {{ courseClass.description | translate }}
        </span>
      </mat-card-content>
      <mat-card-actions>
        <a
          [href]="isOldDate(courseClass.openDate) ? courseClass.content : ''"
          (click)="check($event, isOldDate(courseClass.openDate))"
          [class.disabled]="!isOldDate(courseClass.openDate) ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!isOldDate(courseClass.openDate)">
            {{ 'DATAANALYSIS.CONTENTBUTTON' | translate }}
          </button>
        </a>
        <a
          [href]="i < courseData.courseClasses.length-1 && !isOldDate(courseData.courseClasses[i+1].openDate) || !isOldDate(courseData.endDate) ? courseClass.solutions : ''"
          (click)="check($event, i < courseData.courseClasses.length-1 && !isOldDate(courseData.courseClasses[i+1].openDate) || !isOldDate(courseData.endDate))"
          [class.disabled]="!(i < courseData.courseClasses.length-1 && !isOldDate(courseData.courseClasses[i+1].openDate) || !isOldDate(courseData.endDate) ? true : null)"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!(i < courseData.courseClasses.length-1 && !isOldDate(courseData.courseClasses[i+1].openDate) || !isOldDate(courseData.endDate))">
            {{ 'DATAANALYSIS.SOLUTIONBUTTON' | translate }}
          </button>
        </a>
      </mat-card-actions>
    </mat-card>
    </ng-container>
  </div>

  <div class="faq-section">
    <h2 class="course-subtitle">{{ 'DATAANALYSIS.FAQ.TITLE' | translate}}</h2>
    <mat-accordion class="faq-accordion">

      <mat-expansion-panel class="mat-elevation-z0" *ngFor="let question of ('DATAANALYSIS.FAQ.QUESTIONS' | translate)">
        <mat-expansion-panel-header [collapsedHeight]="'max-content'" [expandedHeight]="'max-content'">
          <mat-panel-title class="faq-question my-2">
            {{ question.QUESTION }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="faq-answer">{{ question.ANSWER }}</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <!-- Sponsors Actuales -->
  <div class="bottomLine mt-4">
    <div class="row">
      <h1 class="course-subtitle">Sponsors</h1>

      <br>

      <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
    </div>

  </div>
</div>
