<div class="main-container event">
  <app-event-title>
    {{ 'DATAANALYSIS.TITLE' | translate }}
  </app-event-title>

  <div *ngIf="enrollAvailable()">
    <div class="d-flex flex-row-reverse">
      <!-- Button is inside <a> tag because it allows a greater hitmark -->
      <a href="{{ courseData.enrollLink }}" target="_blank" class="button-text">
        <button class="goback-button">
          {{ 'DATAANALYSIS.ENROLLBUTTON' | translate }}
        </button>
      </a>
    </div>
  </div>

  <div>
    <div class="d-flex flex-row-reverse">
      <div *ngIf="hasTestsAvailable() && !isContentClosed()">
        <a href="{{ getCurrentTest() }}" target="_blank" class="button-text">
          <button class="goback-button">
            {{ 'DATAANALYSIS.TESTBUTTON' | translate }}
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-- Introductory text -->
  <app-event-section
  title="{{ 'DATAANALYSIS.DESC_TITLE' | translate }}"
  >
  <p>{{ 'DATAANALYSIS.DESC' | translate }}</p>
  </app-event-section>
  <app-event-section
  title="{{ 'DATAANALYSIS.FORMAT_SUBTITLE' | translate }}"
  >
  <p>{{ 'DATAANALYSIS.FORMAT' | translate }}</p>
  </app-event-section>

  <!-- Cards Temario -->

  <div class="schedule-cards">
      <ng-container *ngFor="let courseClass of courseData.courseClasses, let i=index">
            <app-event-content-card title="{{'DATAANALYSIS.CLASSES.TITLE' | translate }} {{i+1}}"
              [imageUrl]="pythonUrl"
            >
              <div content>
                {{ courseClass.description | translate }}
              </div>
              <mat-card-actions actions class="flex-wrap justify-content-center gap-1">
                <a [href]="weekContentOpen(i) ? courseClass.content : ''"
                   (click)="check($event, weekContentOpen(i))"
                   [class.disabled]="!weekContentOpen(i) ? true : null"
                >
                    <button mat-raised-button class="ieeecard-button me-3" [disabled]="!weekContentOpen(i)">
                        {{ 'DATAANALYSIS.CONTENTBUTTON' | translate }}
                    </button>
                </a>
                <a [href]="weekContentOpen(i+1) ? courseClass.solutions : ''"
                   (click)="check($event, weekContentOpen(i+1))"
                   [class.disabled]="!weekContentOpen(i+1) ? true : null"
                >
                    <button mat-raised-button class="ieeecard-button me-3" [disabled]="!weekContentOpen(i+1)">
                        {{ 'DATAANALYSIS.SOLUTIONBUTTON' | translate }}
                    </button>
                </a>
            </mat-card-actions>
            </app-event-content-card>
      </ng-container>
  </div>

  <app-event-section title="{{ 'DATAANALYSIS.FAQ.TITLE' | translate}}">
    <app-event-faq-accordion [faq]="faq">
    </app-event-faq-accordion>
  </app-event-section>

  <!-- Sponsors Actuales -->
  <app-event-section title="Sponsors">
    <app-sponsor-component content [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
  </app-event-section>

</div>
