<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Analysis Courses</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>

<body>

<div class="topbottomLine" id="home" style="margin-bottom:2%">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 id="logotext" class="course-title">{{ 'DATAANALYSIS.TITLE' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="d-flex flex-row-reverse">
    <!-- Button is inside <a> tag because it allows a greater hitmark -->
    <a href="https://forms.gle/FhCAhcMRN6wvxH3NA" target="_blank" class="button-text">
      <button class="goback-button">
        {{ 'DATAANALYSIS.ENROLLBUTTON' | translate }}
      </button>
    </a>
  </div>
</div>

<!-- !Uncomment to create the test button -->
<br>
<div>
  <div class="d-flex flex-row-reverse">
    <a href="https://forms.gle/SHhy6eeTMhnh5YL36" target="_blank" class="button-text">
      <button class="goback-button">
        {{ 'DATAANALYSIS.TESTBUTTON' | translate }}
      </button>
    </a>
  </div>
</div>

<!-- Introductory text -->
<div>
  <h2 class="course-subtitle">{{ 'DATAANALYSIS.DESC_TITLE' | translate }}</h2>
  <p>{{ 'DATAANALYSIS.DESC' | translate }}</p>
  <h2 class="course-subtitle">{{ 'DATAANALYSIS.FORMAT_SUBTITLE' | translate }}</h2>
  <p>{{ 'DATAANALYSIS.FORMAT' | translate }}</p>
</div>

<!-- Cards Temario -->

<div>
  <h2 class="course-subtitle">{{ 'DATAANALYSIS.CONTENT_TITLE' | translate }}</h2>
  <p>{{ 'DATAANALYSIS.CONTENT_DESC' | translate }}</p>
</div>

<div class="marginTop" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="center"> 
  <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Analisis_de_Datos_Clases/Clase_1_Analisis_de_Datos.ipynb"  fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
  fxFlex.lt-sm="100%">
  <mat-card class="example-card hover-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          {{'DATAANALYSIS.CLASSES.TITLE' | translate }}
          1
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C1.M1' | translate }}</mat-list-item>
          <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C1.M2' | translate }}</mat-list-item>
          <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C1.M3' | translate }}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </a>

  <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Analisis_de_Datos_Clases/Clase_2_Analisis_de_Datos.ipynb"  fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
  fxFlex.lt-sm="100%">
  <mat-card class="example-card hover-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">  </div>
      <mat-card-title>
        {{'DATAANALYSIS.CLASSES.TITLE' | translate }}
        2
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C2.M1' | translate }}</mat-list-item>
        <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C2.M2' | translate }}</mat-list-item>
        <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C2.M3' | translate }}</mat-list-item>
        <mat-list-item><mat-icon matListIcon>check_circle_outline</mat-icon>{{ 'DATAANALYSIS.CLASSES.C2.M4' | translate }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  </a>
  

</div>
<div class="marginTop" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="center"> 
<!-- Solucionario 1 -->
  <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Analisis_de_Datos_Solucionarios/Solucionario_Clase_1.ipynb"  fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
  fxFlex.lt-sm="100%">
  <mat-card class="example-card hover-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{'DATAANALYSIS.SOLUTION' | translate }}
        1
      </mat-card-title>
    </mat-card-header>  
  </mat-card>
  </a>

<!-- Solucionario 2 -->
  <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Analisis_de_Datos_Solucionarios/Solucionario_Clase_2.ipynb"  fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
fxFlex.lt-sm="100%">
    <mat-card class="example-card hover-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          {{'DATAANALYSIS.SOLUTION' | translate }}
          2
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
</div>

<div class="faq-section">
  <h2 class="course-subtitle">{{ 'DATAANALYSIS.FAQ.TITLE' | translate}}</h2>
  <mat-accordion class="faq-accordion">

    <mat-expansion-panel class="mat-elevation-z0" *ngFor="let qa of faq">
      <mat-expansion-panel-header [collapsedHeight]="'max-content'" [expandedHeight]="'max-content'">
        <mat-panel-title class="faq-question mt-1 mb-1">
          {{ qa.q | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="faq-answer">{{ qa.a | translate}}</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<!-- Sponsors Actuales -->
<div class="bottomLine mt-4">
  <div class="row">
    <h1 class="section-title">Sponsors</h1>

    <br>

    <div class="container">
      <div class="row" style="margin-top: 2vmin;">
          <div class="col-sm mt-5 mt-md-2">
              <img src="../../../../../assets/image/content/jpmorgan.png" height="90vmin" alt="Logo jpmorgan"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-2">
              <img src="../../../../../assets/image/content/innovid.png" height="35vmin" alt="Logo Innovid"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
      </div>
      <div class="row">
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/pan-american-energy.png" height="100vmin" alt="Logo Axion Energy"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/axion-energy.png" height="100vmin" alt="Logo Axion Energy"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/flowics_logo-horizontal-full-color.png" height="70vmin" alt="Logo flowics"
                   style="position: relative; top: 50%; transform: translateY(-50%); ">
          </div>
      </div>
  </div>


  </div>
</div>
<app-footer></app-footer>

</body>

</html>
