@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Flex */
/*
@media (max-width: 1000px) {
    html {
        min-height:300%;
    }
}
*/

.disabled-goback-button {
  font-size: calc(0.5vw + 0.5rem);
  font-weight: 600;
  margin-top: 0.25rem;
  padding:  0.7rem 1rem 0.7rem 1rem;
  border: solid #d9d9d9;
  color: #d9d9d9 !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}


.goback-button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.25rem;
  padding:  0.7rem 1rem 0.7rem 1rem;
  border: solid var(--bs-ieee-bright-blue);
  color: var(--bs-ieee-bright-blue) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.goback-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: var(--bs-ieee-bright-blue);
  border-color: white;
}

.goback-button >.button-text {
  color: var(--bs-ieee-bright-blue) !important;
}
.goback-button:hover > .button-text{
  color: white !important;
}

.ieeecard-button {
  font-size: 1.2em;
  padding: 0.4em 0.7em;
  font-weight: 600;
  margin-top: 0.25rem;
  border: solid var(--bs-ieee-bright-blue);
  color: var(--bs-ieee-bright-blue) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.ieeecard-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: var(--bs-ieee-bright-blue);
  border-color: white;
}

.ieeecard-button:disabled {
background-color: lightgrey;
border: solid gray;
color: gray !important;
}

.schedule-cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.schedule-cards > app-event-content-card {
  flex-grow: 1;
}

@media (max-width: 770px) {
  .course-title {
      font-size: 1.7rem;
  }
}