.category-cards-container {
  display: inline-grid;
  list-style-type: none;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding: 1.5rem 10%;
}

@media(max-width: 960px) {
  .category-cards-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem 5%;
  }

  .columned-section {
    flex-direction: column;
    align-items: center;
  }

  .aboutus-section {
    width: 100%;
  }

  .section-title {
    text-align: center;
  }
}

.category-grid-item {
  display: inline-flex;
  justify-content: center;
}

.category-card-description {
  font-size: 1.05rem;
}

.aboutus-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}

.aboutus-image {
  object-fit: scale-down;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 25%;
}

.enroll-button {
  font-size: calc(0.3vw + 1rem);
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: solid #862633;
  color: white !important;
  border-radius: 5px;
  background-color: #862633;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.enroll-button:hover {
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  color: white !important;
  background-color: #862633;
  border-color: white;
}

.enroll-button > .button-text {
  color: white !important;
}

.enroll-button:hover > .button-text {
  color: white !important;
}

.download-button:hover > .button-text {
  color: whitesmoke !important;
}

.columned-section {
  width: 80%;
  display: inline-flex;
  align-content: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.centered-section {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--bs-ieee-bright-blue);
  font-weight: 600;
  margin-top: 0.5rem;
}

.spectator-button {
  font-size: 1rem !important;
}

.section-title {
  font-size: 1.5rem;
  color: #862633;
  font-weight: 600;
  margin: 0;
}


.list-section li::marker {
  color: #862633;
  font-weight: bolder;
}

.sponsor-section {
  display: flex;
  flex-direction: column;
}
.sponsor-section img {
  object-fit: contain;
}
.sponsor-section .subtitle {
  position: relative;
}
@media (min-width: 650px) {
  .sponsor-section {
    display: block;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    position: relative;
  }
  .sponsor-section .subtitle {
    position: absolute;
    left: 0;
  }
}

.image-section {
  height: 30rem;
  display: flex;
  flex-direction: column;
}
.image-section img {
  object-fit: contain;
  height: inherit;
}