html {
  /*min-height: 200%;*/
  background-size: cover;
}

body {
  padding: 0 15%;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
  background-size: cover;
  font-size: 1.1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.not-available-background-color {
  background-color: lightgrey;
}

#icons {
  text-align: center;
  color: whitesmoke;
}

.icon {
  color: whitesmoke;
}

#iconscontainer {
  width: 20%;
  padding-top: 3vmin;
  margin-left: auto;
  margin-right: auto;
}

.text-section {
  color: rgb(0, 0, 0);
  background: rgba(245, 245, 245, 0.2);
  margin: 2rem 0;
  text-align: justify;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 5vmin;
  font-weight: lighter;
}

.col-sm {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  text-align: center;
}

.example-card {
  margin-bottom: 15px;
}

.banner {
  position: relative;
  text-align: center;
}
.max-width {
  margin-top: calc(7.5em);
  width: 100%;
  transform: translateY(0);
  /*height: 20em; */
}
@media (max-width: 990px) {
  .max-width {
    margin-top: calc(6.5em);
  }
}

.topbottomLine {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  border-top: whitesmoke 2px solid;
  border-bottom: whitesmoke 2px solid;
  vertical-align: middle;
  align-content: center;
}

.transparentButton {
  padding: 2vmin;
  border: solid 2px whitesmoke;
  border-radius: 5vmin;
  color: whitesmoke;
  background-color: transparent;
  transition: all 0.5s ease;
}

.transparentButton:hover {
  background-color: whitesmoke;
  color: black;
}

#homeText {
  display: inline;
}

#titleBar h1 {
  color: rgb(0, 0, 0);
  vertical-align: middle;
  margin-left: auto;
  padding-left: 1vmin;
  text-align: right;
}

#titleBar {
  padding-left: 1vmin;
  padding-right: 2vmin;
  display: flex;
  flex-direction: row;
}

.halfRight {
  padding: 1vmin;
  margin: 1vmin;
  float: right;
  width: 45%;
}

.halfLeft {
  padding: 1vmin;
  margin: 1vmin;
  float: left;
  width: 45%;
}

.marginTop {
  margin-top: 30px;
}

mdb-card {
  border-radius: 5vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

h2 {
  font-size: 3vmin;
  text-align: start;
  color: black;
}

#anotate {
  margin-top: 4vmin;
  border-radius: 5vmin;
  align-content: center;
  border: solid whitesmoke 2px;
}

#anotateButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2vmin;
}

footer {
  position: relative;
  bottom: 10%;
  align-content: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: rgb(10, 27, 103);
  background: linear-gradient(
      75deg,
      rgba(10, 27, 103, 1) 0%,
      rgba(92, 37, 186, 1) 50%,
      rgba(59, 173, 217, 1) 100%
    )
    no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
}

h3 {
  margin-left: 20px;
  color: black;
}

.col-sm {
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 600px) {
  #homeText {
    display: none;
  }
  #homebutton {
    height: 10vmin;
  }
  .halfLeft {
    display: inline-block;
    width: 100% !important;
    margin-left: auto;
  }
  .halfRight {
    display: inline-block;
    width: 100% !important;
    margin-left: auto;
  }
  #anotate {
    width: 100%;
  }
  html {
    min-height: 350%;
  }
}

.category-cards-container {
  display: inline-grid;
  list-style-type: none;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding: 1.5rem 10%;
}

@media(max-width: 960px) {
  body {
    padding: 0 8%;
  }

  .category-cards-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem 5%;
  }

  .columned-section {
    flex-direction: column;
    align-items: center;
  }

  .aboutus-section {
    width: 100%;
  }

  .section-title {
    text-align: center;
  }
}

.category-grid-item {
  display: inline-flex;
  justify-content: center;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category-header {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: flex-start;
  gap: 3%;
  margin-bottom: 0.5rem;
}

.category-card-icon {
  width: 5rem;
  height: 5rem;
}

.category-card-title {
  font-size: 1.4em;
  height: fit-content;
  font-weight: 550;
  margin: auto 0;
}

.expanded-content {
  flex-grow: 1;
  overflow: auto;
}

.category-card-description {
  font-size: 1.05rem;
}

.aboutus-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}

.aboutus-image {
  object-fit: scale-down;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 25%;
}

.aboutus-section-header {
  color: #0d47a1;
  font-size: x-large;
}

.section-divider {
  height: 2px;
  margin: 0 6px;
  background: #ebebeb;
}

.enroll-button {
  font-size: calc(0.3vw + 1rem);
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: solid #862633;
  color: white !important;
  border-radius: 5px;
  background-color: #862633;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.enroll-button:hover {
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  color: white !important;
  background-color: #862633;
  border-color: white;
}

.enroll-button > .button-text {
  color: white !important;
}

.enroll-button:hover > .button-text {
  color: white !important;
}

.download-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: calc(0.3vw + 0.7rem);
  font-weight: 500;
  padding: 0.7rem 1rem 0.7rem 1rem;
  color: whitesmoke !important;
  border-radius: 5px;
  background-color: #C83C59;
  border: 0;
  transition: all 175ms ease-in-out;
}

.download-button:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  color: whitesmoke !important;
  background-color: rgb(149, 10, 38);
  border-color: whitesmoke;
}

.download-button:hover > .button-text {
  color: whitesmoke !important;
}

.download-content-container {
  display: inline-flex;
  align-content: center;
  gap: 0.5rem;
}

.download-icon {
  height: 2rem;
}

.download-text {
  color: whitesmoke;
  margin: auto 0;
}

.download-buttons-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10rem;
  margin: 0.5rem 0 1rem;
}

.section {
  margin: 2.5rem 0;
}

.columned-section {
  width: 80%;
  display: inline-flex;
  align-content: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.centered-section {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

.course-title {
  font-size: calc(1.5vw + 1.2rem);
  font-weight: 400;
  color: #862633;
  letter-spacing: 1px;
}

.title {
  font-size: calc(1.5vw + 1rem);
  font-weight: 400;
  color: #862633;
  letter-spacing: 1px;
}

.subtitle {
  font-size: calc(0.7vw + 0.7rem);
  color: rgba(13, 71, 161, 0.8);
  font-weight: 600;
  margin-top: 0.5rem;
}

.spectator-button {
  font-size: 1rem !important;
}

.no-shadow {
  box-shadow: none !important;
}

.faq-section {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.faq-accordion {
  margin-top: 1.4em;
}
.faq-panel {
  height: max-content;
}
.faq-question {
  font-size: 1.2em;
}
.faq-answer {
  font-size: larger;
  margin-top: 0.5rem;
}

.section-title {
  color: #862633;
  font-weight: 600;
  font-size: 1.6em;
}

.p {
  margin: 0;
}

.list-section li::marker {
  color: #862633;
  font-weight: bolder;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #862633;
  background-color: transparent;
}

::ng-deep .mat-ink-bar {
  background-color: var(--primary-color, whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: #862633;
}

mat-panel-description {
  text-align: right;
}

mat-expansion-panel {
  background-color: transparent;
  margin-top: 1.5vmin;
}

mat-expansion-panel-header {
  border: #862633 1px solid;
  border-radius: 5vmin;
}

mat-panel-title {
  color: #862633;
}

.sponsor-section {
  display: flex;
  flex-direction: column;
}
.sponsor-section img {
  object-fit: contain;
}
.sponsor-section .subtitle {
  position: relative;
}
@media (min-width: 650px) {
  .sponsor-section {
    display: block;
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    position: relative;
  }
  .sponsor-section .subtitle {
    position: absolute;
    left: 0;
  }
}

.image-section {
  height: 30rem;
  display: flex;
  flex-direction: column;
}
.image-section img {
  object-fit: contain;
  height: inherit;
}
