<div class="main-container event">
  <app-event-banner
    url="../../../../../assets/image/events/asimov-cup/asimov-cup-banner.png"
    alt="Asimov Cup - Competencia de Robótica"
  >
  </app-event-banner>

  <app-event-title [asimov]="true" [dates]="eventData?.dates">
    {{ 'ASIMOVCUP.TITLE' | translate }}
  </app-event-title>

  <div *ngIf="enrollAvailable()">
    <div class="d-flex justify-content-center">
      <a href="{{enrollLink}}" class="button-text">
        <button class="enroll-button">
          {{ "ASIMOVCUP.ENROLLBUTTON" | translate }}
        </button>
      </a>
    </div>
  </div>

    <!-- DESCRIPTION section -->
  <app-event-section [asimov]="true" title="{{ 'ASIMOVCUP.DESC.TITLE' | translate }}">
    <div>
      <p>{{ "ASIMOVCUP.DESC.SECTION.1.TEXT" | translate }}</p>
      <p>{{ "ASIMOVCUP.DESC.SECTION.2.TEXT" | translate }}</p>
      <ul class="category-cards-container">
        <li class="category-grid-item" *ngFor="let category of categories">
          <app-event-content-card
            title="{{category.textCode | translate}}"
            imageUrl="{{category.imgLink}}"
          >
            <p content class="category-card-description">
              {{ category.descriptionTextCode | translate }}
            </p>
            <mat-card-actions actions>
              <app-button
                  [asimov]="true"
                  [href]="category.rulesLink"
                  imageUrl="../../../../../assets/image/logos/download.svg"
                  imageAlt="Download icon"
                  icon="download"
                >
                {{ "ASIMOVCUP.DOWNLOAD_RULEBOOK" | translate }}
              </app-button>
            </mat-card-actions>
          </app-event-content-card>
        </li>
      </ul>
    <p>{{ "ASIMOVCUP.DESC.SECTION.3.TEXT" | translate }}</p>
    <div *ngIf="spectatorEnrollAvailable()">
      <a href="{{spectatorEnrollLink}}" class="button-text">
        <button class="enroll-button spectator-button">
          {{ "ASIMOVCUP.DESC.SECTION.3.SPECTATEENROLL" | translate }}
        </button>
      </a>
    </div>
  </div>
  </app-event-section>

  <!-- DATE AND LOCATION section -->

  <app-event-section [asimov]="true" title="{{ 'ASIMOVCUP.D_AND_L_TITLE' | translate }}">
    <div class="centered-section">
      <div class="columned-section">
        <div class="aboutus-container">
          <ng-container *ngFor="let eventDate of eventDates">
            <div class="aboutus-section" *ngIf="showEventDate(eventDate)">
              <app-event-date [dates]="eventData?.dates" [eventDate]="eventDate" [isAsimov]="true" />
            </div>
          </ng-container>
          <div class="aboutus-section">
            <i class="fa fa-location-dot" [style.color]="(this.getAppColors() | async).background"></i>
            <span>{{ 'ASIMOVCUP.D_AND_L.LOCATION' | translate }}<br><a href="https://goo.gl/maps/CpRVKJ5bJUc4AzJj7">{{'ASIMOVCUP.D_AND_L.LOCATION_ADDRESS' | translate}}</a></span>
          </div>
          <div class="aboutus-section">
            <i class="fa-regular fa-clock" [style.color]="(this.getAppColors() | async).background"></i>
            <span>{{ 'ASIMOVCUP.D_AND_L.TIME' | translate }}</span>
          </div>
        </div>
        <div class="image-section">
          <img
            src="../../../../../assets/image/events/asimov-cup/PlanoITBA2.png"
            alt="PlanoITBA2"
          />
        </div>
      </div>
    </div>
     <!--
    <div class="text-section">
      <p>
        {{ "ASIMOVCUP.D_AND_L.TEXT_1" | translate }}
        <a href="https://goo.gl/maps/CpRVKJ5bJUc4AzJj7">{{
          "ASIMOVCUP.D_AND_L.LOCATION" | translate
        }}</a>
        {{ "ASIMOVCUP.D_AND_L.TEXT_2" | translate }}
      </p>
    </div>
    <div class="image-section">
      <img
        src="../../../../../assets/image/events/asimov-cup/PlanoITBA2.png"
        alt="PlanoITBA2"
      />
    </div>
    -->
  </app-event-section>
  <!--
    SCHEDULE section
    <div>
      <h2 class="subtitle">
        {{ "ASIMOVCUP.SCHEDULE_TITLE" | translate }}
      </h2>
      <div class="text-section">
        <ol class="list-section">
          <li *ngFor="let sc of schedule">{{ sc | translate }}</li>
        </ol>
      </div>
    </div>
    -->

  <!-- FAQ section -->
  <app-event-section [asimov]="true" title="{{ 'ASIMOVCUP.FAQ.TITLE' | translate }}">
    <app-event-faq-accordion [asimov]="true" [faq]="faq">
    </app-event-faq-accordion>
  </app-event-section>

  <div *ngIf="sponsors.length > 0" class="sponsor-section" id="sponsorship">
    <h2 class="section-title">{{ "ASIMOVCUP.SPONSORS" | translate }}</h2>
    <br>
    <app-sponsor-component [currentsponsor]="sponsors"></app-sponsor-component>
  </div>

    <!-- Editor de evento -->
    <app-event-editor-button *ngIf="!!eventData" [event]="eventData" (updateEmitter)="updateEventData($event)"></app-event-editor-button>
</div>
