<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asimov Cup</title>
  </head>
  <header>
    <app-navbar></app-navbar>
  </header>

  <body>
    <div class="topbottomLine" id="home" style="margin-bottom: 2%">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h1 id="logotext" class="title">
              {{ "ASIMOVCUP.TITLE" | translate }}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <!-- ENROLL BUTTON PLACEHOLDER
    <div>
        <div class="d-flex flex-row-reverse">
            <button class="goback-button">
        <a href="https://bit.ly/Python1C2022" class="button-text">
          {{ 'ASIMOVCUP.ENROLLBUTTON' | translate }} </a>
      </button>
        </div>
    </div>
    -->
    <!-- DESCRIPTION section -->
    <div>
      <h2 class="subtitle">{{ "ASIMOVCUP.DESC.TITLE" | translate }}</h2>
      <div class="text-section">
        <p>{{ "ASIMOVCUP.DESC.SECTION.1.TEXT" | translate }}</p>
        <ul>
          <li>{{ "ASIMOVCUP.DESC.SECTION.1.BULLET_PTS.1" | translate }}</li>
          <li>{{ "ASIMOVCUP.DESC.SECTION.1.BULLET_PTS.2" | translate }}</li>
          <li>{{ "ASIMOVCUP.DESC.SECTION.1.BULLET_PTS.3" | translate }}</li>
        </ul>
        <p>{{ "ASIMOVCUP.DESC.SECTION.2.TEXT" | translate }}</p>
        <ul class="list-section">
          <li>
            <a
              href="https://raw.githubusercontent.com/IEEESBITBA/AsimovCup/main/Reglamentos/Reglamento_Sumo_Minisumo_RAS_ITBA_Rev_1.pdf"
              >{{ "ASIMOVCUP.DESC.SECTION.2.LINKS.1" | translate }}</a
            >
          </li>
          <li>
            <a
              href="https://raw.githubusercontent.com/IEEESBITBA/AsimovCup/main/Reglamentos/Reglamento_Carreras_RAS_ITBA_Rev_1.pdf"
              >{{ "ASIMOVCUP.DESC.SECTION.2.LINKS.2" | translate }}</a
            >
          </li>
        </ul>
        <p>{{ "ASIMOVCUP.DESC.SECTION.3.TEXT" | translate }}</p>
      </div>
    </div>

    <!-- DATE AND LOCATION section -->
    <div>
      <h2 class="subtitle">
        {{ "ASIMOVCUP.D_AND_L_TITLE" | translate }}
      </h2>
      <div class="text-section">
        <p>
          {{ "ASIMOVCUP.D_AND_L.TEXT_1" | translate }}
          <a href="https://goo.gl/maps/CpRVKJ5bJUc4AzJj7">{{
            "ASIMOVCUP.D_AND_L.LOCATION" | translate
          }}</a>
          {{ "ASIMOVCUP.D_AND_L.TEXT_2" | translate }}
        </p>
      </div>
    </div>

    <!-- SCHEDULE section -->
    <div>
      <h2 class="subtitle">
        {{ "ASIMOVCUP.SCHEDULE_TITLE" | translate }}
      </h2>
      <div class="text-section">
        <ol class="list-section">
          <li *ngFor="let sc of schedule">{{ sc | translate }}</li>
        </ol>
      </div>
    </div>

    <!-- FAQ section -->
    <div class="faq-section">
      <h2 class="subtitle">{{ "ASIMOVCUP.FAQ.TITLE" | translate }}</h2>
      <mat-accordion class="faq-accordion">
        <mat-expansion-panel class="mat-elevation-z0" *ngFor="let qa of faq">
          <mat-expansion-panel-header
            [collapsedHeight]="'max-content'"
            [expandedHeight]="'max-content'"
          >
            <mat-panel-title class="faq-question mt-1 mb-1">
              {{ qa.q | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p class="faq-answer">{{ qa.a | translate }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- Sponsors Actuales -->
    <div class="bottomLine mt-4">
      <div class="row">
        <h1 class="section-title">Sponsors</h1>

        <br />

        <div class="container">
          <div class="row" style="margin-top: 2vmin">
            <div class="col-sm mt-5 mt-md-2">
              <img
                src="../../../../../assets/image/content/jpmorgan.png"
                height="90vmin"
                alt="Logo jpmorgan"
                style="
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                "
              />
            </div>
            <div class="col-sm mt-5 mt-md-2">
              <img
                src="../../../../../assets/image/content/innovid.png"
                height="35vmin"
                alt="Logo Innovid"
                style="
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                "
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm mt-5 mt-md-4">
              <img
                src="../../../../../assets/image/content/pan-american-energy.png"
                height="100vmin"
                alt="Logo Axion Energy"
                style="
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                "
              />
            </div>
            <div class="col-sm mt-5 mt-md-4">
              <img
                src="../../../../../assets/image/content/axion-energy.png"
                height="100vmin"
                alt="Logo Axion Energy"
                style="
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                "
              />
            </div>
            <div class="col-sm mt-5 mt-md-4">
              <img
                src="../../../../../assets/image/content/flowics_logo-horizontal-full-color.png"
                height="70vmin"
                alt="Logo flowics"
                style="
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
