@import url('https://unpkg.com/swiper/swiper-bundle.css');

.max-width {
  width: 100%;
  transform: translateY(0);
  /*height: 20em; */
}
.goback-button {
  font-size: calc(0.5vw + 0.5rem);
  font-weight: 600;
  margin-top: 0.25rem;
  padding:  0.7rem 1rem 0.7rem 1rem;
  border: solid var(--bs-ieee-bright-blue);
  color: var(--bs-ieee-bright-blue) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}
.goback-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: var(--bs-ieee-bright-blue);
  border-color: white;
}

.goback-button >.button-text {
  color: var(--bs-ieee-bright-blue) !important;
}
.goback-button:hover > .button-text{
  color: white !important;
}
