@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    /*min-height: 200%;*/
    background-size: cover;
}

body {
    padding: 0% 10% ;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

.col-sm {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    text-align: center;
}

.topbottomLine {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-top: whitesmoke 2px solid;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}


@media (max-width: 700px) {
    .topbottomLine {
        padding-top: 30%;
    }

}

.course-title {
    font-size: calc(1.5vw + 1rem);
    font-weight: 400;
    color: #0d47a1;
    letter-spacing: 1px;
}
.course-subtitle {
    font-size: calc(0.7vw + 0.7rem);
    color: rgba(13, 71, 161, 0.8);
    font-weight: 600;
    margin: 0.5rem 20px;
}

.desc-text{
    margin-left: 20px;
}

.banner {
    position: relative;
    text-align: center;
}

.max-width {
    margin-top: calc(7.5em);
    width: 100%;
    transform: translateY(0);
    /*height: 20em; */
}