<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IOT Course</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  </head>
  <header>
    <app-navbar></app-navbar>
  </header>
  <body>
    <div class="banner">
      <img
        src="../../../../../assets/image/courses/iot-banner.jpeg"
        class="max-width"
        alt="Asimov Cup - Competencia de Robótica"
      />
    </div>
    <div class="topbottomLine" id="home" style="margin-bottom:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext" class="course-title">{{ 'IOT.TITLE' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Introductory text -->
    <div>
        <h2 class="course-subtitle">{{ 'IOT.DESC.TITLE' | translate }}</h2>
        <p class="desc-text">{{ 'IOT.DESC.TEXT.1' | translate }}</p>
        <p class="desc-text">{{ 'IOT.DESC.TEXT.2' | translate }}</p>
        <p class="desc-text">{{ 'IOT.DESC.TEXT.3' | translate }}</p>
        <p class="desc-text">{{ 'IOT.DESC.TEXT.4' | translate }}</p>
        <p class="desc-text">{{ 'IOT.DESC.TEXT.5' | translate }}</p>
        <h2 class="course-subtitle">{{ 'IOT.GALLERY_TITLE' | translate }}</h2>

        <!-- <div class="carousel-wrapper">
          <div class="pagination-prev-wrapper">
            <span class="swiper-button-prev pagination-prev"></span>
          </div>
          <swiper [config]="swiperConfig">
            <ng-container *ngFor="let image of images">
              <ng-template swiperSlide>
                  <mat-card class="news-card" >
                    <img class="news-card-img" mat-card-image
                    [src]="image" alt="Foto IOT">
                </mat-card>
              </ng-template>
            </ng-container>
          </swiper>
          <div class="pagination-next-wrapper">
            <span class="swiper-button-next pagination-next"></span>
          </div>
        </div> -->
        <swiper
      [slidesPerView]="2"
      [spaceBetween]="10"
    >
  <ng-template swiperSlide *ngFor="let image of images"><mat-card class="news-card" >
      <img class="news-card-img" mat-card-image
      [src]="image" alt="Foto IOT">
    </mat-card>
  </ng-template>
    </swiper>

    </div>

    <app-footer></app-footer>

</body>
</html>
