<div class="main-container event">
  <app-event-banner
    url="events/iot/iot-banner.jpeg"
    alt="Banner IOT"
  >
  </app-event-banner>
  <app-event-title>
    {{ 'IOT.TITLE' | translate }}
  </app-event-title>

  <div *ngIf="isEnrollingAvailable()">
    <div class="d-flex flex-row-reverse">
      <!-- Button is inside <a> tag because it allows a greater hitmark -->
      <a href="{{ enrollLink }}" target="_blank" class="button-text">
        <button class="goback-button">
          {{ 'IOT.ENROLL' | translate }}
        </button>
      </a>
    </div>
  </div>

  <app-event-date-section [dates]="event.dates" />

  <!-- Introductory text -->
  <app-event-section title="{{ 'IOT.DESC.TITLE' | translate }}">
    <p>{{ 'IOT.DESC.TEXT.1' | translate }}</p>
    <p>{{ 'IOT.DESC.TEXT.2' | translate }}</p>
    <p>{{ 'IOT.DESC.TEXT.3' | translate }}</p>
    <p>{{ 'IOT.DESC.TEXT.4' | translate }}</p>
  </app-event-section>

  <app-event-section title="{{ 'IOT.GALLERY_TITLE' | translate }}">
    <app-image-carousel [imageLinks]="imageLinks"></app-image-carousel>
  </app-event-section>

  <app-event-section title="{{ 'IOT.FAQ.TITLE' | translate }}">
    <app-event-faq-accordion [faq]="faq">
    </app-event-faq-accordion>
  </app-event-section>

    <!-- Editor de evento -->
    <app-event-editor-button *ngIf="!!event" [event]="event" (updateEmitter)="updateEvent($event)"></app-event-editor-button>
</div>
