html {
  min-height: 100%;
  height: auto;
}

body {
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 0%;
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
  background-size: cover;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  --ras-red: #862633;
  --ras-purple: #5f2167;
}

.bottomLine {
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  border-bottom: rgb(10, 27, 103) 2px solid;
  vertical-align: middle;
  align-content: center;
}
.topLine {
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  border-top: whitesmoke 2px solid;
  vertical-align: middle;
  align-content: center;
}

.noLine {
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  vertical-align: middle;
  align-content: center;
}

#home {
  text-align: center;
}

.text-container {
  font-size: 1.1rem;
  text-align: left;
}

.section-title {
  font-size: 1.6rem;
  color: var(--ras-red);
}

.card-listing {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;

  width: 4rem;
  /*
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-columns: repeat(2, 400px);*/
}

.event-card {
  margin: auto;
  height: 100%;
}

.event-card-img {
  width: 100%;
  object-fit: cover;
  height: 16em;
  object-position: center center;
}

.event-card:hover .event-card-img {
  animation: event-move 40s infinite;
}

.asimovcup-filter {
  filter: sepia(10%) hue-rotate(18deg) saturate(120%) brightness(80%);
  transition: all ease-in 125ms;
}

.asimovcup-text {
  top: 35%;
}

.image-with-text {
  position: relative;
  width: 100%;
}

.text-on-image {
  position: absolute;
  text-align: center;
  /*top: 50%;*/
  width: 100%;
  /*font-size: min(4rem, 5vw);*/
  font-size: 2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 5rem;
}

.rasLogo {
  width: 20rem;
  object-fit: contain;
}

.titleRow {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  color: var(--ras-red);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  margin: auto 0 auto 0;
  font-weight: 600;
  font-size: 3rem;
}
.subtitle {
  margin: 0.5rem 0 auto 0;
  font-weight: 500;
  font-size: 1.25rem;
}
.subtitle {
  color: var(--ras-purple);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

@media (max-width: 770px) {
  .rasLogo {
    width: 50vw;
  }
  .container {
    align-items: center;
    flex-direction: column;
  }
}
