<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITBA IEEE RAS Student Branch Chapter</title>
  </head>
  <header>
    <app-navbar></app-navbar>
  </header>

  <body>
    <div class="bottomLine" id="home">
      <div class="container" id="wip">
        <div class="titleRow">
          <h1 class="title">{{ "RAS.TITLE" | translate }}</h1>
          <h3 class="subtitle">{{ "RAS.SUBTITLE" | translate }}</h3>
        </div>
        <img
          src="../../../../../assets/image/IEEE_RAS_logo_4C_stacked-HiRes.png"
          class="rasLogo"
          alt="Logo ITBA-IEEE"
        />
      </div>
      <div class="text-container">
        <p class="subtitle">{{ "RAS.EVENTS" | translate }}</p>
        <!--Asimov Cup-->
        <div class="card-listing">
          <a [routerLink]="['/asimovcup']">
            <mat-card class="event-card">
              <div class="image-with-text">
                <img
                  mat-card-img
                  src="../../../../../assets/image/courses/asimov-cup-logo.png"
                  alt="Logo de la Asimov Cup"
                  class="event-card-img asimovcup-filter"
                />
                <p class="text-on-image asimovcup-text">
                  {{ "HOME.ASIMOVCUP.TITLE" | translate }}
                </p>
              </div>
              <mat-card-content class="mt-2">
                <mat-card-title>{{
                  "HOME.ASIMOVCUP.TITLE" | translate
                  }}</mat-card-title>
                <p class="lead">{{ "HOME.ASIMOVCUP.TEXT" | translate }}</p>
                <a class="link-text" [routerLink]="['/asimovcup']">
                  <h5 class="waves-light" mdbWavesEffect>
                    {{ "HOME.SEEMORE" | translate }}
                    <mdb-icon
                      fas
                      icon="chevron-right"
                      class="waves-light"
                      mdbWavesEffect
                    ></mdb-icon>
                  </h5>
                </a>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <hr>
        <h2 class="section-title">{{ "RAS.OBJECTIVES.TITLE" | translate}}</h2>
        <p class="page-paragraph">{{ "RAS.OBJECTIVES.CONTENT" | translate }}</p>
        <hr>
        <h2 class="section-title">{{ "RAS.MISSION.TITLE" | translate }}</h2>
        <p class="page-paragraph">{{ "RAS.MISSION.CONTENT" | translate }}</p>
        <hr>
        <h2 class="section-title">{{ "RAS.VISION.TITLE" | translate}}</h2>
        <p class="page-paragraph">{{ "RAS.VISION.CONTENT" | translate }}</p>
        <hr>
        <h2 class="section-title">{{ "RAS.ABOUTRAS.TITLE" | translate }}</h2>
        <p class="page-paragraph">{{ "RAS.ABOUTRAS.CONTENT1" | translate }}</p>
        <p class="page-paragraph">{{ "RAS.ABOUTRAS.CONTENT2" | translate }}</p>
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</html>
