<!--Navbar-->

<!--<header class="h-100">-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-3 justify-content-between fixed-top scrolling-navbar" [containerInside]="true">
        <!-- Collapsible content -->
            
            <!-- Links -->
            
            
            <!--<img src="../../assets/img/ieee-logo.png" class="img-container" alt="mdb logo">-->
            <!--<a class="navbar-brand" href=""><b>IEEE ITBA &nbsp;&nbsp;</b></a>-->
        
        <div class="full-width" fxLayoutAlign="center center" fxLayout="row" >
            <div>
                <links class="collapse navbar-collapse ">      
                <ul class="flex-fill navbar-nav">
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#about-ieee')" class="nav-link waves-light" mdbWavesEffect><b>IEEE</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#eventos')" class="nav-link waves-light" mdbWavesEffect>Eventos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#iniciativas')" class="nav-link waves-light" mdbWavesEffect>Iniciativas<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a pageScroll (click)="scrollTo('#equipo')" class="nav-link waves-light" mdbWavesEffect>Equipo</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Contacto<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                </links>  
            </div>
        </div>
        <!-- Links -->

        <!-- Collapsible content -->
    
    </mdb-navbar>
  <!--/.Navbar-->
<!--</header>-->