<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" id="nav" mdbStickyHeader>

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/home"><img
        src="https://i.ibb.co/qRDPTRx/IEEE-Logo-No-Text-Darkest.png" height="60vmin" alt="Icon IEEE-ITBA"></a>
  </mdb-navbar-brand>

  <!-- All Items -->
  <links>

    <!-- Menu -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button onclick="window.location.href = '/noticias'" class="buttonNavbar" type="button">{{ 'NAVBAR.NEWS' |
          translate
          }}</button>
      </li>
      <li class="nav-item">
        <button onclick="window.location.href = '/events'" class="buttonNavbar" type="button">{{ 'NAVBAR.EVENTS' |
          translate
          }}</button>
      </li>
      <li class="nav-item">
        <button onclick="window.location.href = '/sponsors'" class="buttonNavbar" type="button">{{ 'NAVBAR.SPONSORS' |
          translate
          }}</button>
      </li>
      <li class="nav-item">
        <button onclick="window.location.href = '/team'" class="buttonNavbar" type="button">{{ 'NAVBAR.TEAM' | translate
          }}</button>
      </li>
      <li class="nav-item">
        <button onclick="window.location.href = '/contact'" class="buttonNavbar" type="button">{{ 'NAVBAR.CONTACT' |
          translate
          }}</button>
      </li>
      <li class="nav-item" *ngIf="journalist">
        <button onclick="window.location.href = '/write-news'" class="buttonNavbar" type="button">{{ 'NAVBAR.WRITENEWS' |
          translate
          }}</button>
      </li>
    </ul>

    <!-- Icons on right -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a href="https://www.linkedin.com/company/ieee-itba" class="nav-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/ieee.itba/" class="nav-link">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="useLanguage('es')" class="nav-link">
          es
        </a>
      </li>
      <li class="nav-item">
        <a (click)="useLanguage('en')" class="nav-link">
          en
        </a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item">
        <a [matMenuTriggerFor]="menu" class="nav-link">
          <i class="fas fa-user-circle" style="font-size: large;"></i>
          <div id="account" style="display: inline;"></div>
        </a>
      </li>

    </ul>

  </links>

</mdb-navbar>

<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item *ngIf="logguedIn" (click)="logoutUser()">{{ 'LOGOUT.TITLE' | translate }}</button>
  <button mat-menu-item *ngIf="!logguedIn" [routerLink]="['/login']">{{ 'LOGIN.TITLE' | translate }}</button>
  <button mat-menu-item *ngIf="!logguedIn" [routerLink]="['/register']">{{ 'REGISTER.TITLE' | translate }}</button>
</mat-menu>