<a [routerLink]="[event.routerLink]">
  <mat-card class="event-card">
    <div class="image-with-text">
      <img
        src="{{ event.imageSrc }}"
        alt="{{ event.imageAlt }}"
        class="event-card-img"
        [ngClass]="{'primary-filter': hasPrimaryColorIndex, 'secondary-filter': !hasPrimaryColorIndex}" />
      <p class="text-on-image ieeextreme-text">
        {{ event.titleCode | translate }}
      </p>
    </div>
    <mat-card-content class="mt-2">
      <mat-card-title>{{
        event.titleCode | translate
        }}</mat-card-title>
      <p class="lead">{{ event.descriptionCode | translate }}</p>
      <a class="link-text" [routerLink]="[event.titleCode]">
        <h5 class="waves-light" mdbWavesEffect>
          {{ "HOME.SEEMORE" | translate }}
          <mdb-icon
            fas
            icon="chevron-right"
            class="waves-light"
            mdbWavesEffect
          ></mdb-icon>
        </h5>
      </a>
    </mat-card-content>
  </mat-card>
</a>
