<a [routerLink]="[event.routerLink]" style="color: inherit; ">
  <mat-card class="event-card">
    <div class="image-with-text">
      <img
        src="{{ event.imageSrc }}"
        alt="{{ event.imageAlt }}"
        class="event-card-img"
        [ngClass]="{'primary-filter': hasPrimaryColorIndex, 'secondary-filter': !hasPrimaryColorIndex}" />
      <p class="text-on-image ieeextreme-text">
        {{ event.titleCode | translate }}
      </p>
    </div>
    <mat-card-header>
      <mat-card-title>{{ event.titleCode | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2 card-content-container">
      <p class="lead">{{ event.descriptionCode | translate }}</p>
      <span class="see-more-link" style="color: var(--warning)">
        {{ "HOME.SEEMORE" | translate }}
        <mdb-icon
          fas
          icon="chevron-right"
          class="waves-light"
          mdbWavesEffect
        ></mdb-icon>
      </span>
    </mat-card-content>
  </mat-card>
</a>
