/* Buttons */

.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: calc(0.3vw + 0.7rem);
    font-weight: 500;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: whitesmoke !important;
    border-radius: 5px;
    background-color: #3d6bb3;
    border: 0;
    transition: all 175ms ease-in-out;
}

.goback-button {
  font-size: calc(0.5vw + 0.5rem);
  font-weight: 600;
  margin-top: 0.25rem;
  padding:  0.7rem 1rem 0.7rem 1rem;
  border: solid rgb(0, 98, 155);
  color: rgb(0, 98, 155) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.goback-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: var(--bs-ieee-bright-blue);
  border-color: white;
}

.goback-button >.button-text {
  color: rgb(0, 98, 155) !important;
}

.goback-button:hover > .button-text{
  color: white !important;
}


/* Syllabus section*/
.syllabus{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.syllabus > app-event-content-card {
    width: 40%;
    min-width: min-content;
}

/* Form section */
.forms{
    display: flex;
    justify-content: center;
}

@media (max-width: 770px) {
    .syllabus > app-event-content-card {
        width: 90%;
        min-width: min-content;
    }
  }