<div class="main-container event">
  <!-- BANNER -->
  <app-event-banner url="events/typescript-course/big-banner.jpg" 
    alt="{{ 'TYPESCRIPT.TITLE' | translate}}"></app-event-banner>
  <app-event-title>{{ 'TYPESCRIPT.TITLE' | translate}}</app-event-title>
  <!-- DESCRIPTION -->
  <div *ngIf="enrollAvailable()">
    <div class="d-flex flex-row-reverse">
      <button class="goback-button">
        <a href="{{ enrollLink }}" class="button-text">
          {{ 'PYTHONCOURSES.ENROLLBUTTON' | translate }} </a>
      </button>
    </div>
  </div>
  <app-event-section title="{{ 'TYPESCRIPT.DESCRIPTION.TITLE' | translate}}">
    <p>{{ 'TYPESCRIPT.DESCRIPTION.TEXT' | translate}}</p>
  </app-event-section>
  <!-- SYLLABUS -->
  <app-event-section title="{{ 'TYPESCRIPT.SYLLABUS.TITLE' | translate}}">
    <div class="syllabus">
      <app-event-content-card title="{{ 'TYPESCRIPT.SYLLABUS.1.TEXT' | translate}}" 
      [imageUrl]="typescriptUrl"  
      >
      <div content>
        {{ 'TYPESCRIPT.SYLLABUS.1.BULLET_PTS.1' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.1.BULLET_PTS.2' | translate}}, 
        {{ 'TYPESCRIPT.SYLLABUS.1.BULLET_PTS.3' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.1.BULLET_PTS.4' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.1.BULLET_PTS.5' | translate}}  
      </div>
      </app-event-content-card>
      <app-event-content-card title="{{ 'TYPESCRIPT.SYLLABUS.2.TEXT' | translate}}"
      [imageUrl]="typescriptUrl"  
      >
      <div content>
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.1' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.2' | translate}}, 
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.3' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.4' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.5' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.6' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.7' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.8' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.9' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.2.BULLET_PTS.10' | translate}}
      </div>
      </app-event-content-card>
    </div>
    <div class="syllabus">
      <app-event-content-card title="{{ 'TYPESCRIPT.SYLLABUS.3.TEXT' | translate}}"
      [imageUrl]="typescriptUrl"  
      >
      <div content>
        {{ 'TYPESCRIPT.SYLLABUS.3.BULLET_PTS.1' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.3.BULLET_PTS.2' | translate}}, 
        {{ 'TYPESCRIPT.SYLLABUS.3.BULLET_PTS.3' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.3.BULLET_PTS.4' | translate}},
        {{ 'TYPESCRIPT.SYLLABUS.3.BULLET_PTS.5' | translate}}
      </div>
      </app-event-content-card>
      <app-event-content-card title="{{ 'TYPESCRIPT.SYLLABUS.4.TEXT' | translate}}"
      [imageUrl]="typescriptUrl"  
      >
      <div content>
          {{ 'TYPESCRIPT.SYLLABUS.4.BULLET_PTS.1' | translate}},
          {{ 'TYPESCRIPT.SYLLABUS.4.BULLET_PTS.2' | translate}}, 
          {{ 'TYPESCRIPT.SYLLABUS.4.BULLET_PTS.3' | translate}}
      </div>
      </app-event-content-card>
    </div>
  </app-event-section>
  <!-- FORMS (no esta habilitado por ahora)-->
  <!--
     <section class="forms">
    <a>
      <button class="button">
        <span>{{ "TYPESCRIPT.INSCRIPTION_FORM" | translate }}</span>
      </button>
    </a>
  </section>
  -->
  <!-- SCHEDULE -->
  <!--
  <section>
    <h2 class="course-subtitle">{{ 'TYPESCRIPT.SCHEDULE.TITLE' | translate}} </h2>
    <ul *ngFor="let date of schedule">
      <li><p>{{date | translate}}</p></li>
    </ul>
  </section>
  -->
  <!-- REQUIREMENTS -->
  <app-event-section title="{{ 'TYPESCRIPT.REQUIREMENTS.TITLE' | translate}}">
    <p> {{ 'TYPESCRIPT.REQUIREMENTS.1' | translate}}</p>
    <p> {{ 'TYPESCRIPT.REQUIREMENTS.2' | translate}}</p>
    <p> {{ 'TYPESCRIPT.REQUIREMENTS.3' | translate}}</p>
    <p> {{ 'TYPESCRIPT.REQUIREMENTS.4.TEXT' | translate}}</p>
    <ul>
      <li><p>{{ 'TYPESCRIPT.REQUIREMENTS.4.BULLET_PTS.1' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.REQUIREMENTS.4.BULLET_PTS.2' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.REQUIREMENTS.4.BULLET_PTS.3' | translate}}</p></li>
    </ul>
    <p> {{ 'TYPESCRIPT.REQUIREMENTS.5' | translate}}
      <a href="{{requirementsLink}}">
        {{ 'TYPESCRIPT.REQUIREMENTS.LINK' | translate}}
      </a>
    </p>
  </app-event-section>
  <!-- SUGGESTIONS -->
  <app-event-section title="{{ 'TYPESCRIPT.SUGGESTIONS.TITLE' | translate}}">
    <p>{{ 'TYPESCRIPT.SUGGESTIONS.TEXT' | translate}}</p>
    <ul>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.1' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.2' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.3' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.4' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.5' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.6' | translate}}</p></li>
      <li><p>{{ 'TYPESCRIPT.SUGGESTIONS.BULLET_PTS.7' | translate}}</p></li>
    </ul>
  </app-event-section>
  <!-- FORMAT -->
  <app-event-section title="{{ 'TYPESCRIPT.FORMAT.TITLE' | translate}}">
    <p> {{ 'TYPESCRIPT.FORMAT.1' | translate}}</p>
    <p> {{ 'TYPESCRIPT.FORMAT.2' | translate}}</p>
    <p> {{ 'TYPESCRIPT.FORMAT.3' | translate}}</p>
    <p> {{ 'TYPESCRIPT.FORMAT.4' | translate}}</p>
  </app-event-section>
  <!-- FAQ -->
  <app-event-section title="{{ 'PYTHONCOURSES.FAQ.TITLE' | translate}}">
    <app-event-faq-accordion [faq]="faq">
    </app-event-faq-accordion>
  </app-event-section>
</div>
