.main-container {
    padding: 10%;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
}

p {
    color: rgb(0, 0, 0);
    background: rgba(245, 245, 245, 0.2);
    padding: 2vmin 3vmin;
    border-radius: 5vmin;
    text-align: justify;
    font-size: 1.1rem;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    font-weight: lighter;
}

h2{
    font-size: 3vmin;
    margin-left: 20px;
    text-align: left;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

li > p{ 
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.title-container {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-top: var(--bs-ieee-bright-blue) 2px solid;
    border-bottom: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    margin-bottom:2%
}

.course-title {
    font-size: calc(1.5vw + 1rem);
    font-weight: 400;
    color: var(--bs-ieee-bright-blue-80);
    letter-spacing: 1px;
}

.course-subtitle {
    font-size: calc(0.7vw + 0.7rem);
    color: var(--bs-ieee-bright-blue);
    font-weight: 600;
    margin-top: 0.5rem;
}

.information{
    margin-bottom: 4rem;
}
  
/* Buttons */

.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: calc(0.3vw + 0.7rem);
    font-weight: 500;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: whitesmoke !important;
    border-radius: 5px;
    background-color: #3d6bb3;
    border: 0;
    transition: all 175ms ease-in-out;
}

.goback-button {
  font-size: calc(0.5vw + 0.5rem);
  font-weight: 600;
  margin-top: 0.25rem;
  padding:  0.7rem 1rem 0.7rem 1rem;
  border: solid rgb(0, 98, 155);
  color: rgb(0, 98, 155) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.goback-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: var(--bs-ieee-bright-blue);
  border-color: white;
}

.goback-button >.button-text {
  color: rgb(0, 98, 155) !important;
}

.goback-button:hover > .button-text{
  color: white !important;
}

.cover-background {
  flex-grow: inherit;
  max-width: 100%;
}

/* Cards */
mat-card-header{
    height: 5.5rem;
    left: 0rem;
}

.card{
    margin: 0 1rem;
    padding: 0 1rem;
}

.card-content {
    text-align: justify;
    font-size: 1.2em;
}

.header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png');
    background-size: cover;
}

/* Syllabus section*/
.syllabus{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.syllabus > mat-card {
    width: 40%;
}

/* Form section */
.forms{
    display: flex;
    justify-content: center;
}

/* FAQ section */
.faq-section {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.faq-accordion {
    margin-top: 1.5rem;
}
.faq-panel {
    height:max-content;
}
.faq-question {
    font-size: 1rem;
}
.faq-answer {
    font-size: larger;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(23, 46, 148);
    background-color: transparent;
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
    color:rgb(23, 46, 148);
}

mat-panel-description {
    text-align: right;
}

mat-expansion-panel {
    background-color: transparent;
    margin-top: 1.5vmin;
}

mat-expansion-panel-header {
    border: var(--bs-ieee-bright-blue) 1px solid;
    border-radius: 5vmin;
}

mat-panel-title {
    color:var(--bs-ieee-bright-blue);
}