.outside-div {
    position: sticky;
    bottom: 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: -2rem;
}

.inside-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.button-tooltip {
    text-wrap: nowrap;
    background-color: var(--color);
    color: var(--bs-light);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    opacity: 100%;
    transition: opacity 0.5s ease;
    box-shadow: 0 0 4px var(--color);
}

.button-tooltip.hidden {
    opacity: 0;
}

.edit-button {
    font-weight: 600;
    border: solid var(--color);
    border-radius: 50%;
    background-color: var(--color);
    color: var(--bs-light);
    box-shadow: 0 0 4px var(--color);
    aspect-ratio: 1/1;
}

@media (max-width: 991px) {
    .button-tooltip {
        font-size: 0.9rem;
    }

}

@media (max-width: 767px) {
    .button-tooltip {
        font-size: 0.8rem;
    }
}
