.news-title{
    margin:20px;
    font-size:30px;
    font-weight: bold;
}
.news-content{
    margin:20px;
    padding:20px;
    min-height: 100px;
}
.author{
    margin:20px;
    font-size: 15px;
}
:host {
    width: 100%;
}
