<div class="pagination-controller">
    <button class="page-change-button page-change-button-left" (click)="prevPage()" [disabled]="!hasPrevious">
        <img class="page-change-button-image" src="../../../../../assets/image/logos/left-arrow.svg" alt="Previous page icon"/>
    </button>
    <span>{{this.currentPage}} {{ 'NEWS.OF' | translate }} {{this.pageCount}}</span>
    <button class="page-change-button page-change-button-right" (click)="nextPage()" [disabled]="!hasNext">
        <img class="page-change-button-image" src="../../../../../assets/image/logos/right-arrow.svg" alt="Previous page icon"/>
    </button>
</div>