<ng-container *ngIf="(loading | async) === false; else spinner">
    <div class="toolbar d-flex justify-content-end gap-2">
        <button mat-raised-button *ngIf="!editPositionsMode" color="primary" type="button" (click)="openCommissionModal()">
            <mdb-icon fas icon="add"></mdb-icon>
            <span class="ml-2">Añadir comisión</span>
        </button>
        <button mat-raised-button class="animated-color" type="button" [color]="editPositionsMode ? 'warn' : 'primary'" (click)="toggleEditPositionsMode()" [disabled]="commissions.length < 2">
            <mdb-icon fas [icon]="!editPositionsMode ? 'exchange-alt' : 'close'" [class.icon-rotate]="!editPositionsMode" class="animated-transform"></mdb-icon>
            <span class="ml-2" *ngIf="!editPositionsMode">Editar posiciones</span>
            <span class="ml-2" *ngIf="editPositionsMode">Cancelar</span>
        </button>
    </div>
    <div class="content my-4" *ngIf="commissions && commissions.length > 0; else commissionsEmpty">
        <mat-accordion cdkDropList [cdkDropListDisabled]="!editPositionsMode" (cdkDropListDropped)="dropCommission($event)" class="drag-list" multi>
            <mat-expansion-panel class="drag-box" cdkDrag cdkDragLockAxis="y" *ngFor="let commission of commissions; index as i" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mdb-icon fas icon="bars" class="animated-transform mr-2" *ngIf="editPositionsMode"></mdb-icon>
                        {{ commission.title | customTranslate }}
                    </mat-panel-title>
                    <mat-panel-description>{{ commission.id }}</mat-panel-description>
                </mat-expansion-panel-header>
                <table *ngIf="commission.positions && commission.positions.length > 0; else rolesEmpty" class="table align-middle mb-0 mt-2 rounded">
                    <thead class="bg-light">
                        <tr>
                            <th class="pb-1">Posición</th>
                            <th class="pb-1">Titulo</th>
                            <th class="pb-1 text-center">Miembros</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let position of commission.positions; index as i" (click)="openPositionModal(commission, i)" class="position-row">
                            <td>{{ position.id }}</td>
                            <td>{{ position.title | customTranslate }}</td>
                            <td class="d-flex justify-content-center p-0" *ngIf="position && position.members && position.members.length > 0; else membersEmpty">
                                <app-profile-picture-stack>
                                    <div class="stack-item" *ngFor="let member of position.members">
                                        <app-profile-picture size="3rem" [tooltip]="member.name" [src]="member.photo"></app-profile-picture>
                                    </div>
                                </app-profile-picture-stack>
                            </td>
                            <ng-template #membersEmpty>
                                <td class="text-center">Sin miembros</td>
                            </ng-template>
                        </tr>
                        <tr (click)="openPositionModal(commission)" class="position-row">
                            <td colspan="3">
                                <div class="d-flex w-100 justify-content-center">
                                    <mdb-icon fas icon="add"></mdb-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #rolesEmpty>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-3">
                        <p class="d-inline m-0">No hay roles en esta comisión</p>
                        <button mat-raised-button size="sm" color="primary" type="button" (click)="openPositionModal(commission)">
                            <mdb-icon fas icon="add"></mdb-icon>
                            <span class="ml-2">Añadir rol</span>
                        </button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #commissionsEmpty>
        <div class="d-flex flex-column align-items-center justify-content-center my-5">
            <mdb-icon fas icon="exclamation-triangle" class="big-icon"></mdb-icon>
            <p class="mt-2">No hay comisiones registradas</p>
        </div>
    </ng-template>
</ng-container>
<ng-template #spinner>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
