<a [href]="[studentChapter.url]" style="color: inherit; text-decoration: none;">
  <mat-card class="event-card">
    <div class="shadow-on-hover">
      <div
        class="position-absolute top-0 w-100"
        [style]="{
        'background-color': studentChapter.color || 'var(--bs-ieee-bright-blue)',
        'height': '20px'
      }"
      >
      </div>
      <div class="image-with-text p-3">
        <img
          src="{{ studentChapter.img }}"
          alt="{{ studentChapter.name }}"
          class="event-card-img" />
      </div>
    </div>
    <div class="text-on-image">
     {{ studentChapter.description | translate }}
    </div>
  </mat-card>
</a>
