@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    min-height: 200%;
    background-size: cover;
}

body {
    padding: 10%;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    /*OLDBACKGROUND*/
    /* background: linear-gradient(75deg, rgba(50,39,88,1) 0%, rgba(201,83,107,1) 39%, rgba(227,157,64,1) 100%) no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    /*OLDBACKGROUND*/
    /* background: linear-gradient(75deg, rgba(50,39,88,1) 0%, rgba(201,83,107,1) 39%, rgba(227,157,64,1) 100%) no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#icons {
    text-align: center;
    color: whitesmoke;
}

.icon {
    color: whitesmoke;
}

#iconscontainer {
    width: 20%;
    padding-top: 3vmin;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: whitesmoke;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    background: rgba(245, 245, 245, 0.2);
    padding: 3vmin;
    border-radius: 5vmin;
    text-align: justify;
}

h1 {
    color: whitesmoke;
    font-size: 5vmin;
    font-weight: lighter;
}

.col-sm {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    text-align: center;
}
.example-card {
    max-width: 500px;
    height: 170px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
 
  
  .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png');
    background-size: cover;
  }


.topbottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: whitesmoke 2px solid;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.transparentButton {
    padding: 2vmin;
    border: solid 2px whitesmoke;
    border-radius: 5vmin;
    color: whitesmoke;
    background-color: transparent;
    transition: all .5s ease;
}

.transparentButton:hover {
    background-color: whitesmoke;
    color: black;
}

#homeText { display: inline; }

#titleBar h1 {
    color: whitesmoke;
    vertical-align: middle;
    margin-left: auto;
    padding-left: 1vmin;
    text-align: right;
}

#titleBar {
    padding-left: 1vmin;
    padding-right: 2vmin;
    display: flex;
    flex-direction: row;
}

.halfRight {
    padding: 1vmin;
    margin: 1vmin;
    float: right;
    width: 45%;
}

.halfLeft {
    padding: 1vmin;
    margin: 1vmin;
    float: left;
    width: 45%;
}

mdb-card {
    border-radius: 5vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

h2{
    font-size: 5vmin;
    text-align: center;
    color: whitesmoke;
}

#anotate {
    margin-top: 4vmin;
    border-radius: 5vmin;
    align-content: center;
    border: solid whitesmoke 2px;
}

#anotateButton {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vmin;
}

footer {
    position: relative;
    bottom: 10%;
    align-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: rgb(10,27,103);
    background: linear-gradient(75deg, rgba(10,27,103,1) 0%, rgba(92,37,186,1) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
}

.col-sm {
    text-align: center;
    padding-top: auto;
    vertical-align: middle;
}

img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Flex */

@media (max-width: 1000px) {
    html {
        min-height:300%;
    }
}

@media (max-width: 600px) {
    #homeText { display: none; }
    #homebutton { height: 10vmin; }
    .halfLeft { 
        display: inline-block; 
        width: 100% !important; 
        margin-left: auto;
    }
    .halfRight { 
        display: inline-block; 
        width: 100% !important; 
        margin-left: auto;
    }
    #anotate {
        width: 100%;
    }
    html {
        min-height:350%;
    }

}


