<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  </head>

  <header>
    <app-navbar></app-navbar>
    <div class="banner">
      <img
        src="../../../../../assets/image/banner6.jpg"
        alt="IEEE ITBA"
        class="max-width"
      />
      <div class="main-title">ITBA IEEE</div>
      <div class="subtitle">{{ 'HOME.TITLE' | translate }}</div>
    </div>
  </header>

  <!-- Inicio -->
  <body>
  <div class="section">
    <div class="section-header">
      <div class="section-header-start-line"></div>
      <div class="section-header-content">
        <img class="section-header-logo" src="../../../../../assets/image/IEEETeams.png" alt="Logo"/>
        <h1 class="section-title">{{ 'HOME.ABOUTUS.TITLE' | translate }}</h1>
      </div>
      <div class="section-header-end-line"></div>
    </div>
      <div class="aboutus-container">
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/people.svg" alt="Logo nosotros"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.US.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.US.TEXT' | translate }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/target.svg" alt="Logo objetivos"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.OBJECTIVE.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.OBJECTIVE.TEXT' | translate }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/book-outline.svg" alt="Logo misión"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.MISSION.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.MISSION.TEXT' | translate }}</p>
        </div>
      </div>
    <div class="end-button-container">
      <button class="learn-more-button" [routerLink]="['/about-us']">{{ 'HOME.ABOUTUS.LEARNMORE' | translate }} <mdb-icon
        fas
        icon="chevron-right"
        class="waves-light"
        mdbWavesEffect></mdb-icon>
      </button>
    </div>
  </div>

  <!-- IEEENews -->
  <div class="section gray-background">
    <div class="news-container">
      <div class="section-header">
        <div class="section-header-start-line"></div>
        <div class="section-header-content">
          <img class="section-header-logo" src="../../../../../assets/image/IEEENews_sin_fondo.png" alt="Logo"/>
          <h1 class="section-title">{{ 'HOME.IEEENEWS.TITLE' | translate }}</h1>
        </div>
        <div class="section-header-end-line"></div>
        <span class="section-subtitle">{{ "HOME.IEEENEWS.CONTENT" | translate }}</span>
      </div>
      <div *ngIf="(newsDataObs | async)?.length != 0; else loadingSpinnerBlock">
        <div class="carousel-wrapper">
          <div class="pagination-prev-wrapper">
            <span class="swiper-button-prev pagination-prev"></span>
          </div>
          <swiper [config]="swiperConfig">
            <ng-container *ngFor="let noticia of latestNews">
              <ng-template swiperSlide>
                <app-news-card [noticia]="noticia"></app-news-card>
              </ng-template>
            </ng-container>
          </swiper>
          <div class="pagination-next-wrapper">
            <span class="swiper-button-next pagination-next"></span>
          </div>
        </div>
        <div class="pagination-wrapper"></div>
      </div>
      <ng-template #loadingSpinnerBlock>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </div>
    <div class="end-button-container">
      <button class="learn-more-button" [routerLink]="['/noticias']">{{ 'HOME.IEEENEWS.MORENEWS' | translate }} <mdb-icon
        fas
        icon="chevron-right"
        class="waves-light"
        mdbWavesEffect></mdb-icon>
      </button>
    </div>
  </div>

  <!-- Sponsors Actuales -->
  <div class="section">
    <div class="bottomLine">
      <div class="section-header">
        <div class="section-header-start-line"></div>
        <div class="section-header-content">
          <img class="section-header-logo" src="../../../../../assets/image/IEEESponsors.png" alt="Logo"/>
          <h1 class="section-title">{{ "HOME.SPONSORS" | translate }}</h1>
        </div>
        <div class="section-header-end-line"></div>
      </div>
      <div class="sponsor-listing">
        <div *ngFor="let sponsor of sponsors">
          <img class="sponsor-container" src="{{sponsor.img}}" alt="Logo {{sponsor.name}}"/>
        </div>
      </div>
    </div>
  </div>

  </body>
  <app-footer></app-footer>
</html>
