@import '~swiper/swiper-bundle.min.css';

html {
    min-height: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    /* padding: 3% 10% 0 10%; */
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bottomLine {
    padding-bottom: 5vmin;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.col-sm {
    text-align: center;
}

.news-container {
    position: relative;
}

.news-header{
    width: 100%;
}

.news-container-title{
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-right: 1rem;
    float:left;
}

.news-logo{
    text-align: center;
    margin: 0.5rem;
}

.news-logo img{
    height: 5rem;
    float:left;
}

.news-content-flavor {
    font-size: 1.5rem;
    margin-top: 1.6rem;
    float: right;
}

.sponsor-listing {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem 10rem;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.sponsor-container {
  height: 10rem;
  width: 15rem;
  object-fit: scale-down;
}

.section {
    padding: 1.5% 3% 1.5% 3%;
}

.section-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.section-header-content {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.section-header-logo {
    object-fit: scale-down;
    height: 4rem;
}

.section-header-start-line {
  height: 2px;
  width: 3rem;
  background: #8191b2;
}

.section-header-end-line {
    height: 2px;
    width: 100%;
    background: #8191b2;
}

.section-title {
    color: #3d6bb3;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    font-variant: no-common-ligatures proportional-nums;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.section-subtitle {
    font-size: large;
    font-style: oblique;
    white-space: nowrap;
}

.section-divider {
    width: 2px;
    margin: 6px 0;
    background: #ebebeb;
}

.gray-background {
    background-color: #eeeeee;
}

.aboutus-container {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
}

.aboutus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;
    width: 25%;
    font-weight: lighter;
}

.aboutus-image {
    object-fit: scale-down;
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;
    background-color: #0d47a1;
    padding: 0.5rem;
    border-radius: 25%;
}

.aboutus-section-header {
    color: #0d47a1;
    font-size: x-large;
}

.end-button-container {
  display: flex;
  justify-content: end;
}

.learn-more-button {
  font-size: calc(0.5vw + 0.5rem);
  font-weight: 600;
  padding:  0.5rem 1.2rem;
  border: solid rgb(23, 46, 148);
  color: rgb(23, 46, 148) !important;
  border-radius: 5px;
  background-color: inherit;
  border-width: 3px;
  transition: all 175ms ease-in-out;
}

.learn-more-button:hover {
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  color: white !important;
  background-color: #0d47a1;
  border-color: white;
}

.learn-more-button >.button-text {
  color: rgb(23, 46, 148) !important;
}
.learn-more-button:hover > .button-text{
  color: white !important;
}

mdb-card {
    border-bottom-left-radius: 5vmin;
    border-bottom-right-radius: 5vmin;
    margin: 1.5vmin;
}

mdb-card-text {
    text-align: left;
}

mdb-card-img {
    padding: 2.5px;
}

h1 {
    color: whitesmoke;
    font-size: 5vmin;
}

h2{
    color: whitesmoke;
    font-size: 3vmin;
}

.max-width{
    width: 100%;
    height: 20em;
}

/* Bottom left text */
.main-title {
    position: absolute;
    bottom: 2em;
    left: 2em;
    font-size: 3em;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 2px;
}

.subtitle {
    position: absolute;
    bottom: 1em;
    left: 3em;
    font-size: 2em;
    font-family: 'Roboto'
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.sponsors {
    margin:5rem 2rem 5rem 2rem;
    /*    top left bottom right*/
}

/* Carousel styles */

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pagination-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0.25rem;
  transform: scale(1.5);    /* Enlarge bullets */
  gap: 0.25rem;             /* Gap between bullets */
}

.pagination-prev-wrapper {
  margin-right: 2.5rem;
}

.pagination-next-wrapper {
  margin-left: 2.5rem;
}

.pagination-prev {
  height: 4rem;
  width: 4rem;
  background-color: #007aff;
  --swiper-navigation-color: #f0f0f0;
  border-radius: 45% 25% 25% 45%;
}

.pagination-next {
  height: 4rem;
  width: 4rem;
  background-color: #007aff;
  --swiper-navigation-color: #f0f0f0;
  border-radius: 25% 45% 45% 25%;
}
