<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="mainpage.component.css">
  </head>

  <header>
    <app-navbar></app-navbar>
    <div class="banner">
      <img
        src="../../../../../assets/image/general-icons/banner6.jpg"
        alt="IEEE ITBA"
        class="max-width"
      />
      <div class="main-title">ITBA IEEE</div>
      <div class="subtitle">{{ 'HOME.TITLE' | translate }}</div>
    </div>
  </header>

  <!-- Inicio -->
  <body>
  <div class="section">
    <div class="section-header">
      <div class="section-header-start-line"></div>
      <div class="section-header-content">
        <img class="section-header-logo" src="../../../../../assets/image/section-icons/IEEETeams-small.png" alt="Logo"/>
        <h1 class="section-title">{{ 'HOME.ABOUTUS.TITLE' | translate }}</h1>
      </div>
      <div class="section-header-end-line"></div>
    </div>
      <div class="aboutus-container">
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/people.svg" alt="Logo nosotros"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.US.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.US.TEXT' | translate }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/target.svg" alt="Logo objetivos"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.OBJECTIVE.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.OBJECTIVE.TEXT' | translate }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="aboutus-section">
          <img class="aboutus-image" src="../../../../../assets/image/logos/book-outline.svg" alt="Logo misión"/>
          <h2 class="aboutus-section-header">{{ 'ABOUTUS.MISSION.TITLE' | translate }}</h2>
          <p>{{ 'ABOUTUS.MISSION.TEXT' | translate }}</p>
        </div>
      </div>
    <div class="end-button-container">
      <button class="learn-more-button" [routerLink]="['/about-us']">{{ 'HOME.ABOUTUS.LEARNMORE' | translate }} <mdb-icon
        fas
        icon="chevron-right"
        class="waves-light"
        mdbWavesEffect></mdb-icon>
      </button>
    </div>
  </div>

  <!-- IEEENews -->
  <div class="section gray-background">
    <div class="news-container">
      <div class="section-header">
        <div class="section-header-start-line"></div>
        <div class="section-header-content">
          <img class="section-header-logo" src="../../../../../assets/image/section-icons/IEEENews_sin_fondo.png" alt="Logo"/>
          <h1 class="section-title">{{ 'HOME.IEEENEWS.TITLE' | translate }}</h1>
        </div>
        <div class="section-header-end-line"></div>
        <span class="section-subtitle">{{ "HOME.IEEENEWS.CONTENT" | translate }}</span>
      </div>
      <div *ngIf="(newsDataObs | async)?.length != 0; else loadingSpinnerBlock">
        <div class="carousel-wrapper">
          <div class="pagination-prev-wrapper">
            <span class=" swiper-button-prev swiper-news pagination-prev" id="news-pagination-prev"></span>
          </div>
          <swiper [config]="swiperConfig">
            <ng-container *ngFor="let noticia of latestNews">
              <ng-template swiperSlide>
                <app-news-card [noticia]="noticia"></app-news-card>
              </ng-template>
            </ng-container>
          </swiper>
          <div class="pagination-next-wrapper">
            <span class="swiper-button-next swiper-news pagination-next" id="news-pagination-next"></span>
          </div>
        </div>
        <div class="pagination-wrapper swiper-news" id="news-pagination-wrapper"></div>
      </div>
      <ng-template #loadingSpinnerBlock>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </div>
    <div class="end-button-container">
      <button class="learn-more-button" [routerLink]="['/noticias']">{{ 'HOME.IEEENEWS.MORENEWS' | translate }} <mdb-icon
        fas
        icon="chevron-right"
        class="waves-light"
        mdbWavesEffect></mdb-icon>
      </button>
    </div>
  </div>
  <!-- Eventos -->
  <div class="section gray-background">
    <div class="news-container">
      <div class="section-header">
        <div class="section-header-start-line"></div>
        <div class="section-header-content">
          <img class="section-header-logo" src="../../../../../assets/image/section-icons/IEEENews_sin_fondo.png" alt="Logo"/>
          <h1 class="section-title">{{ 'HOME.EVENTS.TITLE' | translate }}</h1>
        </div>
        <div class="section-header-end-line"></div>
        <span class="section-subtitle">{{ "HOME.EVENTS.CONTENT" | translate }}</span>
      </div>
      <div>
        <div class="carousel-wrapper">
          <div class="pagination-prev-wrapper">
            <span class="swiper-button-prev swiper-events pagination-prev" id="events-pagination-prev"></span>
          </div>
          <swiper [config]="swiperConfigEvents" style="width: 100%">
            <ng-container *ngFor="let event of latestEvents">
              <ng-template swiperSlide>
                <app-event-card-short [event]="event" index="{{0}}"></app-event-card-short>
              </ng-template>
            </ng-container>
          </swiper>
          <div class="pagination-next-wrapper">
            <span class="events-swiper-button-next swiper-button-next swiper-events pagination-next" id="events-pagination-next"></span>
          </div>
        </div>
      </div>
      <ng-template #loadingSpinnerBlock>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
      <div class="pagination-wrapper swiper-events" id="events-pagination-wrapper"></div>
    </div>
    <div class="end-button-container">
      <button class="learn-more-button" [routerLink]="['/events']">{{ 'HOME.EVENTS.MORE' | translate }} <mdb-icon
        fas
        icon="chevron-right"
        class="waves-light"
        mdbWavesEffect></mdb-icon>
      </button>
    </div>
  </div>

  <!-- Sponsors Actuales -->
  <div class="section">
    <div class="bottomLine">
      <div class="section-header">
        <div class="section-header-start-line"></div>
        <div class="section-header-content">
          <img class="section-header-logo" src="../../../../../assets/image/section-icons/IEEESponsors-small.png" alt="Logo"/>
          <h1 class="section-title">{{ "HOME.SPONSORS" | translate }}</h1>
        </div>
        <div class="section-header-end-line"></div>
      </div>
      <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
      <!-- <div class="sponsor-listing">
        <div *ngFor="let sponsor of sponsors">
          <img class="sponsor-container" src="{{sponsor.img}}" alt="Logo {{sponsor.name}}"/>
        </div>
      </div> -->
    </div>
  </div>

  </body>
  <app-footer></app-footer>
</html>
