<div *ngIf="showPopup" class="popup-container fade-in">
  <div class="popup">
    <span class="close-icon" (click)="closePopup()">✖</span>
    <h2>📅 ¡Tenemos próximos eventos!</h2>
    <p class="subtitle">No te pierdas de las últimas novedades de ITBA IEEE.</p>
    <div class="event-cards-container">
      <app-event-card-short
        *ngFor="let event of events; let i = index"
        [event]="event"
        [index]="i"
        class="popup-event-card"
        (click)="closePopup()"
      ></app-event-card-short>
    </div>
    <div class="cta-container">
      <button mat-raised-button color="primary" routerLink="/events" (click)="closePopup()" class="cta-button">Ver todos los eventos</button>
    </div>
  </div>
</div>
