<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true" [style.background-color]="navbarColors.background" mdbStickyHeader>

  <!-- Navbar brand -->
  <mdb-navbar-brand class="mx-4">
    <a class="navbar-brand" [routerLink]="['']">
      <img
        src="../../../../assets/image/general-icons/IEEE-Logo-No-Text-Darkest.png" height="60vmin"
        alt="Icon IEEE-ITBA">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
      <ul class="navbar-nav d-flex flex-grow-1 justify-content-center">
        <li class="nav-item active mx-5 d-flex align-items-center justify-content-center">
          <div [routerLink]="['/noticias']" class="animated-text waves-light justify-content-center d-flex flex-fill flex-column hover-effect">
            <span style="font-size: medium" class="text-center padding-below-lg">{{ 'NAVBAR.NEWS' | translate }}</span>
            <div class="underline d-none d-lg-block"></div>
            <div class="underline-inanimated d-lg-none"></div>
          </div>
        </li>
        <li class="nav-item active mx-5 d-flex align-items-center justify-content-center">
          <div class="animated-text waves-light justify-content-center d-flex flex-fill flex-column hover-effect" mdbWavesEffect [routerLink]="['/events']">
            <span style="font-size: medium" class="text-center padding-below-lg">{{ 'NAVBAR.EVENTS' | translate }}</span>
            <div class="underline d-none d-lg-block"></div>
            <div class="underline-inanimated d-lg-none"></div>
          </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown-center mx-5 d-flex flex-column align-items-center justify-content-center" mdbDropdown>
          <div mdbDropdownToggle type="button" class="dropdown-toggle waves-light d-flex flex-fill align-items-center justify-content-center text-white hover-effect"
               style="width: 100%" mdbWavesEffect>
              <span class="animated-text padding-below-lg">
              <span style="font-size: medium" class="text-center padding-below-lg">{{ 'NAVBAR.INSTITUTIONAL' | translate }}</span>
              <div class="underline d-none d-lg-block"></div>
            </span>
          </div>
          <div class="underline-inanimated d-lg-none"></div>
          <div *mdbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary my-1" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/team']">{{ 'NAVBAR.TEAM' | translate }}</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/ras']">RAS</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="https://csitba.web.app/">CS</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/wie']">WIE</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/emb']">EMB</a>
          </div>
        </li>
        <li *ngIf="isJournalist$ | async" class="nav-item active mx-5 d-flex align-items-center justify-content-center">
          <div class="animated-text waves-light justify-content-center d-flex flex-fill flex-column hover-effect" mdbWavesEffect [routerLink]="['/write-news']">
              <span style="font-size: medium" class="text-center padding-below-lg">{{ 'NAVBAR.WRITENEWS' | translate }}</span>
              <div class="underline d-none d-lg-block"></div>
              <div class="underline-inanimated d-lg-none"></div>
          </div>
        </li>
      </ul>

    <ul class="navbar-nav nav-last ms-auto d-flex my-4 justify-content-center">
      <li *ngIf="!isLoading; else loading" class="nav-item d-flex flex-row justify-content-center align-items-center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle class="es-en-button" value="es" checked="{{ hasSpanishLanguage() }}"
                             (click)="useLanguage('es')" color="primary">es</mat-button-toggle>
          <mat-button-toggle class="es-en-button" value="en" checked="{{ hasEnglishLanguage() }}"
                             (click)="useLanguage('en')">en</mat-button-toggle>
        </mat-button-toggle-group>

        <div mdbDropdown>
            <a mdbDropdownToggle  class="nav-link d-flex nav-link align-items-center">
                <i class="fas fa-user-circle text-white mx-1" style="font-size: x-large"></i>
                <ng-container *ngIf="user$ | async as user; else notLogged">
                    <div *ngIf="user !== null; else notLogged">
                        <div class="account">{{'NAVBAR.WELCOME' | translate}} {{ user.fullname.split(" ")[0] }}</div>
                    </div>

                </ng-container>
                <ng-template #notLogged>
                    <div class="text-white">{{ 'NAVBAR.LOGIN' | translate }}</div>
                </ng-template>
            </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <ng-container *ngIf="user$ | async; else noUser">
                <a class="dropdown-item"  [routerLink]="['/profile']">{{ 'NAVBAR.PROFILE' | translate }}</a>
                <a class="dropdown-item" *ngIf="isAdmin$ | async"  [routerLink]="['/admin']">{{ 'NAVBAR.ADMIN' | translate }}</a>
                <a class="dropdown-item"  (click)="logoutUser()">{{ 'LOGOUT.TITLE' | translate }}</a>
              </ng-container>
            <ng-template #noUser>
                <a class="dropdown-item" [routerLink]="['/login']">{{ 'LOGIN.TITLE' | translate }}</a>
                <a class="dropdown-item" [routerLink]="['/register']">{{ 'REGISTER.TITLE' | translate }}</a>
            </ng-template>
          </div>
        </div>
      </li>
      <ng-template #loading>
        <div class="h-100">
          <mat-progress-spinner [diameter]="30"
                                mode="indeterminate"
                                [ngStyle]="{'color':navbarColors.hover}"></mat-progress-spinner>
        </div>
      </ng-template>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
