
.buttonNavbar {
    padding: 1.5vmin;
    text-align: center;
    margin: 1vmin;
    border: whitesmoke 2px solid;
    border-radius: 5vmin;
    color: whitesmoke;
    background-color: transparent;
    transition: all ease 0.5s;
}

.buttonNavbar:hover {
    color: black;
    background-color: whitesmoke;
}

.nav-item{
    text-align: right;
}

.row{
    border: solid 1px red;
    width: 100%;
}

.es-en-button{
  color: white;
  transition: all ease 0.5s;
}

.es-en-button:hover{
  color: black;
  background-color: whitesmoke;
}

.mat-button-toggle-checked{
  background-color: whitesmoke;
  color: black;
}

#nav {
    background: #0d47a1;
    color: whitesmoke;
}

#accountButton{
    background-color: transparent;
    border: 0px;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

::ng-deep.mat-menu-panel {
    transform: translate(0px, 20%);
}
