<div class="main-container event">
  <app-event-facts-banner
    imageUrl="../../../../../assets/image/events/bitcup/bitcup.png"
    imageAlt="Logo Bitcup"
  >
  </app-event-facts-banner>

  <app-event-title [dates]="event?.dates">
    {{ 'HOME.BITCUP.TITLE' | translate }}
  </app-event-title>

  <!-- bitcup -->
  <div class="info">
    <app-event-section
      style="padding-right:3rem;"
      title="{{ 'BITCUP.DESCRIPTION' | translate }}">
      <p>{{ 'BITCUP.DESCRIPTION-TEXT' | translate }}</p>
    </app-event-section>
    <div>
      <img src="../../../../../assets/image/logos/data.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
  </div>

  <!-- formato -->
  <div class="info reversed">
    <div style="padding-right:3rem;">
      <img src="../../../../../assets/image/events/bitcup/competencia.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
    <app-event-section
      title="{{ 'BITCUP.FORMAT' | translate }}">
      <p>{{ 'BITCUP.FORMAT-TEXT' | translate }}</p>
    </app-event-section>
  </div>

  <!-- nivel -->
  <div class="info">
    <app-event-section
      title="{{ 'BITCUP.LEVEL' | translate }}">
      <p>{{ 'BITCUP.LEVEL-TEXT' | translate }}</p>
    </app-event-section>
    <div>
      <img src="../../../../../assets/image/events/bitcup/level.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
  </div>

  <app-event-date-section [dates]="event?.dates" [inscriptionLink]="event?.inscriptionLink" />

  <!-- Sponsors -->
  <app-event-section title="{{ 'IEEEXTREME.SPONSORSHIP.TITLE' | translate }}">
    <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
  </app-event-section>

  <!-- Editor de evento -->
  <app-event-editor-button *ngIf="!!event" [event]="event" (updateEmitter)="updateEvent($event)"></app-event-editor-button>
</div>
