.info {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/* Flex */
@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 25%;
    }
}


@media (max-width: 770px) {
    .info {
        flex-flow: column;
    }
    .info > div {
        padding: 0 !important;
    }
    .reversed {
        flex-flow: column-reverse
    }
}
