<div class="main-container event">
  <app-event-banner
    url="events/bitcup/bitcup.png"
    alt="Logo Bitcup"
  >
  </app-event-banner>

  <app-event-title [dates]="event?.dates">
    {{ 'HOME.BITCUP.TITLE' | translate }}
  </app-event-title>

  <!-- INSCRIPTION section -->
  <app-event-inscription-section [dates]="event?.dates" [inscriptionLink]="event?.inscriptionLink"/>

  <div class="row">
    <div class="col col-xl-6 col-12 max-w-1/2 align-self-end">
      <!-- bitcup -->
      <div class="info">
        <app-event-section
          style="padding-right:3rem;"
          title="{{ 'BITCUP.DESCRIPTION' | translate }}">
          <p>{{ 'BITCUP.DESCRIPTION-TEXT' | translate }}</p>
        </app-event-section>
        <div>
          <img src="../../../../../assets/image/events/bitcup/description.png" height="160vmin" alt="Logo ITBA-IEEE">
        </div>
      </div>

      <!-- formato -->
      <div class="info reversed">
        <div style="padding-right:3rem;">
          <img src="../../../../../assets/image/events/bitcup/format.png" height="160vmin" alt="Logo ITBA-IEEE">
        </div>
        <app-event-section
          title="{{ 'BITCUP.FORMAT' | translate }}">
          <p>{{ 'BITCUP.FORMAT-TEXT' | translate }}</p>
        </app-event-section>
      </div>

      <!-- nivel -->
      <div class="info mb-10">
        <app-event-section
          title="{{ 'BITCUP.LEVEL' | translate }}">
          <p>{{ 'BITCUP.LEVEL-TEXT' | translate }}</p>
        </app-event-section>
        <div>
          <img src="../../../../../assets/image/events/bitcup/level.png" height="160vmin" alt="Logo ITBA-IEEE">
        </div>
      </div>
    </div>
    <div class="col col-xl-6 col-12">
      <img src="../../../../../assets/image/events/bitcup/logo-bitcup.png" style="max-width: 100%; max-height: 100%; object-fit: contain;"/>
    </div>
  </div>


  <app-event-date-section [dates]="event?.dates" />

  <!-- Sponsors -->
  <app-event-section title="{{ 'IEEEXTREME.SPONSORSHIP.TITLE' | translate }}">
    <app-sponsor-component [currentsponsor]="sponsorsServiceVar.getCurrentSponsors()"></app-sponsor-component>
  </app-event-section>

  <!-- Editor de evento -->
  <app-event-editor-button *ngIf="!!event" [event]="event" (updateEmitter)="updateEvent($event)"></app-event-editor-button>
</div>
