.bitcup-cards-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 0;
    margin: 2rem 0 3rem;
}

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 25%;
    }
}

@media (max-width: 900px) {
    .bitcup-cards-grid {
        grid-template-columns: 1fr;
    }
}
