
<!-- Loading -->
<div *ngIf="newsData.length==0">
    <div class="cardnews" *ngFor="let n of [0,1,2]">
        <table>
            <tr>
                <td>
                    <div id="textSection">
                        <h3 class="loading">Lorem ipsum dolor sit amet, consectetur</h3>
                        <ul class="tags">
                            <li class="loading">tag1</li>
                            <li class="loading">tag2</li>
                            <li class="loading">tag2</li>
                        </ul>
                        <h4 class="loading" style="width: 100px;">Por cualquierautor</h4>
                    </div>
                </td>
                <td>
                    <div class="loading" style="height: 200px; width: 100px; margin: 2px;"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Loaded -->
<div *ngIf="newsData.length!=0">
    <div class="cardnews" *ngFor="let noticia of newsData">
        <table>
            <tr>
                <td>
                    <div id="textSection">
                        <h3>{{noticia.title}}</h3>
                        <ul class="tags">
                            <li *ngFor="let tag of noticia.tags">{{tag}}</li>
                        </ul>
                        <h4>Por {{noticia.author}}</h4>
                    </div>
                </td>
                <td>
                    <img src="{{noticia.imageUrl}}" alt="{{noticia.imageText}}">
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <button (click)="addArticles(3)">Load 3 articles more</button>
</div>