body {
    padding: 10%;
    background: rgb(136, 31, 31);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
}

.router-content {
    min-height: 100vh;
}
