export const firebaseConfig = {
    apiKey: 'API_KEY',
    authDomain: 'AUTH_DOMAIN',
    databaseURL: 'DATABASE_URL',
    projectId: 'PROJECT_ID',
    storageBucket: 'STORAGE_BUCKET',
    appId: 'APP_ID',
 };

export const blogCollectionName = 'blog-entries';
export const userCollectionName = 'users';
export const metadataCollectionName = 'collection-metadata';
