<div class="main-container" id="home">
  <div class="container" id="wip">
    <img src="../../../../../assets/image/wie/wie_logo.svg" class="wie-purple-logo" alt="Logo WIE" />
  </div>
  <hr>
  <div class="text-container">
    <h2 class="section-title">{{'WIE.WHATIS.TITLE' | translate}}</h2>
    <p class="page-paragraph">
      {{'WIE.WHATIS.CONTENT' | translate}}
    </p>
    <hr>
    <h2 class="section-title">{{'WIE.OBJECTIVES.TITLE' | translate}}</h2>
    <p class="page-paragraph">{{'WIE.OBJECTIVES.CONTENT.TEXT' | translate}}</p>
    <li class="page-paragraph">{{'WIE.OBJECTIVES.CONTENT.BULLET1' | translate}}</li>
    <li class="page-paragraph">{{'WIE.OBJECTIVES.CONTENT.BULLET2' | translate}}</li>
    <hr>
    <h2 class="section-title">{{'WIE.JOIN.TITLE' | translate}}</h2>

    <div class="buttons-display">
      <div><a role="button" tabindex="0" href="https://bit.ly/membresia-wie" target="_blank"
              rel="noopener noreferrer" class="btn btn-outline-dark">{{'WIE.JOIN.MEMBERSHIP' | translate}}</a>
        <a role="button" tabindex="0" href="https://bit.ly/wieitba-unite" target="_blank"
           rel="noopener noreferrer" class="btn btn-outline-dark">{{'WIE.JOIN.JOIN' | translate}}</a>
      </div>
    </div>
    <hr>
    <h2 class="section-title">{{'WIE.FAQ.TITLE' | translate}}</h2>
    <mat-accordion class="faq-accordion">

      <mat-expansion-panel class="mat-elevation-z0"
                           *ngFor="let question of ('WIE.FAQ.QUESTIONS' | translate)">
        <mat-expansion-panel-header [collapsedHeight]="'max-content'" [expandedHeight]="'max-content'">
          <mat-panel-title class="faq-question">
            {{ question.QUESTION }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="faq-answer">
          {{ question.ANSWER }}
        </p>
      </mat-expansion-panel>

    </mat-accordion>
    <hr>
    <h2 class="section-title ">{{'WIE.CONTACT.TITLE' | translate}}</h2>
    <div class="flex flex-center justify-content-around p-3">
      <a href="https://www.linkedin.com/company/wie-itba/posts/" class="contact-link">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://www.instagram.com/wie_itba/" class="contact-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/wie_itba" class="contact-link">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCRBIGxRismQRL9ZlCp96BQQ" class="contact-link">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.tiktok.com/@wie_itba" class="contact-link">
        <i class="fab fa-tiktok"></i>
      </a>
      <a href="https://www.reddit.com/user/wie_itba/" class="contact-link">
        <i class="fab fa-reddit-alien"></i>
      </a>
    </div>
  </div>
</div>
