@media screen and (min-width: 600px){
    .global-container{
        width:100%;
        background: #ffffff;;
        padding:10px;
        text-align: center;
    }
    .cargo{
    }
}
@media screen and (max-width: 600px){
    .global-container{
        width:100%;
        background: #ffffff;;
        padding:10px;
        text-align: center;
    }
    .cargo{
        width:90%;
    }
}
.caja{
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
