<div class="global-container" fxLayoutAlign="center center" fxLayout="column">
    <h1 class="font-weight-bold deep-orange-lighter-hover mb-3">Miembros del equipo</h1>
    <div  class="caja" fxLayoutAlign="center center" fxlayoutgap="10px grid">
      <app-cargo
          nombre="Ariel"
          apellido="Nowik"
          cargo="Presidente"
          imageurl="https://media-exp1.licdn.com/dms/image/C4E03AQFTxrT6JoryVg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=Xj_YKJanffsC1FXavOEonkUKitd6qP1K2M6hOcqelKQ"
          linkedin="https://www.linkedin.com/in/ariel-nowik-13608a158/"
          email="anowik@itba.edu.ar"
          >
      </app-cargo>
      <app-cargo
          nombre="Dante"
          apellido="Kieniguiel"
          cargo="Vicepresidente"
          imageurl="https://media-exp1.licdn.com/dms/image/C4E03AQHDj1YtRTiMMg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=bQB_gVlzsMtr2qWVs15j7DYNTOEo8yZw5brxsavBr4M"
          email="dkieniguiel@itba.edu.ar"
          linkedin="https://www.linkedin.com/in/dante-k-572396bb/"
      >
    </app-cargo>
      <app-cargo
          nombre="Franco"
          apellido="Moriconi"
          cargo="Tesorero"
          imageurl="assets/image/FRANCO-MORICONI.jpg"
          email="fmoriconi@itba.edu.ar"
          linkedin="https://www.linkedin.com/in/franco-moriconi-0002a0196/"
      >
      </app-cargo>
      <app-cargo
          nombre="Carola"
          apellido="Pedrosa"
          cargo="Secretaria General"
          imageurl="https://media-exp1.licdn.com/dms/image/C4E03AQHLMTnFH_ToeQ/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=kNzbmLfnmmK-FNIHDoQyGLLpXJO0LJKOXtRLVNJwD5U"
          email="cpedrosa@itba.edu.ar"
          linkedin="https://www.linkedin.com/in/carola-pedrosa-87342b1a3/"
      >
      </app-cargo>
    </div>
    <div  class="caja" fxLayoutAlign="center center" fxlayoutgap="10px grid">
      <app-cargo
          nombre="Ricardo"
          apellido="Lin"
          cargo="Fundraising"
          imageurl="assets/image/RICARDO-LIN.jpg"
          email="rlin@itba.edu.ar"
      >
      </app-cargo>
      <app-cargo
          nombre="Alex"
          apellido="Moldavan"
          cargo="Media & Com."
          imageurl="assets/image/ALEX-MOLDAVAN.jpg"
          email="amoldavan@itba.edu.ar"
      >
      </app-cargo>
      <app-cargo
          nombre="Sofía"
          apellido="Petro"
          cargo="Media & Com."
          imageurl="assets/image/SOFIA-PETRO.jpeg"
          email="spetro@itba.edu.ar"
      >
      </app-cargo>
      <app-cargo
          nombre="Aldana"
          apellido="Bruno"
          cargo="Media & Com."
          imageurl="assets/image/ALDANA-BRUNO.jpeg"
          email="abruno@itba.edu.ar"
      >
      </app-cargo>
  </div>
</div>
