<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros</title>
  </head>
  <header>
    <app-navbar></app-navbar>
  </header>

  <body>
    <section id="contact">
      <div class="topbottomLine pt-2 pb-2 mb-4" id="home">
        <div class="container">
          <div class="title-container">
            <!--

                    <div class="col-md-5 col-sm-12 pt-1 pb-1 flexImage" >
                        <img src="../../../../../assets/image/IEEEContactos.png" alt="Contact" class="IEEEContactImage">
                    </div>
                -->
            <div>
              <h1 class="page-title">{{ "ABOUT-US.TITLE" | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="greyBottomLine">
          <div class="add-space">
            <h1 class="word-break section-title-text">
              {{ "ABOUT-US.WHO-WE-ARE.TITLE" | translate }}
            </h1>
            <div class="word-break description-text">
              {{ "ABOUT-US.WHO-WE-ARE.DESC" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="greyBottomLine">
          <div class="add-space">
            <h1 class="word-break section-title-text">
              {{ "ABOUT-US.WHAT-IS-IEEE.TITLE" | translate }}
            </h1>
            <div class="word-break description-text">
              {{ "ABOUT-US.WHAT-IS-IEEE.DESC" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="bottomLine">
        <div class="container">
          <div class="add-space">
            <h1 class="word-break section-title-text">
              {{ "ABOUT-US.WHAT-IS-ITBA.TITLE" | translate }}
            </h1>
            <div class="word-break description-text">
              {{ "ABOUT-US.WHAT-IS-ITBA.DESC" | translate }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
  </body>
</html>
