.title{
    color: #ff6d00;
    font-weight: bold;
    padding: 50px;
    text-align: center;
}
.title2{
    color: #ff6d00;
    font-weight: bold;
    padding: 50px;
    text-align: center;
}
.spacenav{
    min-height:50px;
}
.ieeextreme-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/image/ieee-extreme.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ieeextreme-big{
    min-height:100%;

    width:100%;
}
.information{
  max-width: 1000px;
}
.ieeextreme{
    background:rgba(255, 248, 225, 1);
    padding:50px;
    width:100%;
    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/image/ieee-extreme.jpg");*/
    /*background-image: */

}
.ieeextreme2{
    background:#fbe9e7;
    padding:50px;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
.ieeextreme3{
    background:#ede7f6;
    padding:50px;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
.ieeextreme4{
    background:#e3f2fd;
    padding:50px;
    width:100%;
}
.ieeextreme5{
    background:white;
    padding:50px;
    width:100%;
}
.persona{
    margin:20px;
    padding:20px;
    border: 1px dashed #000000;
    text-align: center;
    min-width: 200px;
}
.fecha{
    color: #ff6d00;
    font-weight: bold;
    font-size:25px;
}
.circle{
    color: #1565c0;
    /*background: #ffcc80;*/
    width:150px;
    height:150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-right: 1px dashed #000000;
}
.circle2{
    color: #1565c0;
    /*background: #ffcc80;*/
    width:150px;
    height:150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dashed #000000;
}
.last-circle{
    color: #1565c0;
    /*background: #ffcc80;*/
    width:150px;
    height:150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /*border-right: 1px solid #000000;*/
}
.last-circle2{
    color: #1565c0;
    /*background: #ffcc80;*/
    width:150px;
    height:150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.text{
    text-align: center;
    font-size:15px;
    color : #000000;
}
.text2{
    width:50%;
    text-align: center;
    font-size:13px;
    color: #000000;
    font-weight: lighter;
}
.circle-container{
    padding:20px;
}
.fundraising{
    flex-wrap: wrap;
    justify-content: center;
}
.logo-sponsor{
    width:200px;
    margin:50px;
}
