footer {
    padding-bottom: 5vmin;
    position: relative;
    bottom: 0;
    align-content: center;
    background: linear-gradient(75deg, rgb(172, 183, 235) 0%, rgb(196, 217, 241) 50%, rgba(59,173,217,1) 100%) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
}

.col-sm {
    text-align: center;
    padding-top: auto;
    vertical-align: middle;
}

.imgFooter {
    position: relative;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}
.container{
    width:100%;
}
:host {
    width:100%;
}
.margin-logo{
    margin:10px;
}
