<footer class="page-footer font-small pt-4 pb-4" style="background-color: {{color}}">
    <div class="footer-container">

        <div class="image-container col-12 col-md-6 mb-3 mb-md-0 ml-5">
            <div class="d-flex align-items-center">
                <img src="../../../../assets/image/general-icons/IEEE-Logo-No-Text-Darkest.png" alt="IEEE Logo" class="footer-logo">
                <!-- IEEE ITBA Text -->
                <div class="d-inline-block footer-text text-start ml-3">
                    <h2 class="text-uppercase mb-0">IEEE<br>ITBA</h2>
                </div>
            </div>
        </div>

        <div class="text-container">

            <div class="text-block">
                <h4 class="text-white font-weight-bold mb-3">{{ 'FOOTER.ORGANIZATION' | translate }}</h4>
                <ul class="list-unstyled text-start row">
                    <li>
                        <a [routerLink]="['/about-us']" class="text-white">{{ 'FOOTER.ABOUTUS' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/sponsors']" class="text-white">{{ 'FOOTER.SPONSORS' | translate }}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']" class="text-white">{{ 'FOOTER.CONTACT' | translate }}</a>
                    </li>
                </ul>
            </div>

            <div class="text-block">
                <h4 class="text-white font-weight-bold mb-3">{{ 'FOOTER.SOCIAL' | translate }}</h4>
                <ul class="list-unstyled text-start row">
                    <li>
                        <a href="https://www.instagram.com/ieee.itba/" class="text-white">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/ieee-itba" class="text-white">
                            <i class="fab fa-linkedin-in"></i>
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
