.page-footer {
    background-color: var(--bs-ieee-bright-blue);
    color: white;
}

.page-footer .footer-logo {
    height: auto;
    width: 80px;
}

.page-footer .footer-text h2 {
    font-size: 1.75rem;
    font-weight: bold;
    white-space: pre-line;
}

.page-footer ul.list-unstyled {
    padding-left: 0;
}

.page-footer ul li a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.page-footer ul li a:hover {
    text-decoration: underline;
}

.text-block {
    max-width: fit-content;
}

@media (max-width: 767px) {
    .page-footer .text-start, .page-footer ul.list-unstyled {
        text-align: center;
        display: block;
    }

    .page-footer .d-inline-block.text-start {
        display: inline-block;
    }

    .text-block {
        max-width: fit-content;
    }

    .page-footer ul.list-unstyled {
        text-align: left;
    }

    .page-footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .page-footer .row{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    .page-footer .row > div{
        max-width: fit-content;
    }
}
