<mdb-card>
    <div *ngIf="shouldNotShowPerson(); else showProfile">
        <!-- Si no existe, mostramos box en blanco -->
        <div class="white-box"></div>
    </div>

    <ng-template #showProfile>
        <!-- Imagen principal -->
        <img height="201" width="268" mat-card-image
             [ngSrc]="person.photo" alt="Foto de {{person.name}}" loading="eager"
             style="width: 100%;"
        >

        <a>
            <div class="mask rgba-white-slight"></div>
        </a>

        <mdb-card-body cascade="true" class="textContainer text-center pb-0 px-0">
            <!-- Nombre -->
            <mdb-card-title>
              <h4 class="nameTextContainer">
                <strong>{{person.name}}</strong>
              </h4>
            </mdb-card-title>

            <!-- Cargo de la persona -->
            <mdb-card-text *ngIf="person.role !== 'NULL'" id="roleTextContainer">
              <h5 class="roleTextContainer">{{ person.role | translate }}</h5>
            </mdb-card-text>

          <div class="iconContainer">
            <!-- Linkedin -->
            <a class="cardIcon" href="{{person.linkedin}}">
              <i class="fab fa-lg fa-linkedin"></i>
            </a>
            <!-- Mail -->
            <a class="cardIcon" href="mailto:{{person.mail}}">
              <i class="fas fa-lg fa-envelope"></i>
            </a>
          </div>
        </mdb-card-body>
    </ng-template>
</mdb-card>
