mdb-card {
    border-bottom-left-radius: 5vmin;
    border-bottom-right-radius: 5vmin;
    margin: 1.5vmin;
    margin-top: 3em;
    color: black;
    padding-bottom: 1.5vmin;
    min-height: 300px;
    max-width: 20em;
    min-width: 100px;
}

mdb-card-img {
    padding: 0.5em 0.5em 0 0.5em;
    object-fit: fill;
}

mdb-card-text {
    text-align: left;
    color: black;
}

h4 {
    font-family: roboto;
    font-size: 17.5px;
}

h5 {
    font-family: roboto;
    font-size: 15px;
}

.textContainer {
    padding: 0.5em 0;
}

.nameTextContainer {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em 0;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 2em;
    margin: 0;
}

.roleTextContainer{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.white-box {
    min-height: 300px;
    margin: 1.5vmin;
    padding-bottom: 1.5vmin;
}
