.title-container {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-top: var(--bs-ieee-bright-blue) 2px solid;
    border-bottom: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    margin-bottom: 2%
}

.title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--bs-ieee-bright-blue-80);
    letter-spacing: 1px;
}

@media (max-width: 770px) {
    .course-title {
        font-size: 1.7rem;
    }
}