<div fxLayoutAlign="center center" fxLayout="column">
    <label for="fname">Titulo</label>
    <input class="long-input" type="text" id="titulo" name="titulo"><br><br>
    
    <label for="lname">NombreUrl (sin espacios)</label>
    <input class="long-input" type="text" id="nombreUrl" name="nombreUrl"><br><br>
    <label for="lname">Autor</label>
    <input class="long-input" type="text" id="autor" name="autor"><br><br>
    <label for="lname">imagen url</label>
    <input class="long-input" type="text" id="imageUrl" name="imageUrl"><br><br>
    <label for="lname">imagen text</label>
    <input class="long-input" type="text" id="imageText" name="imageText"><br><br>
    <label for="lname">Breve introducción</label>
    <input class="long-input" type="text" id="shortIntro" name="imageText"><br><br>
    <label for="lname">Contenido</label>
    <textarea class="long-input" id="content" name="content" cols="50" rows="10"></textarea>
    
    <input type="submit" value="Submit" (click)="sendAnuncio()">
</div>