<div class="main-container">
  <div class="topbottomLine pt-2 pb-2 mb-4" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 pt-1 pb-1 flexImage">
          <img
            src="../../../../../assets/image/section-icons/IEEEEventos.png"
            alt="Events"
            class="IEEEEventsImage"
          />
        </div>
        <div class="col-md-7 col-sm-12 pt-1 pb-1 flexText">
          <h1 class="page-title">{{ "NAVBAR.EVENTS" | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center row-eq-height">
    <!-- Eventos (material angular) -->

    <!-- new card grid -->
    <ul class="card-listing" *ngIf="loadingEvents === false; else loadingEventsBlock">
      <li *ngFor="let event of events; index as i">
        <app-event-card [event]="event" [index]="i">
        </app-event-card>
      </li>
    </ul>
    <ng-template #loadingEventsBlock>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </div>

</div>
