.main-container {
    padding: 0;
    width: 100vw !important;
    height: 100vh !important;
}

.custom-width {
    max-width: 75%;
    width: fit-content;
}

h1{
    font-size: 30pt;
}

h3{
    font-size: 15pt;
    text-align: center;
    color: whitesmoke;
}

hr {
    border-color: whitesmoke;
}

a{
    font-weight: 100;
}

a:any-link{
    color: var(--bs-ieee-dark-orange-80);
}

a:hover{
    color: var(--bs-ieee-dark-orange);
}

.error {
  color: red;
  text-align: start;
}

.success {
  color: green;
  text-align: start;
}

input {
    font-size: 1.3em;
}

.login-button {
  width: 100%;
  font-size: 1.4em;
}

.login-card-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5em;
}

.topbottomLine {
    border-top: var(--bs-ieee-bright-blue) 2px solid;
    border-bottom: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    align-content: center;
}

.page-title {
    color: var(--bs-ieee-bright-blue);
    font-size: 2.5em
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    font-size: 1em;
    margin-right: .5rem;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
}
  
.divider-line {
    display: flex;
    align-items: center;
    margin: 1rem 0 .8rem;
}

.divider-line p {
    flex-shrink: 0;
    color: #8997a3;
    margin: 0 16px;
    font-size: 1em;
    line-height: 1.5;
}

.divider-line span {
    border-bottom: 1px solid #8997a3;
    flex-grow: 1;
}