.main-container {
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100vw !important;
    height: 100vh !important;
}

h1{
    font-size: 30pt;
}

h3{
    font-size: 15pt;
    text-align: center;
    color: whitesmoke;
}

hr {
    border-color: whitesmoke;
}

a{
    font-weight: 100;
}

a:any-link{
    color: rgb(20, 82, 255);
}

a:hover{
    color: rgb(98, 136, 238);
}

.error {
  color: red;
  text-align: start;
}

.success {
  color: green;
  text-align: start;
}

.mainFrame {
}

input {
    font-size: 1.3em;
}

.login-button {
  width: 100%;
  background-color: #00629B;
  font-size: 1.4em;
}

.login-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topbottomLine {
    border-top:#0d47a1 2px solid;
    border-bottom: #0d47a1 2px solid;
    vertical-align: middle;
    align-content: center;
}

.page-title {
    color: #0d47a1;
    font-size: 2.5em
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:  #0d47a1 !important;
   }

::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color:  #0d47a1 !important;
}

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color:  #0d47a1 !important;;
}
