<div class="box" fxLayoutAlign="start center" fxLayout="row">
    <div>
      <img class="image-cargo" src="{{imageurl}}">
    </div>
    <div fxLayoutAlign="center center" fxLayout="row">
        <p class="nombre"> {{nombre}} <br>
        {{apellido}} </p>
    </div>
    <div class="cargo" fxLayoutAlign="center center" fxLayout="row">
      <p class="text">{{cargo}}</p>
    </div>
    <div *ngIf="linkedin" fxLayoutAlign="center center" fxLayout="row">
        <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
    <!--{{email}}-->
    <div *ngIf="!linkedin" fxLayoutAlign="center center" fxLayout="row">
        <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
</div>
