<div [fxHide.lt-sm]="true" class="box" fxLayoutAlign="center center" fxLayout="column">
    <div>
      <img class="image-cargo" src="{{imageurl}}">
    </div>
    <div>
      <div fxLayoutAlign="center center" fxLayout="row">
          <p class="nombre"> {{nombre}} <br>
          {{apellido}} </p>
      </div>
      <div class="cargo" fxLayoutAlign="center center" fxLayout="row">
        <p class="text">{{cargo}}</p>
      </div>
    </div>
    <div *ngIf="linkedin" fxLayoutAlign="center center" fxLayout="row">
        <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
    <!--{{email}}-->
    <div *ngIf="!linkedin" fxLayoutAlign="center center" fxLayout="row">
        <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
</div>

<div [fxHide.gt-xs]="true" class="box" fxLayoutAlign="center center" fxLayout="row">
  <div [fxFlex]="50">
    <img class="image-cargo" src="{{imageurl}}">
  </div>
  <div [fxFlex]="50" class="nombreYcargo">
    <div fxLayoutAlign="center center" fxLayout="row">
        <p class="nombre"> {{nombre}} <br>
        {{apellido}} </p>
    </div>
    <div class="cargo" fxLayoutAlign="center center" fxLayout="row">
      <p class="text">{{cargo}}</p>
    </div>
    <div *ngIf="linkedin" fxLayoutAlign="center center" fxLayout="row">
      <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
    <!--{{email}}-->
    <div *ngIf="!linkedin" fxLayoutAlign="center center" fxLayout="row">
        <a href="{{linkedin}}"> <img class="linkedin" src="assets\icons\linked-in.png"></a>
    </div>
  </div>
  
</div>
