.news-card {
    height: 25rem;
    justify-content: space-between;
    overflow: hidden;
    padding:0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}
.news-card-img {
    align-self: center;
    margin: 0;
    height:15em;
    width: 100%;
    object-fit: cover;
    flex:auto;
}
.news-card-content {
    margin: 1rem auto !important;
    text-overflow: ellipsis;
    width: 92%;
    height: 6rem;
    position: relative;
}

.clamp {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.mat-mdc-card-content::ng-deep {
  padding: 0 !important;
}

.align-end {
  position: absolute;
  bottom: 0;
  width: 100%;
}
