
<div class="global-container" fxLayoutAlign="center center" fxLayout="column">
    <div class="logo-container" fxLayoutAlign="end center" fxLayout="row">
        <div>
            <img class="logo" src="assets/image/ITBA 60 AÑOS - Negativo.png">
        </div>
        <div>
            <img class="logo-ieee" src="assets/image/ieee_mb_white.png">
        </div>
        
    </div> 
    
</div>
<div class="final-area" fxLayoutAlign="end center" fxLayout="column">
    <div class="final-text" fxLayoutAlign="center center" fxLayout="row">
        IEEE-ITBA Student Branch es una organización estudiantil del ITBA respaldada por IEEE.
    </div>
</div>