
<div class="global-container" fxLayoutAlign="center center" fxLayout="column">
    <div class="logo-container" fxLayoutAlign="center center" fxLayout="row">
        <img class="logo" src="assets/image/Marca-ITBA-Color-Blanco-ALTA.png">
        <img class="logo-ieee" src="assets/image/ieee_mb_white.png">
        
    </div> 
    
</div>
<div class="final-area" fxLayoutAlign="center center" fxLayout="column">
    <div class="final-text" fxLayoutAlign="center center" fxLayout="row">
        IEEE-ITBA Student Branch es una organización estudiantil del ITBA respaldada por IEEE.
    </div>
</div>