<div class="main-container">
  <div class="topbottomLine" id="home" style="margin-bottom:2%">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 id="logotext" class="page-title">{{ 'WRITE-NEW.TITLE' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>

    <div class="editor-container">
        <mat-card style="max-width: 45%; height: fit-content; padding: 1rem;">
            <mat-list-item>
              <!-- Title -->
              <mat-form-field class="w-100">
                <mat-label>{{ 'WRITE-NEW.TITLE2' | translate }}</mat-label>
                <input id="title" matInput [(ngModel)]="newsContent.title">
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <!-- Tags -->
              <mat-form-field class="w-100">
                <mat-chip-grid #chipGrid aria-label="Tag selection">
                  <mat-chip-row
                    *ngFor="let tag of currentTags()"
                    [removable]="removable"
                    (removed)="remove(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip-row>
                  <input
                    *ngIf="currentTags().length < maxTags"
                    placeholder="{{ 'WRITE-NEW.TAGS' | translate }}"
                    #tagInput
                    [formControl]="tagControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-grid>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{ tag }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <!-- Image -->
                <div class="w-100 d-flex flex-column mb-3 justify-content-center">
                    <p class="m-2">{{ 'WRITE-NEW.COVERIMG' | translate }}</p>
                    <input #pictureInput (change)="uploadImage($event)" type="file" accept="image/png, image/jpeg, image/jpg"
                           class="d-none">
                    <button mat-raised-button (click)="pictureInput.click()" color="primary" type="button">
                        <mdb-icon fas icon="upload" class="mr-1"></mdb-icon>
                        {{ 'PROFILE.BUTTONS.PICTURE_UPLOAD' | translate }}
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
              <!-- Epigrafe -->
              <mat-form-field class="w-100">
                <mat-label>{{ 'WRITE-NEW.EPIGRAPH' | translate }}</mat-label>
                <input id="imageText" matInput [(ngModel)]="newsContent.imageText">
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="has-paragraph-checkbox" [(ngModel)]="hasShortIntro" (ngModelChange)="splitContent()" aria-labelledby="firstParagraphCheckboxLabel">
              </mat-checkbox>
              <label id="firstParagraphCheckboxLabel" class="mb-0">
                {{ 'WRITE-NEW.FIRST_PARAGRAPH' | translate }}
              </label>
            </mat-list-item>
            <mat-list-item>
              <!-- Body -->
              <form>
                <div class="form-group mt-3">
                  <h4><label for="text-editor">{{ 'WRITE-NEW.BODY' | translate }}</label></h4>
                  <quill-editor id="text-editor" (onContentChanged)="updateNewsText($event)" [(ngModel)]="textContent" [ngModelOptions]="{ standalone: true }">

                  </quill-editor>
                </div>
              </form>
            </mat-list-item>
            <mat-list-item>
              <button mat-raised-button class="upload-button" id="submitNews" color="primary" (click)="submitNews()">
                  <span *ngIf="newsReference === undefined; else noReferenceBlock">
                      {{ 'WRITE-NEW.UPLOAD' | translate }}
                  </span>
                  <ng-template #noReferenceBlock>
                      {{ 'WRITE-NEW.UPDATE' | translate }}
                  </ng-template>
              </button>
            </mat-list-item>
        </mat-card>

    <mat-card class="preview-card">
      <div class="preview-container">
        <h2 class="word-break short-intro-text" style="margin-bottom: 1rem">{{ getAuthorName() || "Author" }}</h2>
        <h1 class="word-break preview-title">{{ newsContent.title || "Título" }}</h1>
        <span class="word-break short-intro-text" [innerHTML]="newsContent.shortIntro || ''"></span>
        <img class="preview-image" src="{{ newsContent.imageUrl || '' }}" alt="Imagen de portada" [width]="600">
        <span class="preview-epigraph">{{ newsContent.imageText || "Epígrafe" }}</span>
        <div class="content-text word-break">
          <br>
          <span [innerHTML]="newsContent.content || ''"></span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
