<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WritersForm</title>
</head>

<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine" id="home" style="margin-bottom:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext" class="page-title">{{ 'WRITE-NEW.TITLE' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="editor-container">
        <mat-card style="max-width: 45%">
            <mat-list-item>
              <!-- Title -->
              <mat-form-field class="full-width">
                <mat-label>{{ 'WRITE-NEW.TITLE2' | translate }}</mat-label>
                <input id="title" matInput [(ngModel)]="newsContent.title">
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <!-- Tags -->
              <mat-form-field class="full-width">
                <mat-chip-list #chipList aria-label="Tag selection">
                  <mat-chip
                    *ngFor="let tag of currentTags()"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Tags"
                    #tagInput
                    [formControl]="tagControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <!-- Image -->
              <mat-form-field class="full-width">
                <mat-label>{{ 'WRITE-NEW.COVERIMG' | translate }}</mat-label>
                <input id="imageUrl" matInput [(ngModel)]="newsContent.imageUrl">
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <!-- Epigrafe -->
              <mat-form-field class="full-width">
                <mat-label>{{ 'WRITE-NEW.EPIGRAPH' | translate }}</mat-label>
                <input id="imageText" matInput [(ngModel)]="newsContent.imageText">
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="has-paragraph-checkbox" [(ngModel)]="hasShortIntro" (ngModelChange)="splitContent()">
                Primer párrafo encima de imagen
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <!-- Body -->
              <form [formGroup]="editorForm">
                <div class="form-group">
                  <label for="editor">{{ 'WRITE-NEW.BODY' | translate }}</label>
                  <quill-editor formControlName="editor" (onContentChanged)="updateNewsText($event)"></quill-editor>
                </div>
              </form>
            </mat-list-item>
            <mat-list-item>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="publishNow">
                <mat-radio-button [value]="true" style="margin-right: 1.5rem;">Publicar ahora</mat-radio-button>
                <mat-radio-button [value]="false">Programar fecha de publicación</mat-radio-button>
              </mat-radio-group>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field class="half-width">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="datePicker" [disabled]="publishNow" [formControl]="formControlDate" (dateChange)="changedDate($event)">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <button mat-raised-button class="upload-button" id="submitNews" (click)="submitNews()">
                {{ 'WRITE-NEW.UPLOAD' | translate }}
              </button>
            </mat-list-item>
        </mat-card>

        <mat-card class="preview-card">
          <div class="preview-container">
            <mat-chip-list class="news-tags">
              <div *ngFor="let tag of currentTags()">
                <mat-chip class="news-tag" selected>{{ tag }}</mat-chip>
              </div>
            </mat-chip-list>
            <h1 class="word-break preview-title">{{ newsContent.title || "Title" }}</h1>
            <span class="word-break short-intro-text" [innerHTML]="newsContent.shortIntro"></span>
            <img class="preview-image" src="{{ newsContent.imageUrl }}" alt="Imagen de noticia" [width]="600">
            <span class="preview-epigraph">{{ newsContent.imageText || "Epigraph" }}</span>
            <div class="content-text word-break">
              <div class="preview-author-date-container">
                By
                <span class="word-break">{{ user.fname + ' ' + user.lname || "Author" }},</span>
                <div class="preview-date-container">
                  <span class="word-break">{{ dateFormatted() }}</span>
                </div>
              </div>
              <br>
              <span [innerHTML]="newsContent.content"></span>
            </div>
          </div>
        </mat-card>
    </div>

    <div class="container">

    </div>


</body>

<app-footer></app-footer>

</html>
