<div [class.asimov-variation]="asimov" class="main-container">
    <div class="title-container">
        <h1 class="page-title">{{ "ADMIN.TITLE" | translate }}</h1>
    </div>
    <div class="wrapper">
        <aside class="tab-container">
            <mat-nav-list>
                <div>
                    <a mat-list-item
                       *ngFor="let tab of tabs"
                       [class.selected]="url.split('/')[2] === tab.link"
                       [activated]="tab.isActive"
                       [routerLink]="[tab.link]"
                       [class.asimov-text-variation]="asimov"
                       routerLinkActive="router-link-active">
                        <mdb-icon fas [icon]="tab.icon" class="tab-icon" mdbWavesEffect />
                        {{ tab.title | translate }}
                    </a>
                    <mat-divider />
                </div>
            </mat-nav-list>
        </aside>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
