.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.page-not-found-image {
  width: 30em;
  object-fit: fill;
}

.error-code {
  font-size: 6em;
  color: var(--bs-ieee-bright-blue);
}

.page-title {
  font-size: 3em;
}

.page-content {
  margin: 0;
  font-size: 1.2em;
}

.go-back-button {
  padding: 0.5em 1.5em;
  font-size: 1.1em;
  text-align: center;
  border: #4B5563 2px solid;
  border-radius: 1.5em;
  color: whitesmoke;
  background-color: var(--bs-ieee-bright-blue);
  transition: all ease 0.5s;
}

.go-back-button:hover {
  color: black;
  background-color: whitesmoke;
}

@media (max-width: 991px) {
    .page-not-found-image {
        width : 7.5rem;
    }
}
