<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEExtreme</title>
</head>
<header>
    <app-newnavbar-ieextreme></app-newnavbar-ieextreme>
</header>

<body>

    <!-- Inicio and facts -->
    <div class="topbottomLine" id="home">
        <img src="./../../assets/image/XtremeLogoWhite.png" height="150vmin" alt="Logo ITBA-IEEE">
        <div class="container" id="facts">
            <div class="row">
              <div class="col-sm">
                  <h1>10</h1>
                  <h3 class="facts">Ediciones realizadas</h3>
              </div>
              <div class="dottedlineright"></div>
              <div class="col-sm">
                    <h1>70+</h1>
                    <h3 class="facts">Participantes año 2019</h3>
              </div>
              <div class="dottedlineright"></div>
              <div class="col-sm">
                    <h1>15</h1>
                    <h3 class="facts">Equipos top 500/8000</h3>
              </div>
              <div class="dottedlineright"></div>
              <div class="col-sm">
                    <h1>24hs</h1>
                    <h3 class="facts">de competencia</h3>
              </div>
            </div>
        </div>
    </div>

    <!-- Resolve problemas en equipo -->
    <div class="bottomLine">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h2>¡Resolvé problemas en equipo!</h2>
                <div class="transparent">La IEEExtreme programming competition es una competencia de programación de 24 hs donde competidores de distintas universidades y carreras dedican gran esfuerzo y motivación en pos de incrementar su habilidad de resolver problemas en equipo y pasar un gran momento.</div>
              </div>
              <div class="col-sm">
                <img src="./../../assets/image/teamdisc.png" height="200vmin" alt="Logo ITBA-IEEE">
              </div>
            </div>
        </div>
    </div>

    <!-- Queres participar -->
    <div class="bottomLine">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="./../../assets/image/tournament.png" height="200vmin" alt="Logo ITBA-IEEE">
                </div>
              <div class="col-sm">
                <h2>¿Querés participar?</h2>
                <div class="transparent">Abrimos un formulario para aquellos que esten interesados en la competencia de este año, cuando abramos las inscripciones les mandaremos una notificación. ¡Aprovecha el tiempo para conseguir un equipo y entrenar!</div>
              </div>
            </div>
        </div>
    </div>

    <!-- Sponsor 2020 -->
    <div class="noLine">
      <h1>Sponsorship 2020</h1>
      <p class="whitebckg">Para el desarrollo de la competencia requerimos fondos, por lo que estamos en la busqueda de nuevos auspiciantes para nuestro evento. Para más información contactar a cualquier miembro de nuestro equipo de fundraising</p>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="sponsorContact">
                  <h3>Franco Moriconi</h3>
                  <a href="mailto:fmoriconi@itba.edu.ar" class="whiteLink">fmoriconi@itba.edu.ar</a>
                </div>
              </div>
              <div class="col-sm">
                <div class="sponsorContact">
                  <h3>Ariel Nowik</h3>
                  <a href="mailto:anowik@itba.edu.ar" class="whiteLink">anowik@itba.edu.ar</a>
                </div>
              </div>
              <div class="col-sm">
                <div class="sponsorContact">
                  <h3>Ricardo Lin</h3>
                  <a href="mailto:xlin@itba.edu.ar" class="whiteLink">xlin@itba.edu.ar</a>
                </div>
              </div>
              <div class="col-sm">
                <div class="sponsorContact">
                  <h3>Gonzalo Rímini Carol</h3>
                  <a href="mailto:grimini@itba.edu.ar" class="whiteLink">grimini@itba.edu.ar</a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Prev Sponsors -->
    <div class="bottomLine">
      <h1 class="right">Sponsors que nos han acompañado</h1>
      <div class="container">
        <div class="row" style="margin-top: 2vmin;">
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/avature.png" height="50vmin" alt="Logo Avature" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/eiwa.png" height="60vmin" alt="Logo Eiwa" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/flowics.png" height="30vmin" alt="Logo Flowics" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/inclusion.png" height="40vmin" alt="Logo Inclusion" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
        </div>
        <div class="row" style="margin-top: 2vmin;">
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/mulesoft.png" height="50vmin" alt="Logo Mulesoft" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/pampa.png" height="50vmin" alt="Logo Pampa" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/tgs.png" height="40vmin" alt="Logo TGS" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm">
            <img src="./../../assets/image/sponsors/unify.png" height="30vmin" alt="Logo Unify" style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
        </div>
      </div>
    </div>

</body>
<app-footer></app-footer>
</html>