body {
    padding: 10%;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding-top: 160px;
}

.topbottomLine {
    border-top:#0d47a1 2px solid;
    border-bottom: #0d47a1 2px solid;
    vertical-align: middle;
    align-content: center;

}

.flexImage{
	display: flex;
	/* centrado horizontal */
	justify-content: center;
	/* centrado vertical */
	align-items: center;
}

.flexText{
	display: flex;
	/* centrado horizontal */
	justify-content: center;
	/* centrado vertical */
	align-items: center;
}



.page-title {
    color: #0d47a1;
	font-size: 2.5em;
}


.contacto{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	letter-spacing: -0.2px;
	word-spacing: 2.6px;
	color: rgb(23, 46, 148);
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
}

h3{
	color: rgb(68, 68, 68);
}

.space-up{
	padding-top: 50px;
}

.hidden {
	display: none
}
.visible {
	display: block
}
.center-text {
	text-align: center
}
form.contact {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 50px;
}
input,
button {
	margin-bottom: 10px;
}

.white-text{
	text-decoration: white;
}

button {
	margin-top: 10px;
	background-color: transparent;
	color: black;
	border: 1px solid black;
	padding: 4px 16px;
	transition: 0.4s;
	width: 40%;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 10px;
}
button:hover:enabled{
	color: white;
	background-color: rgb(23, 46, 148);
}

textarea{
	min-height: 60px;
	max-height: 89px;
}

.column1 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	/* flex 1 para la relacion 2 a 1 del titulo */
	flex: 2;
  }

.column2 {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	/* flex 2 para la relacion 2 a 1 del titulo */
	flex: 3;
}

.IEEEContactImage{
	width: 20%;
	max-width: 72px;
	min-width: 36px;
}


@media (min-width: 768px) {

	.flexText{
		display: flex;
		/* centrado horizontal */
		justify-content: left;
		/* centrado vertical */
		align-items: center;
	}
}

.mat-radio-group{
  display:flex ;
  width:100%;
  justify-content: space-between;
}

.mat-radio-button{
  margin-left: 2em;
  margin-right: 2em;
}
