/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@font-face {
  font-family: "Open sans";
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: "Open sans", "Helvetica Neue", sans-serif; line-height: 1.5; }
p { line-height: 1.5; }

.ql-container {
  height: 450px !important;
}
