/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@font-face {
  font-family: "Open sans";
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html, body {
  height: 100%;
  scroll-behavior: auto !important;
}
body { margin: 0; font-family: "Open sans", "Helvetica Neue", sans-serif; line-height: 1.5; }
p { line-height: 1.5; }

.ql-container {
  height: 450px !important;
}

.main-container {
  padding: 10rem 6% 5rem 6%;
  background: rgb(136, 31, 31);
  background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
  background-size: cover;
  line-height: 1.5;
}

.carrousel-card {
  width: fit-content !important;
}

.event p {
  background: rgba(245, 245, 245, 0.2);
  padding: 2vmin 3vmin;
  border-radius: 5vmin;
  text-align: justify;
  font-size: 1.1rem;
}

.event h1 {
  font-size: 5vmin;
  font-weight: lighter;
}

.event h2{
  font-size: 3vmin;
  margin-left: 20px;
  text-align: left;
  color: black;
}

.event h3 {
  font-size: 20px;
  font-weight: 500;
}

.event li > p{
  margin: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem !important;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.rotate {
    animation: spin 1s infinite linear;
}

.shake {
    animation: horizontal-shaking 0.4s infinite;
}
