@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


.goback-button {
    font-size: calc(0.5vw + 0.6rem);
    font-weight: 600;
    margin-top: 0.25rem;
    padding:  0.7rem 1rem 0.7rem 1rem;
    border: solid var(--bs-ieee-bright-blue);
    color: var(--bs-ieee-bright-blue) !important;
    border-radius: 5px;
    background-color: inherit;
    border-width: 3px;
    transition: all 175ms ease-in-out;
}
.goback-button:hover {
    box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
    color: white !important;
    background-color: var(--bs-ieee-bright-blue);
    border-color: white;
}

.goback-button >.button-text {
    color: var(--bs-ieee-bright-blue) !important;
}
.goback-button:hover > .button-text{
    color: white !important;
}

.ieeecard-button {
    font-size: 1.2em;
    padding: 0.4em 0.7em;
    font-weight: 600;
    margin-top: 0.25rem;
    border: solid var(--bs-ieee-bright-blue);
    color: var(--bs-ieee-bright-blue) !important;
    border-radius: 5px;
    background-color: inherit;
    border-width: 3px;
    transition: all 175ms ease-in-out;
  }

.ieeecard-button:hover {
    box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
    color: white !important;
    background-color: var(--bs-ieee-bright-blue);
    border-color: white;
  }

.ieeecard-button:disabled {
  background-color: lightgrey;
  border: solid gray;
  color: gray !important;
}

.tyc-section {
    margin-top:4rem;
    margin-bottom:4rem;
}
.tyc-subtitle{
    color:var(--bs-ieee-bright-blue);
    font-size:1.6rem;
    margin:1.5rem 20px 5px;
}
.tyc-item{
    color:var(--bs-ieee-bright-blue);
    font-size:1.3rem;
    margin:0.5rem 0 0.5rem 20px;
}
.tyc-text{
    font-size: larger;
    margin:0;
    padding:0 20px;
    word-wrap: break-word;
    white-space: pre-line;
    word-break: break-word;
}
/** tomado de team component css */

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:var(--bs-ieee-bright-blue);
    background-color: transparent;
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
    color:var(--bs-ieee-bright-blue);
}

mat-panel-description {
    text-align: right;
}

mat-expansion-panel {
    background-color: transparent;
    margin-top: 1.5vmin;
}

mat-expansion-panel-header {
    border: var(--bs-ieee-bright-blue) 1px solid;
    border-radius: 5vmin;
}

mat-panel-title {
    color:var(--bs-ieee-bright-blue);
}
