<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine" id="home" style="margin-bottom:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext" class="course-title">{{ 'PYTHONCOURSES.TITLE' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex flex-row-reverse">
            <button class="goback-button">
                <a href="{{ enrollLink }}" class="button-text">
                    {{ 'PYTHONCOURSES.ENROLLBUTTON' | translate }} </a>
            </button>
        </div>
    </div>
    <!-- Introductory text -->
    <div>
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.DESC_TITLE' | translate }}</h2>
        <p>{{ 'PYTHONCOURSES.DESC' | translate }}</p>
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.FORMAT_SUBTITLE' | translate }}</h2>
        <p>{{ 'PYTHONCOURSES.FORMAT' | translate }}</p>
    </div>

    <!-- Cards Temario -->

    <div class="marginTop" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="flex-start">

        <mat-card class="example-card" [ngClass]="{'not-available-background-color':!week1ContentOpen}" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
                  fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <ng-template [ngIf]="week1ContentOpen" [ngIfElse]="class1Closed">
                        <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Clases/Clase_1_Introducción_a_la_Programación_con_Python.ipynb">{{
                        'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                        1
                        </a>
                    </ng-template>
                    <ng-template #class1Closed>
                        {{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 1
                    </ng-template>
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE1' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C1' | translate }}
            </mat-card-content>
            <!-- Boton del solucionario -->
            <mat-card-actions align="center">
                <ng-template [ngIf]="week2ContentOpen" [ngIfElse]="solutions1Closed">
                    <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Solucionarios/Solucionario_Clase_1_Curso_Introductorio_de_Python.ipynb">
                        <button mat-raised-button class="ieeecard-button">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                    </a>
                </ng-template>
                <ng-template #solutions1Closed>
                    <button  mat-raised-button disabled class="ieeecard-button button-disabled">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                </ng-template>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card" [ngClass]="{'not-available-background-color':!week2ContentOpen}" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
                  fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <ng-template [ngIf]="week2ContentOpen" [ngIfElse]="class2Closed">
                        <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Clases/Clase_2_Introducción_a_la_Programación_con_Python.ipynb">{{
                            'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                            2
                            </a>
                    </ng-template>
                    <ng-template #class2Closed>
                        {{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 2
                    </ng-template>
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE2' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C2' | translate }}
            </mat-card-content>
            <!-- Boton del solucionario -->
            <mat-card-actions align="center">
                <ng-template [ngIf]="week3ContentOpen" [ngIfElse]="solutions2Closed">
                    <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Solucionarios/Solucionario_Clase_2_Curso_Introductorio_de_Python.ipynb">
                        <button mat-raised-button class="ieeecard-button">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                    </a>
                </ng-template>
                <ng-template #solutions2Closed>
                    <button  mat-raised-button disabled class="ieeecard-button button-disabled">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                </ng-template>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card" [ngClass]="{'not-available-background-color':!week3ContentOpen}" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
                  fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <ng-template [ngIf]="week3ContentOpen" [ngIfElse]="class3Closed">
                        <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Clases/Clase_3_Introducción_a_la_Programación_con_Python.ipynb">{{
                            'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                            3
                            </a>
                    </ng-template>
                    <ng-template #class3Closed>
                        {{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 3
                    </ng-template>
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE3' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C3' | translate }}
            </mat-card-content>
            <!-- Boton del solucionario -->
            <mat-card-actions align="center">
                <ng-template [ngIf]="week4ContentOpen" [ngIfElse]="solutions3Closed">
                    <a href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Curso_Introductorio_Solucionarios/Solucionario_Clase_3_Curso_Introductorio_de_Python.ipynb">
                        <button mat-raised-button class="ieeecard-button">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                    </a>
                </ng-template>
                <ng-template #solutions3Closed>
                    <button  mat-raised-button disabled class="ieeecard-button button-disabled">{{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}</button>
                </ng-template>
            </mat-card-actions>
        </mat-card>

    </div>

    <!-- Consultas -->
   <!-- <div>

        <mat-card style="margin-top: 15px">
            <mat-card-header>

                <mat-card-title>{{ 'PYTHONCOURSES.QUESTIONS.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    {{ 'PYTHONCOURSES.QUESTIONS.TEXT' | translate }}<a
                        href="https://www.reddit.com/r/CursoDePythonITBA">Curso de Python ITBA - Reddit </a>

                </div>

                <div>
                    <div>{{ 'PYTHONCOURSES.QUESTIONS.TEXT_VIDEOS' | translate }}</div>
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/watch?v=Hh_V3bCHgrM"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 1 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=8Vzn4eo6g4o"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 2 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=ePkmka2JAVc"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 3 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=a6np_39os4w"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 4 </a>
                        </li>
                    </ul>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
-->



    <div class="faq-section">
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.FAQ.TITLE' | translate}}</h2>
        <mat-accordion class="faq-accordion">

            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let qa of faq">
                <mat-expansion-panel-header [collapsedHeight]="'max-content'" [expandedHeight]="'max-content'">
                    <mat-panel-title class="faq-question mt-1 mb-1">
                        {{ qa.q | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="faq-answer">{{ qa.a | translate}}</p>
            </mat-expansion-panel>

        </mat-accordion>
    </div>

    <!-- Terminos y condiciones -->
    <div class="tyc-section">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title class="course-subtitle">{{'TYC.TITLE' | translate}}</mat-panel-title>
            </mat-expansion-panel-header >
                <h3 class="tyc-subtitle">{{'TYC.INTRO.TITLE' | translate}}</h3>
                    <p class="tyc-text">{{'TYC.INTRO.TEXT' | translate}}</p>
                <h3 class="tyc-subtitle">{{'TYC.IEEE.TITLE' | translate}}</h3>
                    <p class="tyc-text">
                        {{'TYC.IEEE.INTRO.START' | translate}}
                        <a href="https://www.ieee.org/conferences/event-terms-and-conditions.html">{{'TYC.IEEE.INTRO.LINKTEXT' | translate}}</a>
                        {{'TYC.IEEE.INTRO.END' | translate}}
                    </p>
                    <h4 class="tyc-item">{{'TYC.IEEE.1.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.IEEE.1.TEXT' | translate}}</p>
                    <h4 class="tyc-item">{{'TYC.IEEE.2.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.IEEE.2.TEXT' | translate}}</p>
                    <h4 class="tyc-item">{{'TYC.IEEE.3.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.IEEE.3.TEXT' | translate}}</p>
                <h3 class="tyc-subtitle">{{'TYC.ITBA.TITLE' | translate}}</h3>
                    <p class="tyc-text">{{'TYC.ITBA.INTRO' | translate}}</p>
                    <h4 class="tyc-item">{{'TYC.ITBA.1.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.ITBA.1.TEXT' | translate}}</p>
                    <h4 class="tyc-item">{{'TYC.ITBA.2.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.ITBA.2.TEXT' | translate}}</p>
                    <h4 class="tyc-item">{{'TYC.ITBA.3.TITLE' | translate}}</h4>
                        <p class="tyc-text">{{'TYC.ITBA.3.TEXT' | translate}}</p>
        </mat-expansion-panel>
    </div>

    <!-- Sponsors Actuales -->
  <!-- <div class="bottomLine mt-4">
    <div class="row">
      <h1 class="section-title">Sponsors</h1>

      <br>

      <div class="container">
        <div class="row" style="margin-top: 2vmin;">
            <div class="col-sm mt-5 mt-md-2">
                <img src="../../../../../assets/image/content/jpmorgan.png" height="90vmin" alt="Logo jpmorgan"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
            <div class="col-sm mt-5 mt-md-2">
                <img src="../../../../../assets/image/content/innovid.png" height="35vmin" alt="Logo Innovid"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
        </div>
        <div class="row">
            <div class="col-sm mt-5 mt-md-4">
                <img src="../../../../../assets/image/content/pan-american-energy.png" height="100vmin" alt="Logo Axion Energy"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
            <div class="col-sm mt-5 mt-md-4">
                <img src="../../../../../assets/image/content/axion-energy.png" height="100vmin" alt="Logo Axion Energy"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
            <div class="col-sm mt-5 mt-md-4">
                <img src="../../../../../assets/image/content/flowics_logo-horizontal-full-color.png" height="70vmin" alt="Logo flowics"
                     style="position: relative; top: 50%; transform: translateY(-50%); ">
            </div>
        </div>
      </div>


    </div>
  </div> -->
    <app-footer></app-footer>

</body>

</html>
