<div class="main-container event">
  <app-event-title>{{ 'PYTHONCOURSES.TITLE' | translate }}</app-event-title>
  <div *ngIf="enrollAvailable()">
    <div class="d-flex flex-row-reverse">
      <button class="goback-button">
        <a href="{{ enrollLink }}" class="button-text text-decoration-none">
          {{ 'PYTHONCOURSES.ENROLLBUTTON' | translate }} </a>
      </button>
    </div>
  </div>
  <!-- Introductory text -->
  <app-event-section title="{{ 'PYTHONCOURSES.DESC_TITLE' | translate }}">
    <p>{{ 'PYTHONCOURSES.DESC' | translate }}</p>
  </app-event-section>

  <app-event-section title="{{ 'PYTHONCOURSES.FORMAT_SUBTITLE' | translate }}">
    <p>{{ 'PYTHONCOURSES.FORMAT' | translate }}</p>
  </app-event-section>

  <!-- Cards Temario -->

  <div style="display:flex; margin-bottom:5rem;">
    <app-event-content-card 
      [disabled]="!week1ContentOpen"
      title="{{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 1"
      [imageUrl]="pythonImageUrl"
    >
      <span content>{{ 'PYTHONCOURSES.CLASSES.C1' | translate }}</span>
      <mat-card-actions actions align="center">
        <a
          [href]="week1ContentOpen ? week1ContentLink : ''"
          (click)="check($event, week1ContentOpen)"
          [class.disabled]="!week1ContentOpen ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week1ContentOpen">
            {{ 'PYTHONCOURSES.CONTENTBUTTON' | translate }}
          </button>
        </a>
        <a
          [href]="week2ContentOpen ? week1SolutionsLink : ''"
          (click)="check($event, week2ContentOpen)"
          [class.disabled]="!week2ContentOpen ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week2ContentOpen">
            {{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}
          </button>
        </a>
      </mat-card-actions>
    </app-event-content-card>
    <app-event-content-card
      [disabled]="!week2ContentOpen"
      title="{{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 2"
      [imageUrl]="pythonImageUrl"
    >
      <span content>{{ 'PYTHONCOURSES.CLASSES.C2' | translate }}</span>
      <mat-card-actions actions align="center">
        <a
          [href]="week2ContentOpen ? week2ContentLink : ''"
          (click)="check($event, week2ContentOpen)"
          [class.disabled]="!week2ContentOpen ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week2ContentOpen">
            {{ 'PYTHONCOURSES.CONTENTBUTTON' | translate }}
          </button>
        </a>
        <a
          [href]="week3ContentOpen ? week2SolutionsLink : ''"
          (click)="check($event, week3ContentOpen)"
          [class.disabled]="!week3ContentOpen ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week3ContentOpen">
            {{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}
          </button>
        </a>
      </mat-card-actions>
    </app-event-content-card>
    <app-event-content-card
      [disabled]="!week3ContentOpen"
      title="{{'PYTHONCOURSES.CLASSES.TITLE' | translate }} 3"
      [imageUrl]="pythonImageUrl"
    >
      <span content>{{ 'PYTHONCOURSES.CLASSES.C3' | translate }}</span>
      <mat-card-actions actions align="center">
        <a
          [href]="week3ContentOpen ? week3ContentLink : ''"
          (click)="check($event, week3ContentOpen)"
          [class.disabled]="!week3ContentOpen ? true : null"
          >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week3ContentOpen">
            {{ 'PYTHONCOURSES.CONTENTBUTTON' | translate }}
          </button>
        </a>
        <a
          [href]="week4ContentOpen ? week3SolutionsLink : ''"
          (click)="check($event, week4ContentOpen)"
          [class.disabled]="!week4ContentOpen ? true : null"
        >
          <button mat-raised-button class="ieeecard-button me-3" [disabled]="!week4ContentOpen">
            {{ 'PYTHONCOURSES.SOLUTIONBUTTON' | translate }}
          </button>
        </a>
      </mat-card-actions>
    </app-event-content-card>

  </div>

  <!-- Consultas -->
  <!-- <div>

      <mat-card style="margin-top: 15px">
          <mat-card-header>

              <mat-card-title>{{ 'PYTHONCOURSES.QUESTIONS.TITLE' | translate }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <div>
                  {{ 'PYTHONCOURSES.QUESTIONS.TEXT' | translate }}<a
                      href="https://www.reddit.com/r/CursoDePythonITBA">Curso de Python ITBA - Reddit </a>

              </div>

              <div>
                  <div>{{ 'PYTHONCOURSES.QUESTIONS.TEXT_VIDEOS' | translate }}</div>
                  <ul>
                      <li>
                          <a href="https://www.youtube.com/watch?v=Hh_V3bCHgrM"> Q/A
                              {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 1 </a>
                      </li>
                      <li>
                          <a href="https://www.youtube.com/watch?v=8Vzn4eo6g4o"> Q/A
                              {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 2 </a>
                      </li>
                      <li>
                          <a href="https://www.youtube.com/watch?v=ePkmka2JAVc"> Q/A
                              {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 3 </a>
                      </li>
                      <li>
                          <a href="https://www.youtube.com/watch?v=a6np_39os4w"> Q/A
                              {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 4 </a>
                      </li>
                  </ul>
              </div>

          </mat-card-content>
      </mat-card>
  </div>
  -->

  <app-event-section title="{{ 'PYTHONCOURSES.FAQ.TITLE' | translate}}">
    <app-event-faq-accordion [faq]="faq">
    </app-event-faq-accordion>
  </app-event-section>

  <!-- Terminos y condiciones -->
  <div class="tyc-section">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="faq-question my-2">{{'TYC.TITLE' | translate}}</mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="tyc-subtitle">{{'TYC.INTRO.TITLE' | translate}}</h3>
      <p class="tyc-text">{{'TYC.INTRO.TEXT' | translate}}</p>
      <h3 class="tyc-subtitle">{{'TYC.IEEE.TITLE' | translate}}</h3>
      <p class="tyc-text">
        {{'TYC.IEEE.INTRO.START' | translate}}
        <a href="https://www.ieee.org/conferences/event-terms-and-conditions.html">{{'TYC.IEEE.INTRO.LINKTEXT' |
          translate}}</a>
        {{'TYC.IEEE.INTRO.END' | translate}}
      </p>
      <h4 class="tyc-item">{{'TYC.IEEE.1.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.IEEE.1.TEXT' | translate}}</p>
      <h4 class="tyc-item">{{'TYC.IEEE.2.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.IEEE.2.TEXT' | translate}}</p>
      <h4 class="tyc-item">{{'TYC.IEEE.3.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.IEEE.3.TEXT' | translate}}</p>
      <h3 class="tyc-subtitle">{{'TYC.ITBA.TITLE' | translate}}</h3>
      <p class="tyc-text">{{'TYC.ITBA.INTRO' | translate}}</p>
      <h4 class="tyc-item">{{'TYC.ITBA.1.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.ITBA.1.TEXT' | translate}}</p>
      <h4 class="tyc-item">{{'TYC.ITBA.2.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.ITBA.2.TEXT' | translate}}</p>
      <h4 class="tyc-item">{{'TYC.ITBA.3.TITLE' | translate}}</h4>
      <p class="tyc-text">{{'TYC.ITBA.3.TEXT' | translate}}</p>
    </mat-expansion-panel>
  </div>

  <!-- Sponsors Actuales -->
  <!-- <div class="bottomLine mt-4">
  <div class="row">
    <h1 class="section-title">Sponsors</h1>

    <br>

    <div class="container">
      <div class="row" style="margin-top: 2vmin;">
          <div class="col-sm mt-5 mt-md-2">
              <img src="../../../../../assets/image/content/jpmorgan.png" height="90vmin" alt="Logo jpmorgan"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-2">
              <img src="../../../../../assets/image/content/innovid.png" height="35vmin" alt="Logo Innovid"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
      </div>
      <div class="row">
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/pan-american-energy.png" height="100vmin" alt="Logo Axion Energy"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/axion-energy.png" height="100vmin" alt="Logo Axion Energy"
                   style="position: relative; top: 50%; transform: translateY(-50%);">
          </div>
          <div class="col-sm mt-5 mt-md-4">
              <img src="../../../../../assets/image/content/flowics.png" height="70vmin" alt="Logo flowics"
                   style="position: relative; top: 50%; transform: translateY(-50%); ">
          </div>
      </div>
    </div>


  </div>
  </div> -->
</div>
