<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Courses</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine" id="home" style="margin-bottom:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 id="logotext" class="course-title">{{ 'PYTHONCOURSES.TITLE' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex flex-row-reverse">
            <button class="goback-button">
                <a href="https://bit.ly/IntroaProgramacionIEEE" class="button-text">
                    {{ 'PYTHONCOURSES.ENROLLBUTTON' | translate }} </a>
            </button>
        </div>
    </div>
    <!-- Introductory text -->
    <div>
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.DESC_TITLE' | translate }}</h2>
        <p>{{ 'PYTHONCOURSES.DESC' | translate }}</p>
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.FORMAT_SUBTITLE' | translate }}</h2>
        <p>{{ 'PYTHONCOURSES.FORMAT' | translate }}</p>
    </div>

    <!-- Cards Temario -->

    <div class="marginTop" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="flex-start">

        <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
            fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <!--<a
                        href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Clase_1_Curso_Python.ipynb#scrollTo=4FLV1yxDh9Rh">-->{{
                    'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                    1 <!--- 03/05-->
                    <!--</a>-->
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE1' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C1' | translate }}
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
            fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <!--<a
                        href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Clase_2_Curso_Python.ipynb">-->{{
                    'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                    2 <!---- 10/05-->
                    <!--</a>-->
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE2' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C2' | translate }}
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)"
            fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <!--<a
                        href="https://colab.research.google.com/github/IEEESBITBA/Curso-Python/blob/master/Clase_3_Curso_Python.ipynb">-->{{
                    'PYTHONCOURSES.CLASSES.TITLE' | translate }}
                    3 <!--- 17/05-->
                    <!--</a>-->
                </mat-card-title>
                <!-- <mat-card-subtitle>{{ 'PYTHONCOURSES.CLASSES.DATE3' | translate }}</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{ 'PYTHONCOURSES.CLASSES.C3' | translate }}
            </mat-card-content>
        </mat-card>

    </div>

    <!-- Consultas -->
   <!-- <div>

        <mat-card style="margin-top: 15px">
            <mat-card-header>

                <mat-card-title>{{ 'PYTHONCOURSES.QUESTIONS.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    {{ 'PYTHONCOURSES.QUESTIONS.TEXT' | translate }}<a
                        href="https://www.reddit.com/r/CursoDePythonITBA">Curso de Python ITBA - Reddit </a>

                </div>

                <div>
                    <div>{{ 'PYTHONCOURSES.QUESTIONS.TEXT_VIDEOS' | translate }}</div>
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/watch?v=Hh_V3bCHgrM"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 1 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=8Vzn4eo6g4o"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 2 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=ePkmka2JAVc"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 3 </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=a6np_39os4w"> Q/A
                                {{ 'PYTHONCOURSES.CLASSES.TITLE' | translate }} 4 </a>
                        </li>
                    </ul>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
-->



    <div class="faq-section">
        <h2 class="course-subtitle">{{ 'PYTHONCOURSES.FAQ.TITLE' | translate}}</h2>
        <mat-accordion class="faq-accordion">

            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let qa of faq">
                <mat-expansion-panel-header [collapsedHeight]="'max-content'" [expandedHeight]="'max-content'">
                    <mat-panel-title class="faq-question mt-1 mb-1">
                        {{ qa.q | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="faq-answer">{{ qa.a | translate}}</p>
            </mat-expansion-panel>

        </mat-accordion>
    </div>

    <!-- Sponsors Actuales -->
  <div class="bottomLine mt-4">
    <div class="row">
      <h1 class="section-title">Sponsors</h1>

      <br>

      <div class="container">
        <div class="row">
            <div class="col-sm sponsors">
                <img src="../../../../../assets/image/content/jpmorgan.png" height="80vmin" alt="Logo JP Morgan"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
            <div class="col-sm sponsors">
                <img src="../../../../../assets/image/content/flowics_logo-horizontal-full-color.png" height="80vmin" alt="Logo flowics"
                     style="position: relative; top: 50%; transform: translateY(-50%);">
            </div>
        </div>
      </div>


    </div>
  </div>
    <app-footer></app-footer>

</body>

</html>
