<mat-tab-group dynamicHeight>
    <mat-tab label="2020">
        <br>
        <mat-accordion>
            <!-- Photos at imgbb -->

            <!-- CD -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CD
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="CD"></app-team-card>

            </mat-expansion-panel>

            <!-- Mediacom -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mediacom
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="Mediacom"></app-team-card>

            </mat-expansion-panel>

            <!-- I+D -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        I+D
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="ID"></app-team-card>

            </mat-expansion-panel>

            <!-- Fundraising -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Fundraising
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="Fundraising"></app-team-card>

            </mat-expansion-panel>

            <!-- Educacion -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'HOME.CARGO.EDUCATION.TITLE' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="Education"></app-team-card>

            </mat-expansion-panel>
            

            <br><br>

            
            <!-- WIE -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title id="colorWie">
                        Women In Engineering
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="WIE"></app-team-card>

            </mat-expansion-panel>

            <!-- CS -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title id="colorCS">
                        {{ 'HOME.CARGO.EDUCATION.TITLE' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-team-card type="CS"></app-team-card>
                <app-team-card type="CS2"></app-team-card>

            </mat-expansion-panel>
            
        </mat-accordion>

    </mat-tab>
    <mat-tab label="2019" disabled>
        <br>
        <h5>Equipo de 2019</h5>
    </mat-tab>
</mat-tab-group>