
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:whitesmoke;
    background-color: transparent;
}
    
::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
    color: whitesmoke;
}
  
mdb-card {
    border-radius: 5vmin;
    margin: 1.5vmin;
    color: black;
    max-height: 50vmin;
    padding-bottom: 1.5vmin;
    min-height: 300px;
}

mdb-card-text {
    text-align: left;
    color: black;
}

mat-panel-description {
    text-align: right;
}

mat-expansion-panel {
    background-color: transparent;
    margin-top: 1.5vmin;
}

mat-expansion-panel-header {
    border: whitesmoke 1px solid;
    border-radius: 5vmin;
}

mat-panel-title {
    color: whitesmoke;
}

.cardIcon {
    font-size: 5vmin;
    padding: 1vmin;
}