
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(23, 46, 148);
    background-color: transparent;
}
    
::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
    color:rgb(23, 46, 148);
}

mat-panel-description {
    text-align: right;
}

mat-expansion-panel {
    background-color: transparent;
    margin-top: 1.5vmin;
}

mat-expansion-panel-header {
    border: rgb(23, 46, 148) 1px solid;
    border-radius: 5vmin;
}

mat-panel-title {
    color:rgb(23, 46, 148);
}

.topbottomLine { 
    border-top:#0d47a1 2px solid;
    border-bottom: #0d47a1 2px solid;
    vertical-align: middle;
    align-content: center;
    
}

.page-title {
    color: #0d47a1
}

#colorWie{
    color: rgb(177, 138, 240);
    /* text-shadow: 0px 0px 5px rgb(177, 138, 240); */
}

#colorCS{
    color: rgb(252, 192, 111);
    /* text-shadow: 0px 0px 5px rgb(252, 192, 111); */
}

.center-text {
	text-align: center
}

.contacto{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	letter-spacing: -0.2px;
	word-spacing: 2.6px;
	color: rgb(23, 46, 148);
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding-top: 160px;
}