<mat-tab-group dynamicHeight>
    <mat-tab label="2020">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CD
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Equipo 2020 -->
                <div class="bottomLine">
                    <!-- Line 1 -->
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mediacom
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Equipo 2020 -->
                <div class="bottomLine">
                    <!-- Line 1 -->
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        I+D
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Equipo 2020 -->
                <div class="bottomLine">
                    <!-- Line 1 -->
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Fundraising
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Equipo 2020 -->
                <div class="bottomLine">
                    <!-- Line 1 -->
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Educacion
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Equipo 2020 -->
                <div class="bottomLine">
                    <!-- Line 1 -->
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>Presidente</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

        </mat-accordion>

    </mat-tab>
    <mat-tab label="2019">

    </mat-tab>
</mat-tab-group>