<mat-tab-group dynamicHeight>
    <mat-tab label="2020">
        <br>
        <mat-accordion>
            <!-- Photos at imgbb -->

            <!-- CD -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CD
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <!-- Ariel Nowik -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/YX5j6nw/arielnowik.jpg" alt="Foto de Ariel Nowik"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>{{ 'HOME.CARGO.CD.PRESIDENT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/ariel-nowik-13608a158/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:anowik@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Dante Kieniguiel -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/Z2YjBfn/dantekienigiel.jpg" alt="Foto de Dante Kieniguiel"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Dante Kieniguiel</strong></h4>
                                <h5>{{ 'HOME.CARGO.CD.VP' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/dante-k-572396bb/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:dkienigiel@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Franco Moriconi -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/D7JsB7Q/francomoriconi.jpg" alt="Foto de Franco Moriconi"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Franco Moriconi</strong></h4>
                                <h5>{{ 'HOME.CARGO.CD.TREASURER' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/franco-moriconi-0002a0196/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:fmoriconi@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Carola Pedrosa -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/K9SbCTJ/carolapedrosa.jpg" alt="Foto de Carola Pedrosa"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Carola Pedrosa</strong></h4>
                                <h5>{{ 'HOME.CARGO.CD.GENERALSEC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/carola-pedrosa-87342b1a3/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:cpedrosa@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <!-- Mediacom -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mediacom
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <!-- Lucas Vidmar -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/8P3trjg/lucasvidmar.jpg" alt="Foto de Lucas Vidmar"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Lucas Vidmar</strong></h4>
                                <h5>{{ 'HOME.CARGO.MEDIACOM.WEBMASTER' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/lucasvidmar/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:lvidmar@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Alex Moldovan -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/5rf7cSJ/alexmoldovan.jpg" alt="Foto de Alex Moldovan"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Alex Moldovan</strong></h4>
                                <h5>{{ 'HOME.CARGO.MEDIACOM.DESIGNER' | translate }}</h5>

                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:amoldovan@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Sofia Petrozzino -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/1RMpjj0/sofiapetrozzino.jpg" alt="Foto de Sofia Petrozzino"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Sofia Petrozzino</strong></h4>
                                <h5>{{ 'HOME.CARGO.MEDIACOM.CC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/sof%C3%ADa-petrozzino-22406a177/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:spetrozzino@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Aldana Bruno -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/fMNMQHf/aldanabruno.jpg" alt="Foto de Aldana Bruno"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Aldana Bruno</strong></h4>
                                <h5>{{ 'HOME.CARGO.MEDIACOM.CC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/aldana-bruno-5631a1177/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:abruno@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                        
                        <!-- Nicole Bartellini -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/g429zc7/nicolebartellini.jpg" alt="Foto de Nicole Bartellini"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Nicole Bartellini</strong></h4>
                                <h5>{{ 'HOME.CARGO.MEDIACOM.CC' | translate }}</h5>

                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:nbartellini@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <!-- I+D -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        I+D
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <!-- Alan Mechoulam -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/8B973Hk/alanmechoulam.jpg" alt="Foto de Alan Mechoulam"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Alan Mechoulam</strong></h4>
                                <h5><h5>{{ 'HOME.CARGO.ID.CHIEF' | translate }}</h5></h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/alanmechoulam/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:amechoulam@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Candelaria Ruiz -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/zfT818s/candelariaruiz.jpg" alt="Foto de Candelaria Ruiz"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Candelaria Ruiz</strong></h4>
                                <h5>{{ 'HOME.CARGO.ID.ASSISTANT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/mar%C3%ADa-candelaria-ruiz-casas/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:mariruiz@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Nicolás Trozzo -->
                       <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/zHmgvX5/nicolastrozzo.jpg" alt="Foto de Nicolás Trozzo"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Nicolás Trozzo</strong></h4>
                                <h5>{{ 'HOME.CARGO.ID.ASSISTANT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/rafael-nicolas-trozzo-b13877170/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                               <a mdbWavesEffect class="cardIcon" href="mailto:rtrozzo@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Juan Causse -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/QmVxzFT/juancausse.jpg" alt="Foto de Juan Causse"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Juan Causse</strong></h4>
                                <h5>{{ 'HOME.CARGO.ID.ASSISTANT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/juan-ignacio-causse-a01038158/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:jcausse@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel >

            <!-- Fundraising -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Fundraising
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <!-- Xi Lin -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/7zYkGtG/xilin.jpg" alt="Foto de Xi Lin"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Xi Lin</strong></h4>
                                <h5>{{ 'HOME.CARGO.FUNDRAISING.RRPP' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/xi-lin-0945951a0/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:xlin@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Gonzalo Rimini -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/nmg6jXQ/gonzalorimini.jpg" alt="Foto de Gonzalo Rimini"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Gonzalo Rimini</strong></h4>
                                <h5>{{ 'HOME.CARGO.FUNDRAISING.RRPP' | translate }}</h5>

                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:grimini@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Olivia de Vicenti -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/M5kk8JY/oliviadevincenti.jpg" alt="Foto de Olivia de Vicenti"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Olivia de Vicenti</strong></h4>
                                <h5>{{ 'HOME.CARGO.FUNDRAISING.LOGISTICS' | translate }}</h5>

                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:odevincenti@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Nicolás Pelayo -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/HrqHtZV/nicolaspelayo.jpg" alt="Foto de Nicolás Pelayo"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Nicolás Pelayo</strong></h4>
                                <h5>{{ 'HOME.CARGO.FUNDRAISING.LOGISTICS' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/nicol%C3%A1s-fern%C3%A1ndez-pelayo-9530521a5/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:nifernandez@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>

            <!-- Educacion -->
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'HOME.CARGO.EDUCATION.TITLE' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <!-- Matías Bergerman -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/rvWJBCt/matiasbergerman.jpg" alt="Foto de Matías Bergerman"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Matías Bergerman</strong></h4>
                                <h5>{{ 'HOME.CARGO.EDUCATION.HEADTUTOR' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/mat%C3%ADas-bergerman-a934881a5/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:mbergerman@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Gonzalo Hirsch -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/tZ0ZyY3/gonzalohirsch.jpg" alt="Foto de Gonzalo Hirsch"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Gonzalo Hirsch</strong></h4>
                                <h5>{{ 'HOME.CARGO.EDUCATION.TUTOR' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/gonzalo-hirsch-5b4854155/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:ghirsch@itba.edu.ar"><i class="fas fa-envelope"></i></a>

                            </mdb-card-body>
                        </mdb-card>

                        <!-- Francisco Ledesma -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/TvSzk6n/franciscoledesma.jpg" alt="Foto de Francisco Ledesma"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Francisco Ledesma</strong></h4>
                                <h5>{{ 'HOME.CARGO.EDUCATION.ASSISTANT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/francisco-daniel-ledesma-07182a179/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:fledesma@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Patricio Whittingslow -->
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/JkCmGXZ/patriciowhittingslow.jpg" alt="Foto de Patricio Whittingslow"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Patricio Whittingslow</strong></h4>
                                <h5>{{ 'HOME.CARGO.EDUCATION.ASSISTANT' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/patricio-whittingslow-3b9564140/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:pwhittingslow@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <!-- Ignacio Villanueva -->
                        <!-- <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/vhNzbyR/arielnowik.jpg" alt="Foto de Ignacio Villanueva"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ignacio Villanueva</strong></h4>
                                <h5>{{ 'HOME.CARGO.EDUCATION.RRPP' | translate }}</h5> -->

                                <!-- Linkedin -->
                                <!-- <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/ignacio-villanueva-256541176/"><i class="fab fa-linkedin"></i></a> -->
                                <!-- Mail -->
                                <!-- <a mdbWavesEffect class="cardIcon" href="mailto:ivillanueva@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card> -->
                    </div>

                </div>
            </mat-expansion-panel>
            

            <br><br>

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header class="color-wie">
                    <mat-panel-title>
                        {{ 'SUBSECTIONS.WIE' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/Fwd34CH/MariaLuz.jpg" alt="Foto de Patricio Whittingslow"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Malu Stewart Harris</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.PRESIDENTE' | translate }}</h5>

                                <!-- Linkedin -->
                                <!--<a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/patricio-whittingslow-3b9564140/"><i class="fab fa-linkedin"></i></a>-->
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:mastewart@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/YB7N3hp/d-with-VSCO-with-dog1-preset.jpg" alt="Foto de Elisabet Del Pilar Crespo"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Elisabet del Pilar Crespo</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.VICEPRESIDENTE' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/elisabet-del-pilar-crespo"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:ecrespo@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/m5LWTL8/Catalena-Lucena.jpg" alt="Foto de Catalena Lucena Maguire"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Catalina Lucena Maguire</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.TESORERA' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/catalina-lucena-maguire-322033169 "><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:clucena@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/1RMpjj0/sofiapetrozzino.jpg" alt="Foto de Sofia Petrozzino"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Sofia Petrozzino</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.COMUNICACION' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/sof%C3%ADa-petrozzino-22406a177/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:spetrozzino@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                                                
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/JmVtNQ8/sofia-cerritini.jpg" alt="Foto de Sofia Cerretini"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Sofia Cerretini</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.PLANIFICACION' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="http://linkedin.com/in/sofia-cerretini-2452691a5"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:scerretini@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                        

                        
                    </div>
                    <div class="card-group">
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/fMNMQHf/aldanabruno.jpg" alt="Foto de Aldana Bruno"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Aldana Bruno</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.COMUNICACION' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/aldana-bruno-5631a1177/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:abruno@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                        
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/JkCmGXZ/patriciowhittingslow.jpg" alt="Foto de Patricio Whittingslow"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Patricio Whittingslow</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.VOLUNTARIO' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/patricio-whittingslow-3b9564140/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:pwhittingslow@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/YX5j6nw/arielnowik.jpg" alt="Foto de Ariel Nowik"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ariel Nowik</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.VOLUNTARIO' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/ariel-nowik-13608a158/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:anowik@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/zfT818s/candelariaruiz.jpg" alt="Foto de Candelaria Ruiz"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Candelaria Ruiz</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.VOLUNTARIA' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/mar%C3%ADa-candelaria-ruiz-casas/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:mariruiz@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/K9SbCTJ/carolapedrosa.jpg" alt="Foto de Carola Pedrosa"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Carola Pedrosa</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.VOLUNTARIA' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/carola-pedrosa-87342b1a3/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:cpedrosa@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
                
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header class="color-cs">
                    <mat-panel-title>
                        {{ 'SUBSECTIONS.CS' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="bottomLine">
                    <div class="card-group">
                        <mdb-card>

                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/s2TtgHv/fbt.jpg" alt="Foto de Ignacio Villanueva"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ignacio Villanueva</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.PRESIDENTE' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/ignacio-villanueva-256541176/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:ivillanueva@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>

                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/tZ0ZyY3/gonzalohirsch.jpg" alt="Foto de Gonzalo Hirsch"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Gonzalo Hirsch</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.VICEPRESIDENTE' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://ar.linkedin.com/in/gonzalo-hirsch-5b4854155"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:ghirsch@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/m5LWTL8/Catalena-Lucena.jpg" alt="Foto de Catalena Lucena Maguire"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Catalina Lucena Maguire</strong></h4>
                                <h5>{{ 'HOME.CARGO.WIE.TESORERA' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/catalina-lucena-maguire-322033169 "><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:clucena@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/vX8kHb0/Uriel-Mijura.jpg" alt="Foto de Catalena Lucena Maguire"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Uriel Mijura</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.GENERALSEC' | translate }}</h5>

                                <!-- Linkedin -->
                                <!--<a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/catalina-lucena-maguire-322033169 "><i class="fab fa-linkedin"></i></a>-->
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:umihura@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/Fwd34CH/MariaLuz.jpg" alt="Foto de Patricio Whittingslow"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Malu Stewart Harris</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.COMPETITIVEPROGRAMMING' | translate }}</h5>

                                <!-- Linkedin -->
                                <!--<a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/patricio-whittingslow-3b9564140/"><i class="fab fa-linkedin"></i></a>-->
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:mastewart@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                    <div class="card-group">
                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/dL2XYfF/Juli-Vuoso.jpg" alt="Foto de Catalena Lucena Maguire"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Julián Matías Vuoso</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.PUBLICRELATIONS' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/julian-vuoso-425788192/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:juvuoso@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/7JRcVw0/grigio.jpg" alt="Foto de Juan Gabriel Griggio"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Juan Gabriel Griggio</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.LOGISTIC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://ar.linkedin.com/in/juan-gabriel-griggio-816823198"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:jgriggio@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/G998BW4/alvaro-mendez.jpg" alt="Foto de Ignacio Alberto Méndez"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Ignacio Alberto Méndez</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.LOGISTIC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/ignacio-m%C3%A9ndez-62b3b1181/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:ignmendez@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/rx5NyP1/Juli-Tallar.jpg" alt="Foto de Julián Tallar"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Julián Tallar</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.LOGISTIC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/juli%C3%A1n-tallar/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:jtallar@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>

                        <mdb-card>
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img src="https://i.ibb.co/vcfqtQf/flor-petrovich.jpg" alt="Foto de Florencia Petrikovich"></mdb-card-img>
                                <a><div class="mask rgba-white-slight"></div></a>
                            </div>

                            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                                <h4 class="card-title"><strong>Florencia Petrikovich</strong></h4>
                                <h5>{{ 'HOME.CARGO.CS.LOGISTIC' | translate }}</h5>

                                <!-- Linkedin -->
                                <a mdbWavesEffect class="cardIcon" href="https://www.linkedin.com/in/florencia-petrikovich-a2b3aa1a6/"><i class="fab fa-linkedin"></i></a>
                                <!-- Mail -->
                                <a mdbWavesEffect class="cardIcon" href="mailto:fpetrikovich@itba.edu.ar"><i class="fas fa-envelope"></i></a>
                            </mdb-card-body>
                        </mdb-card>
                    </div>

                </div>
            </mat-expansion-panel>
            
        </mat-accordion>

    </mat-tab>
    <mat-tab label="2019" disabled>
        <br>
        <h5>Equipo de 2019</h5>
    </mat-tab>
</mat-tab-group>