
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:rgb(23, 46, 148);
    background-color: transparent;
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,whitesmoke) !important;
}

::ng-deep .mat-expansion-indicator::after {
    color:rgb(23, 46, 148);
}

mat-panel-description {
    text-align: right;
}

mat-expansion-panel {
    background-color: transparent;
    margin-top: 1.5vmin;
}

mat-expansion-panel-header {
    border: var(--bs-ieee-bright-blue) 1px solid;
    border-radius: 5vmin;
}

mat-panel-title {
    color:var(--bs-ieee-bright-blue);
}

.topbottomLine {
    border-top:var(--bs-ieee-bright-blue) 2px solid;
    border-bottom: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    align-content: center;
}

.containerTitle {
    align-content: center;
    justify-content: center;
    align-self: center;
    width: 90%;
}

.page-title {
    color: var(--bs-ieee-bright-blue);
	font-size: 2.5em;
}

.IEEETeamImage{
	width: 20%;
	max-width: 72px;
	min-width: 36px;
}

.flexImage{
	display: flex;
	/* centrado horizontal */
	justify-content: center;
	/* centrado vertical */
	align-items: center;
}

.flexText{
	display: flex;
	/* centrado horizontal */
	justify-content: center;
	/* centrado vertical */
	align-items: center;
}

#colorWie{
    color: rgb(177, 138, 240);
    /* text-shadow: 0px 0px 5px rgb(177, 138, 240); */
}

#colorCS{
    color: rgb(252, 192, 111);
    /* text-shadow: 0px 0px 5px rgb(252, 192, 111); */
}

.center-text {
	text-align: center
}

.contacto{
	font-size: 36px;
	letter-spacing: -0.2px;
	word-spacing: 2.6px;
	color: var(--bs-ieee-bright-blue);
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
}

.main-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
  background-size: cover;
  padding: 160px 10% 10%;
}


@media (min-width: 768px) {

	.flexText{
		display: flex;
		/* centrado horizontal */
		justify-content: left;
		/* centrado vertical */
		align-items: center;
	}
}

