.image-with-text {
  position: relative;
  width: 100%;
}

.text-on-image {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* Card filters */

.primary-filter {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%) brightness(60%);
  transition: all ease-in 125ms;
}

.secondary-filter {
  filter: sepia(100%) hue-rotate(308deg) saturate(500%) brightness(60%);
  transition: all ease-in 125ms;
}

/* Event card move */

.event-card {
  margin: auto;
  height: 100%;
  padding: 0 !important;
}



.event-card-img {
  width: 100%;
  object-fit: cover;
  height: 16em;
  object-position: center center;
}

.event-card:hover .event-card-img {
  animation: event-move 40s infinite;
}

@keyframes event-move {
  from {
    object-position: top left;
  }
  50% {
    object-position: bottom right;
  }
  to {
    object-position: top left;
  }
}

/* Extra styles */

@media (min-width: 768px) {
  .flexText {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .text-on-image {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .text-on-image {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .text-on-image {
    font-size: 1.5rem;
  }
}


.chip-highlighted {
  background-color: #0D47A1;
  color: white;
}

.chip {
  color: white;
}


.date-container {
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}

.date-inner-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  border-radius: 15px;
  width: 50px;
  height: 70px;
  position: relative;
}

.no-date-inner {
  color: #75787B;
  font-size: 48px;
  bottom: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  margin: 8px 0;
}

.exact-date-inner {
  color: #FFA300;
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.month-container {
  font-size: 14px;
  text-align: center;
  z-index: 10;
  margin-top: 5px;
}

.day-container {
  position: relative;
  font-size: 24px;
  z-index: 10;
}

.only-month-container {
  font-size: 24px;
  z-index: 10;
  margin-top: 10px;
}

.day-month-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}
