.image-with-text {
  position: relative;
  width: 100%;
}

.text-on-image {
  position: absolute;
  bottom: 25px;
  right: 40px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* Card filters */

.primary-filter {
  filter: brightness(25%);
  transition: all ease-in 125ms;
}


/* Event card move */

.event-card {
  margin: auto;
  height: 100%;
  padding: 0 !important;
}



.event-card-img {
  width: 100%;
  object-fit: cover;
  height: 16em;
  object-position: center center;
}

.event-card:hover .event-card-img {
  animation: event-move 40s infinite;
}

@keyframes event-move {
  from {
    object-position: top left;
  }
  50% {
    object-position: bottom right;
  }
  to {
    object-position: top left;
  }
}

/* Extra styles */

.date-inner-container {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0D47A1;
  font-weight: lighter;
  font-size: 0.9em;
  padding: 0 10px 0 20px;
  text-align: right;
  gap: 5px;
}

.date-container {
  position: absolute;
  font-size: 1.2em;
  border-radius: 15px;
  bottom: 75px;
  right: 40px;
}


@media (min-width: 768px) {
  .flexText {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .text-on-image {
    font-size: 1.2rem;
  }

}

@media (min-width: 1500px) {
  .text-on-image {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .text-on-image {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .date-container {
    top: 50px;
  }
}


.chip-highlighted {
  background-color: #0D47A1;
  color: white;
}

.chip {
  color: white;
}




.no-date-inner {
  color: #75787B;
  font-size: 48px;
  bottom: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  margin: 8px 0;
}

.exact-date-inner {
  font-size: 60px;
}

.calendar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.month-container {
  font-size: 14px;
  text-align: center;
  z-index: 10;
  margin-top: 5px;
}

.day-container {
  position: relative;
  font-size: 24px;
  z-index: 10;
}

.only-month-container {
  position: absolute;
  top: 18px;
  font-size: 14px;
  z-index: 10;
  text-transform: uppercase;
}

.day-month-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.top-calendar {
  position: absolute;
  color: #FFA300;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 0 40%, 100% 40%, 100% 0);
}

.middle-calendar {
  position: absolute;
  color: #FFA300;
  top: 0;
  left: 0;
  clip-path: polygon(0 30%, 100% 30%,  100% 75%, 0 75%);
}

.bottom-calendar {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 75%, 100% 75%,  100% 100%, 0 100%);
}
