<a [routerLink]="[event.routerLink]">
  <mat-card class="event-card">
    <div class="image-with-text">
      <img
        src="{{ event.imageSrc }}"
        alt="{{ event.imageAlt }}"
        class="event-card-img"
        loading="lazy"
        [ngClass]="{'primary-filter': hasPrimaryColorIndex, 'secondary-filter': !hasPrimaryColorIndex}"
      />
      <div class="text-position">
        <div class="date-inner-container">
            <span>{{getEventDate()}}</span>
            <i class="fa {{getEventIconClass()}} ms-1"></i>
        </div>
        <p class="text-on-image">
          {{ event.titleCode | translate }}
        </p>
      </div>

    </div>
  </mat-card>
</a>

<!--

      <p class="text-on-image">

      </p>
-->
