<div class="modal-header">
    <div>
        <h2 class="modal-title"><span>{{ user.fullname }}</span></h2>
        <h4 class="modal-subtitle">{{ user.email }}</h4>
    </div>
    <button type="button" (click)="modalRef.hide()" class="btn">
        <mdb-icon fas icon="times" size="lg"></mdb-icon>
    </button>
</div>
<form>
    <div class="modal-body">
        <label for="role">{{ "ADMIN.USERTAB.TABLE.ROLE" | translate }}</label>
        <mat-chip-listbox aria-label="Role selection" (change)="changeRole($event)" id="role" multiple>
            <mat-chip-option *ngFor="let role of roles | slice:1; index as i"
                [color]="role.color"
                [selected]="user.roles.includes(i+1)"
                [value]="i+1">
                {{ role.code | translate }}
            </mat-chip-option>
        </mat-chip-listbox>
        <div *ngIf="error" class="error-container">yarn
            <p class="error">
                {{ error | translate }}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn close-btn" (click)="modalRef.hide()">{{ "HOME.EVENTS.EDIT.CANCEL" | translate }}</button>
        <button type="submit" class="btn save-btn" (click)="updateUser()">
            {{ "HOME.EVENTS.EDIT.UPDATE" | translate }}
        </button>
    </div>
</form>
