<div class="global-container-b" fxLayoutAlign="center center" fxLayout="column">

    <div class="row text-center">

        <div class="aboutIEEE">
            
                <!--<h1 class="font-weight-bold deep-orange-lighter-hover mb-3">IEEE ITBA</h1>-->
                <img class="mainIcon" src="assets/image/IEEE-Logo.svg">
                
                <p class="text">
                  Somos una organización estudiantil del ITBA cuyo objetivo es el desarrollo de la tecnología y sus aplicaciones para el avance de la humanidad.
                  <!--Sostenemos que tanto las habilidades duras como blandas son claves para poder prosperar en el mundo profesional, y en base a este convencimiento, mediante actividades, fomentamos mecanismos para fortificar ambos tipos de conocimientos.-->
                </p>
            
        </div>

    </div>

</div>
<div class="global-container"  fxLayoutAlign="center center" fxLayout="column">
    <!--<h1>
        Alcance
    </h1>-->
  <!-- Grid row -->
<div class="row text-center">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

      <div class="myCardRed">
          <div class="card-body">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="font-weight-bold deep-orange-lighter-hover mb-3">Educación</h2>
            
            <p class="text">Sostenemos que el aprendizaje permanente mediante técnicas didácticas a la altura es indispensable para difundir el conocimiento.</p>
          </div>
      </div>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">

        <div class="myCardYellow">
            <div class="card-body">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-award fa-stack-1x fa-inverse"></i>
              </span>
                <h2 class="font-weight-bold pink-lighter-hover mb-3">Competencia</h2>
                
                <p class="text">Entendemos que la superación permanente mediante competencias puede generar ambientes donde los limites son dificiles de encontrar. </p>
            </div>
        </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="myCardGreen">
            <div class="card-body">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
              </span>
                <h2 class="font-weight-bold success-lighter-hover mb-3">Contactos</h2>
                <p class="text">Defendemos que la busqueda y renovación permanente de conexiones es clave para cualquier mejora técnologica.</p>
            </div>
        </div>

    </div>
    <!-- Grid column -->

  </div>

</div>
