
.global-container{
    width:100%;
    background:#e3f2fd;
    padding: 50px;
}

.global-container-b{
  width:100%;
  background:#ffffff;
  padding: 50px;
}
.myCardRed{
  max-width: 400px;
  color: #ef5350;
  text-align: center;
  /*background-color: #00b0ff;*/
}
.myCardYellow{
  max-width: 400px;
  color: #ffb300;
  text-align: center;
}
.myCardGreen{
  max-width: 400px;
  color: #00c853;
  text-align: center;
}
.aboutIEEE{
  max-width: 700px;
  color: #000000;
  /*background-color: #00b0ff;*/
}
.text{
  color: #000000;
  padding-top:30px;
  text-align: center;
}
.mainIcon{
  max-width:100%;
  height: auto;
  margin: 10px;
}