
.global-container{
    width:100%;
    background:#e3f2fd;
    padding:100px;
}

.global-container-b{
  width:100%;
  background:#ffffff;
  padding:100px;

}
.myCardRed{
  max-width: 300px;
  color: #ef5350;
  /*background-color: #00b0ff;*/
}
.myCardYellow{
  max-width: 300px;
  color: #ffb300;
}
.myCardGreen{
  max-width: 300px;
  color: #00c853;
}
.aboutIEEE{
  max-width: 700px;
  color: #000000;
  /*background-color: #00b0ff;*/
}
.text{
  color: #000000;
  padding-top:30px;
}
.mainIcon{
  max-width:100%;
  height: auto;
}