<div class="main-container">
  <div class="bottomLine" id="home">
    <img src="../../../../../assets/image/events/ieeextreme/XtremeLogo.png" class="extremeLogo" alt="Logo ITBA-IEEE">
    <div class="container" id="facts">
      <div class="row">
        <div class="col-sm">
          <h1>15</h1>
          <h3 class="facts">{{ 'IEEEXTREME.FACTS.EDITIONS' | translate }}</h3>
        </div>
        <div class="col-sm">
          <h1>54+</h1>
          <h3 class="facts">{{ 'IEEEXTREME.FACTS.PARTICIPANTS' | translate }}</h3>
        </div>
        <div class="col-sm">
          <h1>11</h1>
          <h3 class="facts">{{ 'IEEEXTREME.FACTS.TOPTEAMS' | translate }}</h3>
        </div>
        <div class="col-sm">
          <h1>24hs</h1>
          <h3 class="facts">{{ 'IEEEXTREME.FACTS.HOURS' | translate }}</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Resolve problemas en equipo -->
  <div class="info">
    <div style="padding-right:3rem;">
      <h2 class="course-subtitle">{{ 'IEEEXTREME.TEAM.TITLE' | translate }}</h2>
      <p>{{ 'IEEEXTREME.TEAM.TEXT' | translate }}</p>
    </div>
    <div>
      <img src="../../../../../assets/image/events/ieeextreme/teamdisc_black.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
  </div>

  <!-- Queres participar -->
  <div class="info">
    <div style="padding-right:3rem;">
      <img src="../../../../../assets/image/events/ieeextreme/tournament_black.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
    <div>
      <h2 class="course-subtitle">{{ 'IEEEXTREME.PARTICIPATE.TITLE' | translate }}</h2>
      <p>{{ 'IEEEXTREME.PARTICIPATE.TEXT' | translate }}</p>
    </div>
  </div>

  <!-- Sponsors -->
  <div>
    <h2 class="course-subtitle">{{ 'IEEEXTREME.SPONSORSHIP.TITLE' | translate }}</h2>
    <br>
    <app-sponsor-component style="display: flex; justify-content: center;"
    [currentsponsor]="sponsorsServiceVar.getIeextremeSponsors()"></app-sponsor-component>
  </div>

  <!-- Sponsor team -->
  <div>
    <h2 class="course-subtitle">Sponsorship 2023</h2>
    <p>{{ 'IEEEXTREME.SPONSORSHIP.TEXT' | translate }}</p>
    <div style="display:flex; justify-content: space-around; margin-top:2rem;">
      <mat-card *ngFor="let contact of contacts" class="example-card"
              fxFlex="0 1 calc(33.3% - 16px)" fxFlex.lt-md="0 1 calc(50% - 16px)" fxFlex.lt-sm="100%">
      <mat-card-header>
        <mat-card-title>
          <b>{{ contact.name }}</b>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex-grow-1 overflow-auto mb-1">
        <a class="card-content" href="mailto:{{contact.mail}}">
          {{contact.mail}}
        </a>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
