.info {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

p {
    color: rgb(0, 0, 0);
    background: rgba(245, 245, 245, 0.2);
    padding: 2vmin 3vmin;
    border-radius: 5vmin;
    text-align: justify;
    font-size: 1.1rem;
}
  
h1 {
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    font-weight: lighter;
}

h2{
    font-size: 3vmin;
    margin-left: 20px;
    text-align: left;
    color: black;
}

.example-card {
    text-align:justify;
    padding: 0.5rem 4rem;
}

.card-content {
    text-align: justify;
    font-size: 1.2em;
}

.whiteRoundedBlock{
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 5vmin;
}

.topbottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    align-content: center;
}

.bottomLine {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    margin-bottom: 4rem;
    border-bottom: var(--bs-ieee-bright-blue) 2px solid;
    vertical-align: middle;
    align-content: center;
}

.topLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.noLine{
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    vertical-align: middle;
    align-content: center;
}

#home {
    text-align: center;
}

.extremeLogo{
    width: 35%;
}

.col-sm {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    text-align: center;
}

.sponsors-needed-text {
  margin-top: 2rem;
  font-size: large;
}

.transparent {
    background-color: grey;
    padding: 3vmin;
    border-radius: 5vmin;
    color: whitesmoke;
    text-align: justify;
}

#facts {
    margin-top: 8vmin;
}

.right {
    text-align: right;
    color: black;
}

#mailus {
    color: whitesmoke;
    font-size: 15vmin;
}

.blackbckg {
    background-color: transparent;
    color: white;
    background-color: grey;
    padding: 3vmin;
    border-radius: 5vmin;
}

.facts {
    color: black;
    text-align: center;
    font-weight: lighter;
}

.dottedlineright {
    border-right: whitesmoke dashed 1px;
}

h2 {
    color: black;
}

.sponsorContact {
    color: whitesmoke;
    background-color: grey;
    text-align: center;
    font-weight: lighter;
    padding: 3vmin;
    border-radius: 5vmin;
}

.sponsor-listing {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem 10rem;
  justify-content: center;
  align-content: center;
}

.sponsor-container {
  height: 10rem;
  width: 15rem;
  object-fit: scale-down;
}

.whiteLink {
    color: whitesmoke;
}

/* Flex */

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }

    .extremeLogo{
        width: 50%;
    }

}

@media (max-width: 576px) {
    body {
        padding-top: 25%;
    }

    .extremeLogo{
        width: 70%;
    }

}

.course-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--bs-ieee-bright-blue-80);
    letter-spacing: 1px;
}

.course-subtitle {
    font-size: 1.5rem;
    color: var(--bs-ieee-bright-blue);
    font-weight: 600;
    margin-top: 0.5rem;
}

.contact-cards {
    display:flex; 
    justify-content: space-around; 
    margin-top:2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media (max-width: 770px) {
    .course-title {
        font-size: 1.7rem;
    }
    .info {
        flex-flow: column;
    }
    .info > div {
        padding: 0 !important;
    }
    .reversed {
        flex-flow: column-reverse
    }
}