<div class="main-container event">
  <app-event-facts-banner
    imageUrl="../../../../../assets/image/events/ieeextreme/XtremeLogo.png"
    imageAlt="Logo IEEEXtreme"
    [facts]="facts"
  ></app-event-facts-banner>

  <!-- Resolve problemas en equipo -->
  <div class="info">
    <app-event-section title="{{ 'IEEEXTREME.TEAM.TITLE' | translate }}"
      style="padding-right:3rem;">
      <p>{{ 'IEEEXTREME.TEAM.TEXT' | translate }}</p>
    </app-event-section>
    <div>
      <img src="../../../../../assets/image/events/ieeextreme/teamdisc_black.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
  </div>

  <!-- Queres participar -->
  <div class="info reversed">
    <div style="padding-right:3rem;">
      <img src="../../../../../assets/image/events/ieeextreme/tournament_black.png" height="160vmin" alt="Logo ITBA-IEEE">
    </div>
    <app-event-section title="{{ 'IEEEXTREME.PARTICIPATE.TITLE' | translate }}">
      <p>{{ 'IEEEXTREME.PARTICIPATE.TEXT' | translate }}</p>
    </app-event-section>
  </div>

  <app-event-date-section [dates]="event.dates" />

  <!-- Sponsors -->
  <app-event-section title="{{ 'IEEEXTREME.SPONSORSHIP.TITLE' | translate }}">
    <app-sponsor-component style="display: flex; justify-content: center;"
    [currentsponsor]="sponsorsServiceVar.getIeextremeSponsors()"></app-sponsor-component>
  </app-event-section>

  <!-- Sponsor team -->
  <app-event-section title="Sponsorship 2023">
    <p>{{ 'IEEEXTREME.SPONSORSHIP.TEXT' | translate }}</p>
    <div style="display: flex; justify-content:center;">
      <app-event-content-card
      *ngFor="let contact of contacts"
      title="{{contact.name }}"
      [image] = "false"
    >
      <a content class="card-content" href="mailto:{{contact.mail}}">
        {{contact.mail}}
      </a>
    </app-event-content-card>
    </div>
  </app-event-section>

    <!-- Editor de evento -->
    <app-event-editor-button *ngIf="!!event" [event]="event" (updateEmitter)="updateEvent($event)"></app-event-editor-button>
</div>
