.ieeextreme-cards-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 0;
    margin: 2rem 0 3rem;
}

.sponsor-team {
    display: flex;
    justify-content:center;
}

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }
    .sponsor-team {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 25%;
    }
    .sponsor-team {
        font-size: 0.7rem;
    }
}

@media (max-width: 900px) {
    .ieeextreme-cards-grid {
        grid-template-columns: minmax(0, 1fr);
    }
}
