html {
    min-height: 100%;
    height: auto;
}

body {
    padding: 10%;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #f0f0f0 0%, white 100%);
    background-size: cover;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.whiteRoundedBlock{
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 5vmin;
}

.topbottomLine { 
    border-top:#0d47a1 2px solid;
    border-bottom: #0d47a1 2px solid;
    vertical-align: middle;
    align-content: center;
    
}

.page-title {
    color: #0d47a1
}

.bottomLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-bottom: whitesmoke 2px solid;
    vertical-align: middle;
    align-content: center;
}

.topLine {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-top: rgb(92, 91, 91) 2px solid;
    vertical-align: middle;
    align-content: center;
}

.noLine{
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    vertical-align: middle;
    align-content: center;
}

#home {
    text-align: center;
}

.col-sm {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    text-align: center;
}

.transparent {
    background-color: rgba(245, 245, 245, 0.3);
    padding: 3vmin;
    border-radius: 5vmin;
    color: whitesmoke;
    text-align: justify;
}
 

h1 {
    color: rgb(0, 0, 0);
    font-size: 5vmin;
    font-weight: lighter;
}

.right {
    text-align: right;
}

#mailus {
    color: whitesmoke;
    font-size: 15vmin;
}

.whitebckg {
    background-color: transparent;
    color: black;
    background-color: whitesmoke;
    padding: 3vmin;
    border-radius: 5vmin;
}

.facts {
    color: whitesmoke;
    text-align: center;
    font-weight: lighter;
}

.dottedlineright {
    border-right: whitesmoke dashed 1px;
}

h2 {
    color: whitesmoke;
}

.sponsorContact {
    color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.3);
    text-align: center;
    font-weight: lighter;
    padding: 3vmin;
    border-radius: 5vmin;
}

.whiteLink {
    color: whitesmoke;
}

.mat-tab-label:active{ 
    padding: 5px;
    background-color:white;
    color:white;
    font-weight: 700;
}

.mat-tab-label:selected{ 
    padding: 5px;
    background-color:white;
    color:white;
    font-weight: 700;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:  rgb(23, 46, 148);
  }

  /* ink bar */
::ng-deep .mat-ink-bar {
    background-color:  rgb(23, 46, 148) !important;
    }


/* Flex */

@media (max-width: 950px) {
    body {
        padding-top: 20%;
    }

}


 