<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors</title>
</head>
<header>
    <app-navbar></app-navbar>
</header>

<body>

    <div class="topbottomLine pt-2 pb-2 mb-4" id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm pt-1 pb-1" >
                    <h1 class="page-title">{{ 'NAVBAR.SPONSORS' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>

    <mat-tab-group class="mt-4">
        <mat-tab label="2020">
            <div class="bottomLine">
                <div class="container">
                    <div class="row" style="margin-top: 2vmin;">
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/innovid.png" height="35vmin" alt="Logo Innovid"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/jpmorgan.png" height="90vmin" alt="Logo jpmorgan"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/eiwa.png" height="85vmin" alt="Logo Eiwa"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>

                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{ 'GENERAL.ALL' | translate }}">
            <div class="bottomLine">
                <div class="container">
                    <div class="row" style="margin-top: 2vmin;">
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/jpmorgan.png" height="60vmin" alt="Logo Innovid"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/innovid.png" height="30vmin" alt="Logo Avature"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/eiwa.png" height="85vmin" alt="Logo Eiwa"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/inclusion.png" height="40vmin" alt="Logo Inclusion"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2vmin;">
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/mulesoft.png" height="50vmin" alt="Logo Mulesoft"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/flowics.png" height="45vmin" alt="Logo Flowics"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/tgs.png" height="60vmin" alt="Logo TGS"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/pampa.png" height="50vmin" alt="Logo Pampa"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm">
                            <img src="./../../assets/image/sponsors/unify.png" height="30vmin" alt="Logo Unify"
                                style="position: relative; top: 50%; transform: translateY(-50%);">
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</body>
<app-footer></app-footer>

</html>